// custom variables

$white: #fff;
$black: #000;
$gray: #333;
$primary: #23304E;
$secondary: #0F4C82; 
$red: #DE0A0A;
$lightgray: #F5F5F5;
$blue: #2990eb;
$green: #1EA226;
$bordercolor: #687480;

$left: left;
$center: center;
$right: right;

$fontXS: 11px;
$fontSmall: 12px;
$fontMiddle: 13px;
$font14: 14px;
$fontMedium: 15px;
$fontLarge: 16px;
$fontExtraLarge: 18px;

$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$iconBg: url(../images/icon-sprite.svg) no-repeat;

/* variable for font-family */
