{% extends "admin/layout/layout.html" %}
{% load static %}
{% load dashboard_extra %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.css">
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% load humanize %}
    <div class="chat-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <div class="chat-top">
              <div class="block">
                <h6>
                  <strong>Chat</strong>
                </h6>
              </div>

              <div class="block">
                <select name="filter_chat" id="filter_chat" aria-label="All" class="select form-control" onchange="filterChatListing();">
                  <option value="">All</option>
                  {% if request.session.is_broker %}
                  <option value="agent">Agent</option>
                  {% else %}
                  <option value="broker">Broker</option>
                  {% endif %}
                  <option value="buyer">Buyer</option>
                </select>
              </div>

            </div><!-- End .chat-top -->
            {% comment %} {% if chat_listing %} {% endcomment %}
              <div class="chat-bottom">
              <div class="chat-sidebar">
                <input type="hidden" name="first_master_id" id="first_master_id" value="{{ first_master_id }}" />
                <input type="hidden" name="last_master_id" id="last_master_id" value="{{ last_master_id }}" />
                <input type="hidden" name="chat_master_id" id="chat_master_id" value="" />
                <input type="hidden" name="first_msg_id" id="first_msg_id" value="" />
                <input type="hidden" name="last_msg_id" id="last_msg_id" value="" />
                <input type="hidden" name="left_page_offset" id="left_page_offset" value="" />
                <input type="hidden" name="left_page_size" id="left_page_size" value="" />
                <input type="hidden" name="right_page_offset" id="right_page_offset" value="" />
                <input type="hidden" name="right_page_size" id="right_page_size" value="" />
                <ul id="chat_listings">
                  {% comment %} {% for chat in chat_listing %} {% endcomment %}
                  {% comment %} <li class="chat_rooms {% if chat.unread_msg_cnt > 0 and chat.is_my_chat %}unread{% endif %} {% if chat.seller == request.session.user_id %}enable_chat{% endif %}" onclick="active_chatroom(this)" data-id="{{ chat.id }}" data-name="{{ chat.name }}" data-msg="{{ chat.last_message }}" data-email="{{ chat.email }}" data-phone="{{ chat.phone_no }}" data-property="{{ chat.property_data.id|default:'' }}" data-property-name="{{ chat.property_data.name|default:'' }}">
                    <figure>
                      <img src="{% if chat.image.doc_file_name %}{{ azure_blob_url }}{{ chat.image.bucket_name }}/{{ chat.image.doc_file_name }}{% else %}{% static 'admin/images/no-image.jpg' %}{% endif %}" alt="real estate sales">
                    </figure>
                    <figcaption>
                      <h6>
                        {{ chat.name }} <span class="user-type">({{ chat.user_type }})</span>
                      </h6>
                      <p>
                        {{ chat.last_message|truncatechars:30 }}
                      </p>
                      <div class="timer convert_to_local_date_message" data-value="{{ chat.last_message_date|default:'' }}">
                        Loading...
                      </div>
                      <div class="circle" style="{% if chat.unread_msg_cnt > 0 and chat.is_my_chat %}{% else %}display:none;{% endif %}">{{ chat.unread_msg_cnt|default:'' }}</div>
                    </figcaption>
                  </li> {% endcomment %}
                  {% comment %} {% endfor %} {% endcomment %}
                </ul>
              </div><!-- End .chat-sidebar -->

              <div class="chat-rightbar">
                <div class="chat-top-active" style="{% if chat_listing|length > 0 %}display:flex;{% else %}display:none;{% endif %}">
                  <div class="block">
                    <figure>
                      <img src="{% static 'admin/images/no-image.jpg' %}" alt="real estate sales" id="active_chat_img">
                    </figure>
                    <figcaption>
                      <h6 class="chat_name">
                        Jennifer Fritz
                      </h6>
                    </figcaption>
                  </div>
                  <div class="block">
                    <ul>
                      <li>
                        <a href="javascript:void(0)" id="active_chat_email"><i class="fas fa-envelope" aria-hidden="true" role="presentation"></i> johnsmith@gmail.com</a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" id="active_chat_phone"><i class="fas fa-phone-alt" aria-hidden="true" role="presentation"></i> +1-202-555-0169</a>
                      </li>
                    </ul>
                  </div>
                </div><!-- End .chat-top-active -->

                <div class="chat-middle">
                  <ul class="chat-list" id="chat_list">

                  </ul>
                </div>
                <form name="chat_msg_form" id="chat_msg_form" method="post">
                <div class="chat-bottom-fixed" style="display:none">
                  <input type="hidden" id="chat_doc_id" name="chat_doc_id" value=""/>
                  <input type="hidden" name="chat_doc_name" id="chat_doc_name" value=""/>
                  <ul id="chat_fixed_bottom">
                    <li>
                      <textarea name="chat_message_input" id="chat_message_input" placeholder="Type a message"></textarea>
                      <ol class="chat-preview" style="display:none;">
                        <li></li>
                      </ol>
                    </li>
                    <li>
                      <a href="javascript:void(0)"><span class="smile-icon"></span></a>
                    </li>
                    <li>
                      <div class="upload-pic">
                        <input type="file" id="file" aria-label="File Upload" />
                        <label for="file"><span class="attach-icon"></span></label>
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0)" id="send_msg_btn" class="send-btn" onclick="save_chat_message()">Send <span class="send-icon"></span></a>
                    </li>
                  </ul>
                </div>
                  </form>
              </div><!-- End .chat-rightbar -->
            </div><!-- End .chat-bottom -->
            {% comment %} {% else %} {% endcomment %}
            <div class="chat-blank" style="display:none">
              <img class="cntr" src="{% static 'admin/images/no-chat.png' %}" alt="real estate sales">
            </div><!-- End .chat-blank -->
            {% comment %} {% endif %} {% endcomment %}


          </div><!-- End .col-md-10 -->
        </div><!-- End .row -->
      </div><!-- End .dashboard-body -->

    <div class="overlay" style="display:none;">
      <div class="loader">Loading...</div>
    </div>

    <div id="confirmChatDocDeleteModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete This Document</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <input type="hidden" name="popup_section" id="popup_section" value=""/>
          <input type="hidden" name="popup_image_id" id="popup_image_id" value=""/>
          <input type="hidden" name="popup_image_name" id="popup_image_name" value=""/>
          <div class="modal-body">
            <p class="font15 center">
              Are you sure you want to delete?
            </p>
            <div class="clearfix center">
               <button type="button" class="btn btn-secondary del_offer_doc" id="del_offer_doc_true">Yes</button> <button type="button" class="btn btn-primary-bdr del_offer_doc" id="del_offer_doc_false">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block js_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% static 'admin/js/custom_validator.js' %}?v=2.4"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/custom.js' %}?v=2.7"></script>
<script type="text/javascript" src="{% static '/admin/js/custom_js.js' %}"></script>
<script type="text/javascript" src="{% static '/admin/js/chat.js' %}?v=1.0"></script>
<script type="text/javascript" src="{% static 'admin/js/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/custom_dropzone.js' %}?v=3.1"></script>
<!-- chat socket -->
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> {% endcomment %}
<script type="text/javascript" src="{% static '/admin/js/chat_socket.js' %}?v=1.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.js"></script>
<!--end chat socket-->

<script>
  var is_first_login = {{request.session.is_first_admin_login}};
  const ip_address = "{{ip_address}}";
  var user_id = '{{ request.session.user_id }}';
  var is_broker = '{{request.session.is_broker}}';

  $(document).ready(function () {
    $('.select').chosen();
    var charsidebar = $(window).height();;
    $(".chat-sidebar, .chat-rightbar").css("height", charsidebar - 160);
    $(".chat-middle").css("height", charsidebar - 300);
  });

  $( window ).resize(function() {
    var charsidebar = $(window).height();;
    $(".chat-sidebar, .chat-rightbar").css("height", charsidebar - 160);
    $(".chat-middle").css("height", charsidebar - 300);
  });
</script>
{% endblock %}
