{% load static %}
{% if estimator_category_list %}
    {% for category in estimator_category_list %}
    <tr role="row" class="even pointer">
    <td class=" ">{{ forloop.counter0|add:sno }}</td>
    <td class=" ">{{category.name}}</td>
    <td class=" ">
      {% if category.status_name|lower == 'active' %}
      <button type="button" class="btn  btn-xs btn-round btn-success" id="statusText{{category.id}}">Active</button>
      {% else %}
      <button type="button" class="btn  btn-xs btn-round btn-warning" id="statusText{{category.id}}">Inactive</button>
       {% endif %}
    </td>
    <td role="rowheader" class="last">
      <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
        <button type="button" data-id="{{category.id}}" data-name="{{category.name}}" data-status="{% if category.status_name|lower == 'active' %}1{% else %}0{% endif %}" data-slug="{{ category.slug|default:'' }}" class="btn btn-xs btn-round btn-primary edit-category"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Edit</button>

          {% comment %}
          <input type="hidden" name="event_id" value="{{category.id}}">
          <input type="hidden" class="status-change" name="status" value="{% if category.status_name|lower == 'active' %}0{% else %}1{% endif %}">
          {% if category.status_name|lower == 'active' %}
            <button type="submit" class="btn btn-xs btn-round btn-warning"><i class="fa fa-remove" aria-hidden="true" role="presentation"></i> Deactivate</button>
          {% else %}
            <button type="submit" class="btn btn-xs btn-round btn-success"><i class="fa fa-check" aria-hidden="true" role="presentation"></i> Activate</button>
          {% endif %}
          {% endcomment %}
      </div>

    </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr role="row">  
      <td class=" " role="rowheader">No Category available </td>
    </tr>
    {% endif %}
    <script type="text/javascript" src="{% static 'admin/build/js/estimator-category.js' %}"></script>