@font-face {
  font-family: 'Arapey';
  src: url('../fonts/Arapey-Italic.eot');
  src: url('../fonts/Arapey-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Arapey-Italic.woff2') format('woff2'),
      url('../fonts/Arapey-Italic.woff') format('woff'),
      url('../fonts/Arapey-Italic.ttf') format('truetype'),
      url('../fonts/Arapey-Italic.svg#Arapey-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Arapey';
  src: url('../fonts/Arapey-Regular.eot');
  src: url('../fonts/Arapey-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Arapey-Regular.woff2') format('woff2'),
      url('../fonts/Arapey-Regular.woff') format('woff'),
      url('../fonts/Arapey-Regular.ttf') format('truetype'),
      url('../fonts/Arapey-Regular.svg#Arapey-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Bold.eot');
  src: url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSerif-Bold.woff2') format('woff2'),
      url('../fonts/PTSerif-Bold.woff') format('woff'),
      url('../fonts/PTSerif-Bold.ttf') format('truetype'),
      url('../fonts/PTSerif-Bold.svg#PTSerif-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Italic.eot');
  src: url('../fonts/PTSerif-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSerif-Italic.woff2') format('woff2'),
      url('../fonts/PTSerif-Italic.woff') format('woff'),
      url('../fonts/PTSerif-Italic.ttf') format('truetype'),
      url('../fonts/PTSerif-Italic.svg#PTSerif-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-BoldItalic.eot');
  src: url('../fonts/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSerif-BoldItalic.woff2') format('woff2'),
      url('../fonts/PTSerif-BoldItalic.woff') format('woff'),
      url('../fonts/PTSerif-BoldItalic.ttf') format('truetype'),
      url('../fonts/PTSerif-BoldItalic.svg#PTSerif-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Regular.eot');
  src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSerif-Regular.woff2') format('woff2'),
      url('../fonts/PTSerif-Regular.woff') format('woff'),
      url('../fonts/PTSerif-Regular.ttf') format('truetype'),
      url('../fonts/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'Gotham';
//   src: url('../fonts/Gotham-Light.eot');
//   src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Gotham-Light.woff2') format('woff2'),
//       url('../fonts/Gotham-Light.woff') format('woff'),
//       url('../fonts/Gotham-Light.ttf') format('truetype'),
//       url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('../fonts/Gotham-Book.eot');
//   src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Gotham-Book.woff2') format('woff2'),
//       url('../fonts/Gotham-Book.woff') format('woff'),
//       url('../fonts/Gotham-Book.ttf') format('truetype'),
//       url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('../fonts/Gotham-Medium.eot');
//   src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Gotham-Medium.woff2') format('woff2'),
//       url('../fonts/Gotham-Medium.woff') format('woff'),
//       url('../fonts/Gotham-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('../fonts/Gotham-Bold.eot');
//   src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Gotham-Bold.woff2') format('woff2'),
//       url('../fonts/Gotham-Bold.woff') format('woff'),
//       url('../fonts/Gotham-Bold.ttf') format('truetype'),
//       url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Gotham';
//   src: url('../fonts/GothamBlack.eot');
//   src: url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/GothamBlack.woff2') format('woff2'),
//       url('../fonts/GothamBlack.woff') format('woff'),
//       url('../fonts/GothamBlack.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'GLYPHICONS Halflings';
  src: url('../fonts/GLYPHICONSHalflings-Regular.eot');
  src: url('../fonts/GLYPHICONSHalflings-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GLYPHICONSHalflings-Regular.woff2') format('woff2'),
      url('../fonts/GLYPHICONSHalflings-Regular.woff') format('woff'),
      url('../fonts/GLYPHICONSHalflings-Regular.ttf') format('truetype'),
      url('../fonts/GLYPHICONSHalflings-Regular.svg#GLYPHICONSHalflings-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.9);
  visibility: visible;
  opacity: 1;
  z-index: 99999;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
.loader {
  top: 45%;
  left: 0;
  right: 0;
  position: relative;
  transform: translateY(-45%);
  margin: 0 auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1em solid rgba(0, 0, 0, 0.2);
  border-right: 1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1em solid rgba(0, 0, 0, 0.2);
  border-left: 1em solid $secondary;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media screen and (min-width: 1200px) and (max-width: 1680px) {
  .container {
      width: 85%;
  }
  .container-fluid{
    width: 90%;
  }
}
@media (min-width: 1681px) {
  .container {
      width: 85%;
  }
}


body {
  font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  color: $black;
  line-height: 1.62857;
  font-size: $fontMedium;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include breakpoint(laptop) {
    font-size: $fontMiddle;
  }
  @include breakpoint(md) {
    font-size: $fontSmall;
  }
  
  &.overflow-hidden {
    overflow: hidden;
  }
}

@media not all and (min-resolution:.001dpcm) { 
  body {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  } 
} 

/* Safari 10.1+ (alternate method) */

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  body {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  } 
}}

a,
button,
input[type="submit"],
input[type="button"] {
  @include css3-transition(transition, all 0.4s ease);
}

.suceess-msg {
  a {
    text-decoration: underline;
  }
}


.btn + .btn {
  
  @include breakpoint(xs) {
    margin-left: 5px;
  }
}

a {
  color: $black;
  &:hover, &:focus {
    color: $secondary;
  }
}

ul {
  margin: 0;
  padding: 0;
}


.body-content {
  clear: both;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 500px;
  @include breakpoint(xxs) {
    padding-top: 45px;
  }
}

.lh46 {
  line-height: 45px;
}
.lh34 {
  line-height: 34px;
}


.left {
  text-align: $left;
}
.center {
  text-align: $center;
}
.right {
  text-align: $right;
}

.fullwidth {
  float: left;
  width: 100% !important;
}

.required {
  color: $secondary;
}
.red-text {
  color: $secondary;
}
.blue-text {
  color: #005EC9;
}
.green-text {
  color: $green;
}
.light-text{
  color: rgba($color: #000000, $alpha: 0.7);
}
.black-text {
  color: #000 !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.mb0{
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}

.error {
  color: #EC3D3D;
  font-size: $fontXS;
  position: absolute;
  padding-top: 3px;
  letter-spacing: normal;
  text-transform: none;
}
.success {
  color: $secondary;
  font-size: $fontXS;
  position: absolute;
  padding-top: 0px;
}
.required {
  color: $secondary;
}
.close {
  width: 17px;
  height: 17px;
  top: 15px;
  right: 15px;
  text-indent: -999999px;
  background-position: -564px -324px;
  @include iconBg();
}
.tagline {
  position: absolute;
  font-size: 10px;
  bottom: -12px;
  line-height: 11px;
}

.form-group {
  position:relative;  
}
.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: rgba($color: #000000, $alpha: 0.7);
  font-weight: normal !important;
  font-style: normal;
  font-size: $fontMedium;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-70%);
  font-size: $fontSmall;
  color: rgba($color: #000000, $alpha: 0.7);
}
.form-input {
  position: relative;
  padding: 15px 0px 9px 0;
  font-size: $fontMedium;
  width: 100%;
  outline: 0;
  border: none;
  border-bottom: 1px solid $bordercolor;
  transition: box-shadow 150ms ease-out;
  &.error {
    color: $black;
  }
}

.form-group {
  label {
    font-weight: 500;
    font-size: $fontMedium;
    margin-bottom: 0;
    color: rgba($color: #000000, $alpha: 0.7);
    @include breakpoint(laptop) {
      font-size: $fontMiddle;
    }
  }
}

.form-control {
  height: 45px;
  border: none;
  border-bottom: 1px solid $bordercolor;
  padding: 0;
  color: $black;
  font-size: $fontMedium;
  position: relative;
  resize: none;
  @include border-radius(0);
  @include breakpoint(lg) {
    font-size: $fontMiddle;
    height: 35px;
  }
  &.bdr {
    border: 1px solid $bordercolor;
    padding: 10px;
  }
  &.input-sm {
    height: 34px;
  }
  &.input-bg {
    padding: 0 10px;
    background: #EFEFEF;
    box-shadow: -2px 3px 7px inset #dcdcdc;
    border-bottom-color: #efefef;
    &:focus {
      background: #EFEFEF;
      box-shadow: -2px 3px 7px inset #dcdcdc;
      outline: none;
      border-color: #efefef;
    }
  }
  &.no-bg {
    background: transparent;
    &:focus {
      background: transparent;
    }
  }
  &:focus {
    background: $white;
    box-shadow: none;
    outline: none;
    border-color: $bordercolor;
  }
}
.no-bg {
  .chosen-container-single .chosen-single {
    background: transparent;
  }
}
.form-control[readonly]{
  background: $white;
  color: rgba(0,0,0,0.7);
}
.form-control[disabled]{
  background: $white;
}

.btn {
  line-height: 45px;
  height: 45px;
  padding: 0px 30px;
  font-size: $fontMedium;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  @include border-radius(0);
  @include breakpoint(laptop) {
    padding: 0px 25px;
    letter-spacing: 1px;
    font-size: $font14;
  }
  @include breakpoint(lg) {
    padding: 0px 20px;
    font-size: $fontMiddle;
    line-height: 35px;
    height: 35px;
  }
  @include breakpoint(xs) {
    padding: 0px 15px;
  }
  @include breakpoint(xxs) {
    padding: 0px 10px;
    margin-bottom: 5px;
  }
  
  &:focus, &:visited {
    outline: none;
  }
  &.pl20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  &.btn-sm {
    height: 34px;
    line-height: 34px;
    padding: 0px 20px;
    font-size: $fontMiddle;
    @media (max-width: 1366px) {
      padding: 0px 10px;
      font-size: $fontSmall;
    }
    @include breakpoint(xs) {
      font-size: $fontXS;
      margin-bottom: 3px;
    }
  }
  &.btn-xs {
    height: 22px;
    line-height: 22px;
    padding: 0px 10px;
    font-size: $fontSmall;
    @media (max-width: 1366px) {
      padding: 0px 8px;
    }
  }
  &.btn-primary {
    background: $black;
    border: $black;
    &:hover {
      background: $secondary;
    }
  }
  &.btn-primary-bdr {
    background: $white;
    border: 1px solid $black;
    color: $black;
    &:hover {
      color: $white;
      background: $secondary;
      border: 1px solid $secondary;
    }
  }
  &.btn-secondary {
    background: $secondary;
    border: $secondary;
    &:hover {
      background: $black;
      border: $black;
    }
  }
  &.btn-secondary-bdr {
    background: $white;
    border: 1px solid $secondary;
    color: $black;
    &:hover {
      color: $white;
      background: #af1525;
      border: 1px solid #af1525;
    }
  }
  &.btn-default {
    background: #D2D2D2;
    border: #D2D2D2;
    color: $black;
    &:hover {
      background: #B4B4B4;
      border: #B4B4B4;
    }
  }
  &.btn-gray {
    background: #687480;
    border: #687480;
    color: $white;
    &:hover {
      background: $black;
      border: $black;
    }
  }
  &.btn-blue {
    background: #187BCD;
    border: #187BCD;
    color: $white;
    &:hover {
      background: #1266aa;
      border: #1266aa;
    }
  }
  &.btn-green {
    background: $green;
    border: $green;
    color: $white;
    &:hover {
      background: #198B20;
      border: #198B20;
    }
  }
}

.btn-full {
  width: 100%;
}
.pink-text {
  color: $secondary;
}

.clearfix {
  clear: both;
}

.text-decoration {
  text-decoration: underline;
}

strong, .bold {
  font-weight: 500;
}


.table-responsive {
  overflow-x: initial;
}

.table {
  // box-shadow: 0px 0px 12px rgba(0,0,0,.14);
  background: $white;
  border: 1px solid #ddd;
  thead,
  tbody {
    tr {
      border-bottom: 1px solid #ddd;
      th {
        font-size: $fontMedium;
        background-color: #D8D8D8;
        color: $black;
        line-height: 25px;
        border: none;
        word-break: break-all;
        white-space: normal;
        box-sizing: border-box;
        font-weight: 500;
        @include breakpoint(laptop) {
          font-size: $fontMiddle;
          padding: 8px 10px;
        }
        @include breakpoint(md) {
          font-size: $fontSmall;
        }
        span {
          display: inline;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #ddd;
      &:nth-child(even){
        background: #f6f6f6;
      }
      td {
        color: $black;
        font-size: $fontMedium;
        border-top: none;
        padding: 10px 15px;
        word-break: break-all;
        white-space: normal;
        box-sizing: border-box;
        @include breakpoint(laptop) {
          font-size: $fontMiddle;
          padding: 8px 10px;
        }
        @include breakpoint(md) {
          font-size: $fontSmall;
        }
        &.action {
          position: relative;
          a {
            color: #0A0A0A;
          }
        }
      }
    }
  }
}

.dropdown-menu {
  top: 10px;
  right: inherit;
  padding: 0;
  left: inherit;
  min-width: 200px;
  max-height: 110px;
  overflow: auto;
  background: $white;
  @include border-radius(0);
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  &.right {
    right: 0;
  }
  li {
    padding: 8px 10px 8px 40px;
    color: $black;
    font-size: $fontMedium;
    position: relative;
    min-height: 33px;
    &:hover, &:focus { 
      background: #E5E8ED;
    }
    a {
      color: $black;
      font-size: $fontMedium;
      padding: 0;
      text-align: left;
      @include breakpoint(laptop) {
        font-size: $fontSmall;
      }
      &:hover {
        background: transparent;
      }
      i {
        font-size: $fontMedium;
        padding-right: 5px;
        width: 20px;
        text-align: center;
        position: absolute;
        left: 15px;
        top: 10px;
      }
    }
  }
}

button[disabled], html input[disabled]{
  background: #f5f5f5;
}

@media (min-width: 992px){
  .modal-laptop {
    width: 90%;
  }
}
.modal-content {
  @include border-radius(6px);
}
.modal-header {
  padding: 20px 30px;
  @include breakpoint(xs) {
    padding: 10px;
  }
  .close {
    font-weight: 100;
    margin-top: 0;
  }
}
.modal-body {
  padding: 0 30px 20px 30px;
  border: none;
  word-break: break-word;
  @include breakpoint(xs) {
    padding: 10px;
  }
  .tab-content {
    margin-top: 20px;
  }
}
.modal-footer {
  padding: 20px 30px;
  border-top: 1px solid #e5e5e5;
  text-align: right;
  @include breakpoint(xs) {
    padding: 10px;
  }
}

.regular {
  font-weight: 400;
}
.font12 {
  font-size: $fontSmall;
}
.font13 {
  font-size: $fontMiddle;
}
.font15 {
  font-size: $fontMedium;
}

.autocomplete-items {
  position: absolute;
  box-shadow: 1px 0 3px 2px rgba(0,0,0,0.15);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  max-height: 210px;
  overflow-y: auto;
  top: 100%;
  left: 0;
  right: 0;
  @include border-radius(8px);
  div {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    font-size: $font14;
    color: rgba(0,0,0,0.7);
    strong {
      font-weight: 400;
    }
    &:first-child {
      @include border-radius(8px 8px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 8px 8px);
    }
    &:hover {
      background: #e6ebff;
      color: #000;
    }
  }
}
.autocomplete-active {
  background-color: #e6ebff !important;
  color: #ffffff;
}

.ui-autocomplete {
  margin: 0;
  padding: 0;
  border: none !important;
  max-height: 225px;
  overflow-y: auto;
  li {
    border: none;
    font-size: $fontMedium;
    font-weight: $normal;
    &:last-child {
      border-bottom: none;
      .ui-menu-item-wrapper {
        .suggestion-name {
          lable {
            display: none;
          }
        }
      }
    }
    a {
      display: block;
      &:hover,
      &:focus {
        background: $secondary;
        .ui-menu-item-wrapper {
          .suggestion-type {
            color: $white;
          }
        }
        a {
          color: $white !important;
        }
      }
    }
    .ui-state-active {
      background: $secondary;
      border: none;
      color: $white;
    }
    .ui-menu-item-wrapper {
      padding: 10px 20px;
      font-size: $fontMedium;
      .suggestion-name {
        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 16px;
        }
        label {
          width: 100%;
          font-size: $fontSmall;
          line-height: 13px;
          padding: 8px 0 0 12px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          position: relative;
          color: rgba(74, 74, 74, 0.8);
          &:before {
            position: absolute;
            top: 8px;
            left: 0px;
            content: "\f041";
            font-family: fontAwesome;
          }
        }
      }
      .suggestion-type {
        float: right;
        font-size: $fontSmall;
      }
    }
  }
}


.badge {
  padding: 4px 6px;
  font-size: $fontMiddle;
  font-weight: 400;
  @include border-radius(4px);
  &.bids-limit {
    padding: 4px 10px;
  }
  &.bidder-badge {
    padding: 8px 14px 8px 6px;
  }
  &.badge-success {
    background: #1EA226;
  }
  &.badge-warning {
    background: #EC8B0C;
  }
  &.badge-danger {
    background: #EC3D3D;
  }
  &.badge-info {
    background: #005EC9;
  }
  &.badge-default {
    background: $black;
  }
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba($color: #000000, $alpha: 0.9);
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba($color: #000000, $alpha: 0.9);
}
::placeholder {
  color: rgba($color: #000000, $alpha: 0.9);
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E8E8E8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.tool-pic {
  
  &::-webkit-scrollbar-thumb {
    background: $secondary;
  }
  &::-webkit-scrollbar-track {
    background: #000;
  }
}


h1 {
  font-size: 48px;
  @media (max-width: 1367px) {
    font-size: 43px;
  }
  @include breakpoint(md) {
    font-size: 38px;
  }
  @include breakpoint(xs) {
    font-size: 33px;
  }
  @include breakpoint(xxs) {
    font-size: 28px;
  }
}
h2 {
  font-size: 38px;
  @media (max-width: 1367px) {
    font-size: 34px;
  }
  @include breakpoint(md) {
    font-size: 30px;
  }
  @include breakpoint(xs) {
    font-size: 27px;
  }
  @include breakpoint(xxs) {
    font-size: 23px;
  }
}
h3 {
  font-size: 34px;
  @media (max-width: 1367px) {
    font-size: 30px;
  }
  @include breakpoint(md) {
    font-size: 27px;
  }
  @include breakpoint(xs) {
    font-size: 24px;
  }
  @include breakpoint(xxs) {
    font-size: 20px;
  }
}
h4 {
  font-size: 24px;
  @media (max-width: 1367px) {
    font-size: 20px;
  }
  @include breakpoint(md) {
    font-size: 18px;
  }
  @include breakpoint(xs) {
    font-size: 16px;
  }
}
h5 {
  font-size: 20px;
  @media (max-width: 1367px) {
    font-size: 18px;
  }
  @include breakpoint(md) {
    font-size: 16px;
  }
  @include breakpoint(xs) {
    font-size: 15px;
  }
}
h6 {
  font-size: 18px;
  @media (max-width: 1367px) {
    font-size: 16px;
  }
  @include breakpoint(md) {
    font-size: 15px;
  }
  @include breakpoint(xs) {
    font-size: 14px;
  }
  strong {
    font-weight: 500;
  }
}



.centered-modal.in {
  display: flex !important;
  @include breakpoint(xs) {
    display: inherit !important;
    padding-top: 10px;
  }
}
.centered-modal .modal-dialog {
  margin: auto;
}

.modal-dialog {
  @include breakpoint(xs) {
    width: 95%;
  }
}
.modal-mdl {
  @include breakpoint(xs) {
    width: 95%;
  }
}


.animation {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
  }

  0% {
    -webkit-transform: translateY(20px);
  }
}

@keyframes slideUpIn {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(20px);
  }
}

.slideUpIn {
  -webkit-animation-name: slideUpIn;
  animation-name: slideUpIn;
}



.content {
  display: block;
  margin-bottom: 0;
  padding: 0;
  color: $black;
  small {
    display: inherit;
    font-size: $fontMiddle;
    color: rgba($color: #000000, $alpha: 0.8);
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 1px dashed #C1C1C1;
  }
  h6 {
    font-size: $fontMedium;
    line-height: 16px;
    color: $secondary;
    font-weight: 400;
  }
  ul {
    padding-bottom: 20px;
    li {
      font-size: $fontMedium;
      line-height: 28px;
      color: rgba($color: #000000, $alpha: 0.8);
    }
  }
}

// .nav {
//   position: relative;
//   z-index: 1;

//   & > a {
//     width: 55%;
//     text-align: center;
//     position: relative;
//     display: inline-block;
//     line-height: 20px;
//     padding: 13px 0;
//     color: $white;
//     text-decoration: none;
//     margin: 0 -2.5em 0 0;
//     @include border-radius(30px);
    
//     &:hover {
//       color: $white;
//     }
//   }
//   a::before {
//     content: '';
//     position: absolute;
//     top: 0; 
//     right: 0; 
//     bottom: 0; 
//     left: 0;
//     z-index: -1;
//     border-bottom: none;
//     background: #C1C4C7;
//     @include border-radius(30px);
//   }
// }

// .nav a.active {
//   z-index: 2;
//   color: #fff;
//   &::before {
//     background-color: $black;
//     @include border-radius(30px);
//   }
// }

.tab-right {
  .nav { padding-left: 0; }
  .nav a::before { transform-origin: bottom right; }
}



// Default Table

table {
  @include breakpoint(laptop) {
    font-size: $fontMiddle;
  }
  @include breakpoint(md) {
    font-size: $fontSmall;
  }
}

.default-table {
  overflow-x: auto;
  margin-bottom: 20px;
  .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:first-child {
        background: #D8D8D8;
        .item {
            line-height: 25px;
            font-weight: 500;
        }
    }
    .item {
        font-size: $fontMedium;
        word-break: break-word;
        white-space: normal;
        padding: 10px 15px;
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @include breakpoint(laptop) {
          font-size: $fontMiddle;
          padding: 8px 10px;
        }
        &:last-child {
          text-align: center;
        }
        &.fullwidth {
          float: inherit;
          padding-top: 30px;
          padding-bottom: 30px;
        }
        .brokr-nme {
            span {
                display: block;
            }
        }
        .chosen-container .chosen-results li {
          @include breakpoint(lg) {
              padding: 6px 10px;
              font-size: 12px;
          }
        }
        .chosen-container {
            border: 1px solid #C6C6C6 !important;
            &.chosen-container-single {
                .chosen-single {
                    padding: 0 35px 0 15px !important;
                    line-height: 32px;
                    font-size: $font14;
                    color: $black;
                    @include breakpoint(lg) {
                        font-size: $fontSmall;
                        padding: 0 20px 0 10px !important;
                    }
                    div {
                        right: 15px !important;
                        @include breakpoint(lg) {
                            right: 5px !important;
                        }
                    }
                }
            }
        }
        &.date-block {
          display: table; 
          text-align: left;
          span {
            display: block;
            line-height: 15px;
          }
        }
        .dropup {
          .dropdown-menu.right {
            bottom: -10px;
            max-height: 110px;
          }
          &.act-scroll {
            .dropdown-menu.right {
              bottom: -10px;
              max-height: 110px;
            }
          }
        }
        .total-bidder {
          width: 22px;
          padding: 0;
          height: 22px;
          line-height: 22px;
          text-align: center;
          display: inline-block;
          color: $black;
          background: $white;
          border:1px solid #005ec9;
          vertical-align: middle;
          margin-left: -11px;
          font-weight: 500;
          font-size: $fontSmall;
          @include border-radius(100%);
          &.yellow {
            border:1px solid #ec8b0c;
          }
        }

        .user-pics {
            display: flex;
            align-items: center;
            width: 100%;
            a {
              display: flex;
              align-items: center;
              width: 100%;
              &:hover {
                color: $black;
              }
            }
            &.agent-pics {
                .user-pic {
                    width: 28px;
                    height: 28px;
                    img {
                        width: 100%;
                        height: 100%;
                        @include border-radius(100%);
                    }
                }
                h6 {
                    width: calc(100% - 40px);
                    padding-right: 0px;
                    font-size: $fontMedium;
                    @include breakpoint(laptop) {
                      font-size: $fontMiddle;
                    }
                    a {
                      display: initial;
                    }
                }
            }
            .user-pic {
                width: 56px;
                height: 42px;
                display: inline-block;
                margin-right: 10px;
                img {
                  max-width: 100%;
                  max-height: 100%;
                  width: 100%;
                  height: 100%;
                  @include border-radius(4px);
                }
            }
            h6 {
                font-size: $font14;
                margin-bottom: 0;
                width: calc(100% - 65px);
                span {
                    padding-bottom: 3px;
                    display: block;
                }
            }
        }
        
    }
    .block-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #DDD;
        &:last-child {
          border-bottom: none;
        }
        &:nth-child(even){
          background: #f6f6f6;
        }
    }
    &.sscroll {
        overflow: hidden;
        overflow-y: auto;
        max-height: 680px;
        min-height: 300px;
        align-content: baseline;
        border: 1px solid #DDD;
        background: $white;
    }
  }
}


.pagination {
  width: 100%;
  ul { 
    display: flex;
    justify-content: flex-end;
  }
}

.width100 {
  width: 100%;
}
.width90 {
  width: 90%;
}
.width80 {
  width: 80%;
}
.width70 {
  width: 70%;
}
.width60 {
  width: 60%;
}
.width50 {
  width: 50%;
}
.width47 {
  width: 47%;
}
.width40 {
  width: 40%;
}
.width30 {
  width: 30%;
}
.width20 {
  width: 20%;
}
.width10 {
  width: 10%;
}

.customTooltip {
	position: absolute;
	top: 12px;
	left: 52px;
	font-size: 12px;
	color: white;
	padding: 5px 10px;
	background: black;
	white-space: nowrap;
	border-radius: 5px;
	transition: all 0.4s ease-out;
	opacity: 0;
	visibility: hidden;
	&:before {
		content: " ";
		position: absolute;
		left: -5px;
		top: 50%;
		transform: translateY(-50%);
		border-top: 5px solid transparent;
		border-right: 5px solid black;
		border-left: none;
		border-bottom: 5px solid transparent;
	}
}

.container-fluid {
  @include breakpoint(xs) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  @include breakpoint(xs) {
    padding-left: 10px;
    padding-right: 10px;
  }
}