{% extends "admin/layout/layout.html" %}
{% load static %}
{% load dashboard_extra %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link href="{% static 'admin/css/dropzone.css' %}?v=2.1" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.css">
{% endblock %}
{% load tz %}
{% block content %}
{% load humanize %}
<div class="dashboard-body">
  <div class="row">
    <div class="col-md-12 col-sm-12">

      <div class="listing-top">
        <div class="block">
          <h6>
            <strong id="startTourBtn">Employee</strong>
          </h6>
        </div>
        
        <div class="block filters">
          <ul>
            <li>
              <form action="" class="search-field last">
                <div class="search-icon"><i class="fas fa-search" aria-hidden="true" role="presentation"></i></div>
                <input type="text" name="employee_search" aria-label="Search" id="employee_search" placeholder="Search" class="form-control input-sm sugesstion_input" value="{{ request.GET.search|default:'' }}"><button type="button" role="button" id="searchEmployeeBtn" class="btn btn-primary btn-xs" onclick="listingSearch(1);">Search</button>
              </form>
            </li>
            
            {% if is_broker == True %}
              <li>
                <select name="developer_id" aria-label="developer_id" id="developer_id" class="select form-control" onchange="listingSearch(1);">
                  <option value="">Select Developer</option>
                  {% for developer in developer_list %}
                    <option value="{{ developer.id }}" {% if developer.id|add:"0" == developer_id|add:"0" %}selected{% endif %}>{{ developer.first_name }}</option>
                  {% endfor %}
                </select>
              </li>
            {% endif %}

            <li>
              <select name="filter_status" aria-label="Status" id="filter_status" class="select form-control" onchange="listingSearch(1);">
                <option value="">All Status</option>
                <option value="active" selected>Active</option>
                <option value="inactive" {% if request.GET.status and request.GET.status == 'inactive' %}selected{% endif %}>Inactive</option>
              </select>
            </li>
            
            <li>
              <select name="num_record" aria-label="Record" id="num_record" class="select form-control" onchange="listingSearch(1);">
                <option value="">Record Per Page</option>
                <option value="10" {% if request.GET.perpage and request.GET.perpage == 10 %}selected{% endif %}>10 Employee</option>
                <option value="20" {% if request.GET.perpage and request.GET.perpage == 20 %}selected{% endif %}>20 Employee</option>
                <option value="30" {% if request.GET.perpage and request.GET.perpage == 30 %}selected{% endif %}>30 Employee</option>
                <option value="40" {% if request.GET.perpage and request.GET.perpage == 40 %}selected{% endif %}>40 Employee</option>
                <option value="50" {% if request.GET.perpage and request.GET.perpage == 50 %}selected{% endif %}>50 Employee</option>
              </select>
            </li>
            <li>
              <a href="/admin/add-employee/" class="btn btn-primary btn-xs"><i class="fas fa-plus" aria-hidden="true" role="presentation"></i> New Employee</a>
            </li>
            <li>
              <a href="javascript:void(0)" onclick="employee_csv_download()" class="btn btn-primary btn-xs"></i>Download CSV</a>
            </li>
          </ul>
        </div>
      </div><!-- End .listing-top -->

        <div id="parent_list" class="listing-table">
          {% if all_data %}
            {% if all_data|length > 3 %}
              {% define_var all_data|length|add:'-1' as first_row %}
              {% define_var all_data|length as second_row %}
            {% else %}
              {% define_var 0 as first_row %}
              {% define_var 0 as second_row %}
            {% endif %}
            {% for data in all_data %}
              <div id="row_{{ data.id }}" class="new-listing_blocks developer {% if first_row > 0 and second_row > 0 %}{% if forloop.counter == first_row or forloop.counter == second_row %}last-row{% endif %}{% endif %}">
                <ul class="bottom">
                  <li>
                    {{ data.email|default:'' }}
                  </li>
                  <li>
                    <i class="fa-solid fa-phone" aria-hidden="true" role="presentation"></i>+{{data.phone_country_code|default:971}} {{ data.phone_no|default:''|format_phone }}
                  </li>
                  <li>
                    <i class="fa-solid fa-calendar-days" aria-hidden="true" role="presentation"></i> Create Date | <span class="convert_to_local_date_time" data-value="{{ data.added_on|default:'' }}">
                      {{ data.added_on }}
                    </span>
                  </li>
                  <li>
                    <i class="fa-solid fa-calendar-days" aria-hidden="true" role="presentation"></i> Last Login  | <span class="date-block {% if data.last_login == None %}  {% else %} convert_to_local_date_time {% endif%}" data-value="{{ data.last_login|default:'' }}">
                      {% if data.last_login == None %}  {% else %} {{ data.last_login }} {% endif %}
                    </span>
                  </li>
                </ul>
                <ul class="top">
                  <li>
                    <figure>
                      <img class="slide-fixed" src="{% static 'admin/images/transparent.png' %}" alt="real estate sales">
                      <img class="slide-img" src="{% if data.profile_image.doc_file_name and 'http' in data.profile_image.doc_file_name %}{{ data.profile_image.doc_file_name }} {% elif data.profile_image.doc_file_name %}{{ azure_blob_url }}{{ data.profile_image.bucket_name }}/{{ data.profile_image.doc_file_name }}{% else %}{% static 'admin/images/no-image.jpg' %}{% endif %}" alt="real estate sales">
                    </figure>
                    <figcaption>
                      <h6>
                        <span>
                          {{ data.first_name|default:'' }}
                          {% if data.is_upgrade %}
                          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="User upgraded to Agent"><img src="{% static 'admin/images/up-arrow.svg' %}" alt="real estate sales"></a>
                          {% endif %}
                        </span>
                      </h6>
                      <p class="location">
                        <i class="fas fa-map-marker-alt" aria-hidden="true" role="presentation"></i> {{ data.address_first|default:'' }}, {{ data.state|default:'' }}, {{ data.postal_code|default:'' }}
                      </p>  
                    </figcaption>
                  </li>
                  <li>
                    <div class="action-icon">
                      <span class="view-list">
                        <i class="fa-solid fa-ellipsis" aria-hidden="true" role="presentation"></i>
                        <ul>
                          <li>
                            <a href="/admin/add-employee/?id={{ data.id }}"><i class="fas fa-edit" aria-hidden="true" role="presentation"></i> Edit Employee</a>
                          </li>
                          <!-- <li>
                            <a href="javascript:void(0)" onclick="delete_confirmation({{ data.id }})"><i class="fas fa-trash" aria-hidden="true" role="presentation"></i> Delete Employee</a>
                          </li> -->
                        </ul>
                      </span>
                    </div>

                    <ol class="circle-high">
                      <li>
                        <div class="icon"><i class="fa-solid fa-user-tie fa-2x" aria-hidden="true" role="presentation"></i></div>
                        <span class="badge {% if data.user_status|lower == 'active' %}badge-success{% else %}badge-danger{% endif %}">
                          {{ data.user_status|default:'' }}
                        </span>
                        <h6 class="pt10">
                          Status
                        </h6>
                      </li>
                      <li>
                        <div class="icon"><i class="fa-solid fa-building fa-2x" aria-hidden="true" role="presentation"></i></div>
                        <h5 class="blue-text">
                          <a href="/admin/project-list/?e_i={{data.id}}">{{ data.project_cnt|default:'NA' }}</a>
                        </h5>
                        <h6 class="pt10">
                          No. Projects
                        </h6>
                      </li>
                      <li>
                        <div class="icon"><i class="fa-solid fa-building fa-2x" aria-hidden="true" role="presentation"></i></div>
                        <h5 class="blue-text">
                          <a href="/admin/listing/?e_i={{data.id}}">{{ data.property_cnt|default:'NA' }}</a>
                        </h5>
                        <h6 class="pt10">
                          No. Property
                        </h6>
                      </li>
                    </ol>
                  </li>
                </ul>    
              </div><!-- End .block-item -->
              
            {% endfor %}
            {% else %}
            <div class="listing-table">
              <div class="new-listing_blocks ">
                <ul class="bottom">
                  <li>
                    No data Available
                  </li>
                </ul>
                <ul class="top">
                  <li class="fullwidth">
                    <img src="{% static 'admin/images/no-data-image.png' %}" alt="No Data Found" role="img" class="center mb0" />
                  </li>
                </ul>
                
              </div><!-- End .block-item -->
            </div><!-- End .create-table -->
            
            {% endif %}
          </div><!-- End .create-table -->

          <div class="pagination">
            <ul id="listing_pagination_list">
              {{ pagination_html }}
            </ul>
          </div><!-- End .pagination -->

    </div><!-- End .col-md-12 -->
  </div><!-- End .row -->
</div><!-- End .dashboard-body -->


  <div id="confirmEmployeeDeleteModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="font15 center">
                    Are you sure you want to delete?
                  </p>
                  <div class="clearfix center">
                    <button class="btn btn-primary-bdr del_employee_btn" id="del_false">No</button> <button class="btn btn-primary del_employee_btn" id="del_true">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End .logoutModal -->
<div class="overlay" style="display:none;">
              <div class="loader">Loading...</div>
            </div>
{% endblock %}
{% block js_content %}
    <script type="text/javascript" src="{% static 'admin/js/custom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_validator.js' %}?v=2.4"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/autosuggestion.js' %}?v=1.9"></script>
    <script type="text/javascript" src="{% static 'admin/js/pagination.js' %}?v=1.1"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom-date-time.js' %}?v=4.2"></script>
    <script type="text/javascript" src="{% static 'admin/js/employee.js' %}?v=5.2"></script>
    <script type="text/javascript" src="{% static 'admin/js/dropzone.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_dropzone.js' %}?v=3.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.js"></script>

    <script>
      $('[data-toggle="tooltip"]').tooltip();
    </script>
{% endblock %}