{% load dashboard_extra %}
{% if no_page > 10 %}
    {% if no_page > 1 %}
        {% if current_page == 1 %}
            <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">Previous</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult({{current_page|add:'-1'}})">Previous</a></li>
        {% endif %}

        {% if current_page|add:'-5' > 0 and not current_page|divisibleby:'5' and current_page > 6 %}
            {% if current_page == 1 %}
                <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">1</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult(1)">1</a></li>
            {% endif %}

        {% endif %}
        {% if current_page|divisibleby:'5' and current_page > 6 %}
            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult(1)">1</a></li>
        {% endif %}
        {% if current_page|add:'-5' > 1 %}
                <li class="page-item"><a class="page-link" href="javascript:void(0)">...</a></li>
        {% endif %}
        {% define_var current_page|add:'-5' as loop_start %}
        {% define_var current_page|add:'5' as loop_end %}
        {% define_var '' as last_index %}
        {% for i in loop_start|range:loop_end %}
            {% if i > 0 and i <= no_page  %}
                {% if current_page == i  %}
                    <li id="{{ i }}" class="page-item active"><a class="page-link" href="javascript:void(0)">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult({{ i }})">{{ i }}</a></li>
                {% endif %}
            {% endif %}

        {% endfor %}
        {% define_var current_page|add:'5' as new_var %}
        {% cal_var no_page new_var as my_varr %}
        {% if my_varr >= 0 %}
            <li class="page-item"><a class="page-link" href="javascript:void(0)">...</a></li>
        {% endif %}

        {% if loop_end < no_page or no_page|add:'-5' == current_page %}
            {% if current_page == no_page %}
                <li id="{{ no_page }}" class="page-item active"><a class="page-link" href="javascript:void(0)">{{ no_page }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult({{ no_page }})">{{ no_page }}</a></li>
            {% endif %}
        {% endif %}

        {% if current_page < no_page %}
            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult({{ current_page|add:'1' }})">Next</a></li>';
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">Next</a></li>
        {% endif %}
    {% endif %}
{% else %}
    {% if no_page > 1 %}
        {% if current_page == 1 %}
        <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">Previous</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult({{current_page|add:'-1'}})">Previous</a></li>
        {% endif %}

        {% for page in total_page %}
        {% if current_page == forloop.counter %}
            <li id="1" class="page-item active"><a class="page-link" href="javascript:void(0)">{{forloop.counter}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult({{forloop.counter}})">{{forloop.counter}}</a></li>
        {% endif %}
        {% endfor %}

        {% if current_page == no_page%}
        <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">Next</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="getresult({{current_page|add:1}})">Next</a></li>
        {% endif %}
    {% endif %}
{% endif %}