.chosen-container {
  border: 1px solid #e9e9e9;
  box-shadow: none;
  font-size: $font14;
  height: 50px;
  @include border-radius (16px);

  @include breakpoint(lg) {
    line-height: 35px;
    height: 35px;
  }

  @include breakpoint(md) {
    font-size: $fontSmall;
  }

  &.chosen-container-multi {
    position: relative;
    height: auto;
    min-height: 50px;

    &:before {
      content: "";
      position: absolute;
      right: 12px;
      top: 20px;
      width: 14px;
      height: 8px;
      background: url(../images/select-down-arrow.svg) no-repeat;
    }

    &:after {
      right: 10px !important;
    }
  }

  .chosen-drop {
    .selectallSection {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      font-size: $font14;

      .closeIcon {
        background: url(../images/close.svg) no-repeat scroll 0 5px;
        width: 10px;
        height: 15px;
        text-indent: -999px;
        display: inline-block;
      }
    }
  }

  .chosen-results li {
    font-size: $font14;

    .checkBox {
      margin-right: 10px;
    }
  }
}

.chosen-container-active .chosen-choices {
  box-shadow: none;
  border: none;
}

.chosen-container-multi .chosen-choices {
  line-height: 48px !important;
  background-image: none;
  background-color: transparent;
  padding: 0 35px 0 10px !important;
}

.chosen-container-single {
  .chosen-single {
    color: $black;
    line-height: 44px;
    text-align: left;
    background-color: transparent;
    padding: 0 35px 0 10px;
    @include border-radius (8px);

    div {
      right: 10px !important;
    }
  }
}

.chosen-container .chosen-results li.new-feature {
  border-bottom: 1px solid #ddd;
}