{% extends "admin/layout/layout.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% load dashboard_extra %}
{% block content %}

<div class="dashboard-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            
            <div class="listing-top">
              <div class="block">
                <h6>
                  <strong>Scheduled Tours</strong>
                </h6>
              </div>
              <div class="block">
                <form action="" class="search-field last ui-widget">
                  <div class="search-icon"><i class="fas fa-search" aria-hidden="true" role="presentation"></i></div>
                  <input type="text" name="schedule_search" aria-label="Search" placeholder="Search" id="schedule_search" class="form-control input-sm sugesstion_input" value="{{ request.GET.search|default:'' }}"><button type="button" id="searchScheduleBtn" class="btn btn-primary btn-xs" onclick="scheduletourSearch()">Search</button>
                </form>
              </div>
              <div class="block filters">
                <ul>
                  <li>
                    <select name="schedule_num_record" id="schedule_num_record" area-label="Record" title="Record" class="select form-control" onchange="scheduletourSearch()">
                      <option value="">Record Per Page</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                    </select>
                  </li>
                  
                </ul>
              </div>
            </div><!-- End .listing-top -->

            <div class="listing-table" id="schedule_listing">
              {% if schedule_tour_list %}
              {% for schedule in schedule_tour_list %}
              <div class="listing_blocks" id="schedule_row_{{ schedule.id }}">
                <ul class="bottom">
                  <li>
                    No :  {{ forloop.counter0|add:sno }}
                  </li>
                  <li>
                    Availability | {{ schedule.availability|default:"" }}
                  </li>
                  <li>
                    Scheduled Date | {{ schedule.schedule_date|cst_parse_iso|date:'m-d-Y'|default:'' }}
                  </li>
                  <li>
                    Created Date | {{ schedule.added_on|cst_parse_iso|date:'m-d-Y'|default:'' }}
                  </li>
                </ul>
                <ul class="top">
                  <li>
                    <span class="badge {% if schedule.status|lower == 'active' %}badge-success{% else %}badge-danger{% endif %}">
                      {{ schedule.status|default:'' }}
                    </span>
                    <h6 class="name">
                      <a href="/asset-details/?property_id={{ schedule.property_id }}" target="_blank" class="blue-text">{{ schedule.property_address_one|default:"" }}, {{ schedule.property_city|default:"" }}, {{ schedule.property_state|default:"" }} {{ schedule.property_postal_code|default:"" }}</a>
                    </h6>
                  </li>
                  <li>
                    <h6 class="buyer-name">
                      <i class="fa-solid fa-user" aria-hidden="true" role="presentation"></i>
                      {{ schedule.first_name|default:"" }} {{ schedule.last_name|default:"" }}
                      <span>
                        Name
                      </span>
                    </h6>
                  </li>
                  <li>
                    <div class="email-text">
                      <i class="fa-solid fa-envelope" aria-hidden="true" role="presentation"></i>
                      {{ schedule.email|default:"" }}
                    </div>
                    <div class="email-text">
                      <i class="fa-solid fa-phone" aria-hidden="true" role="presentation"></i>
                      {{ schedule.phone_no|default:''|format_phone }}
                    </div>
                  </li>
                  <li>
                    <h6 class="buyer-name">
                      <i class="fa-solid fa-user" aria-hidden="true" role="presentation"></i>
                      {{ schedule.tour_type|default:"" }}
                      <span>
                        Tour Type
                      </span>
                    </h6>
                  </li>
                  <li>
                    <div class="email-text">
                      <i class="fa-solid fa-comment-dots" aria-hidden="true" role="presentation"></i>
                      <a href="javascript:void(0)" onclick='msg_detail("{{ schedule.message }}")'>View Message</a>
                    </div>
                  </li>
                </ul>
              </div><!-- End .block-item -->
              {% endfor %}
              {% else %}
              <div class="parcel_blocks">
                <ul class="bottom">
                  <li>
                    No data Available
                  </li>
                </ul>
                <ul class="top">
                  <li class="fullwidth">
                    <img src="{% static 'admin/images/no-data-image.png' %}" alt="No Data Found" role="img" class="center mb0" />
                  </li>
                </ul>
              </div><!-- End .block-item -->
              {% endif %}
            </div><!-- End .listing-table -->
            <div class="pagination">
              {{ pagination_html }}
            </div>
          </div><!-- End .col-md-10 -->
        </div><!-- End .row -->
      </div><!-- End .dashboard-body -->


<div class="overlay" style="display:none;">
              <div class="loader">Loading...</div>
            </div>

<div id="scheduleToursModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div id="message" class="message"></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_content %}

    <script type="text/javascript" src="{% static 'admin/js/tableHeadFixer.js' %}?v=1.1"></script>
    <script type="text/javascript" src="{% static 'admin/js/mask_input.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom.js' %}?v=1.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_validator.js' %}?v=2.3"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/autosuggestion.js' %}?v=2.0"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_js.js' %}?v=4.6"></script>
    <script type="text/javascript" src="{% static 'admin/js/schedule_tours.js' %}?v=4.6"></script>
    
  <script>
    $("#phone_no").inputmask('(999) 999-9999');
    function msg_detail(msg){
      msgDetail(msg)
    }
  </script>
{% endblock %}