{% extends "admin/layout/layout.html" %}
{% load static %}

{% block title %} Add Template {% endblock title %}

{% block style %}
{{ block.super }}
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">

  <h3>Add Template</h3>

  <div class="box">

    {% if messages %}
    {% for message in messages %}
    <div
      class="alert {% if message.tags == 'error' %} alert-danger {% elif message.tags == 'success' %} alert-success {% else %} alert-info {% endif %} alert-dismissible "
      role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>{{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <form method="post" id="addTemplate" action="{% url 'admin-ajax-add-email-template' %}" class="form-label-left"
      data-parsley-validate>
      {% csrf_token %}


      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="site">Choose Domain
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="select form-control" aria-label="Choose Domain" id="site" name="site">
            <option value="" selected>Choose Available Domain</option>
            {% for obj in domain_list %}
            {% if obj.is_active %}
            <option value="{{obj.id}}">{{obj.domain_name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="site">Status <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="select form-control" aria-label="Status" id="status" name="status" required="required">
            <option value="" selected>Choose Status</option>
            {% for obj in status_list %}
            {% if obj.is_active %}
            <option value="{{obj.id}}">{{obj.status_name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <a href="{% url 'admin-lookup-status' %}#add-status" target="_blank" type="button"
          class="btn btn-primary btn-round"> Add more <i class="fa fa-external-link" aria-hidden="true"
            role="presentation"></i></a>
      </div>

      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="site">Event <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select class="select form-control" id="event" aria-label="Event" name="event" required="required">
            <option value="" selected>Choose Event</option>
            {% for obj in event_list %}
            {% if obj.is_active %}
            <option value="{{obj.id}}">{{obj.event_name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <a href="{% url 'admin-event-type' %}#add-event-type" target="_blank" type="button"
          class="btn btn-primary btn-round"> Add more <i class="fa fa-external-link" aria-hidden="true"
            role="presentation"></i></a>
      </div>

      <h4>Template info</h4>


      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="email_subject">Email Subject <span
            class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input id="email_subject" class="form-control col-md-7 col-xs-12" aria-label="Email Subject"
            data-parsley-trigger="keyup" name="email_subject" placeholder="Enter email subject" required="required"
            type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="email_content">Email Message <span
            class="required">*</span>
        </label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <textarea class="form-control email_content" id="email_content" aria-label="Email Message"
            name="email_content" required="required" rows="3" placeholder="Enter message body..." style="height: 120px;"
            spellcheck="true"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="notification_subject">Notification Subject
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input id="notification_subject" class="form-control col-md-7 col-xs-12" aria-label="Notification Subject"
            data-parsley-trigger="keyup" name="notification_subject" placeholder="Enter notification subject" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="notification_subject_ar">Notification Subject In Arabic
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input id="notification_subject_ar" class="form-control col-md-7 col-xs-12" aria-label="Notification Subject In Arabic"
            data-parsley-trigger="keyup" name="notification_subject_ar" placeholder="Enter notification subject in arabic" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="notification_text">Notification Message
        </label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <textarea class="form-control notification_text" id="notification_text" aria-label="Notification Message"
            name="notification_text" rows="3" placeholder="Enter message body..." style="height: 120px;"
            spellcheck="true"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="notification_text_ar">Notification Message In Arabic
        </label>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <textarea class="form-control notification_text" id="notification_text_ar" aria-label="Notification Message In Arabic"
            name="notification_text_ar" rows="3" placeholder="Enter message body..." style="height: 120px;"
            spellcheck="true"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <button type="reset" class="btn btn-primary-bdr">Reset</button>
          <button id="submitAddCms" type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </div>

</div>


{% endblock %}

{% block js_content %}
<script>
  $(function () {
    setTimeout(function () {
      $(".alert").hide();
    }, 3000);

    $('.select').chosen();

  });
</script>
<script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/build/js/add-email-template.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/vendors/tinymce/tinymce.min.js' %}"></script>



{% endblock %}