{% load static %}

<div class="table-responsive">
<table class="table jambo_table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="Email Template Table" role="table">
    <thead>
        <tr role="row" class="headings">
            <th class="column-title" role="columnheader" scope="col">ID </th>
            <th class="column-title" role="columnheader" scope="col" style="width:10%">Domain Name </th>
            <th class="column-title" role="columnheader" scope="col">Event Name </th>
            <th class="column-title" role="columnheader" scope="col">Subject </th>
            <th class="column-title" role="columnheader" scope="col">Slug</th>
            <th class="column-title" role="columnheader" scope="col" style="width:10%">Added on </th>
            <th class="column-title" role="columnheader" scope="col">Status </th>
            <th class="column-title no-link last" role="columnheader" scope="col" style="width:14%">
                <span class="nobr">Action</span>
            </th>
        </tr>
    </thead>

    <tbody>
    {% if data.total > 0 %}
        {% for template in data.data %}
        <tr role="row" class="even pointer">
            <th class="" role="columnheader" scope="row">
                {{ forloop.counter|add:start_index }}
            </th>
            <td role="rowheader">
                {{template.domain|default:'-'}}
            </td>
            <td role="rowheader">
                {{template.event_name}}
            </td>
            <td class="" role="rowheader">
                {% autoescape off %}
                {{ template.email_subject|striptags|truncatewords:"8" }}
                {% if template.email_subject|striptags|wordcount > 8 %}
                <a href="javascript:;" class="text-primary" data-toggle="tooltip" title="{{ template.email_subject|striptags|safe}}">view more</a>
                {% endif %}
                {% endautoescape %}
            </td>
            <td class="" role="rowheader">
                {{template.event_slug}}
            </td>
            <td role="rowheader" class="convert_to_local_date" data-value="{{ template.added_on|default:'' }}">{{template.added_on|parse_iso|date:'m-d-Y g:i A'}}</td>
            <td role="rowheader" class=" ">
                <span class="btn  btn-xs btn-round {% if template.status == 1 %} btn-success {% elif template.status == 5 %} btn-danger {% else %} btn-warning {% endif %}" id="statusText{{template.id}}">{{template.status_name}}</span> 
            </td>
            <td role="rowheader" class="last">
                <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
                
                <form method="post" action="{% url 'admin-email-template-status-change' %}" data-id="{{template.id}}" action="" class="ActiveInactive" >
                    {% csrf_token %}
                    <input type="hidden" name="template_id" value="{{template.id}}">
                    <input type="hidden" class="status-change" name="status" value="{% if template.status == 1 %}2{% else %}1{% endif %}">
                    {% if template.status == 1 %}
                    <button type="submit" role="button" class="btn btn-xs btn-round btn-warning"><i class="fa fa-remove" aria-hidden="true" role="presentation"></i> Deactivate</button>
                    {% else %}
                    <button type="submit" role="button" class="btn btn-xs btn-round btn-success"><i class="fa fa-check" aria-hidden="true" role="presentation"></i> Activate</button>
                    {% endif %}
                </form>
                <a href="{% url 'admin-edit-email-template' template.id %}" role="link" aria-label="Edit template" aria-description="Edit seperate template" tabindex="5" class="btn btn-xs btn-round btn-primary edit-template"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Edit</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr role="row">  
            <td class=" " colspan="8" role="rowheader">No CMS available </td>
        </tr>
    {% endif %}
    
    </tbody>
</table>
</div>

{% if data.total > 0 %}
<nav class="pagination" aria-label="Page navigation example">
  <ul >
    {{pagination|safe}}
  </ul>
</nav>
{% endif %}

{% block js_content %}
  <script>
  $(function() {
      $('body').tooltip({selector: '[data-toggle="tooltip"]'});
       $('#totalCount').html('{{data.total}}');


      $('.convert_to_local_date').each(function(){
        try{
            var added_on = $(this).attr('data-value');
            if(added_on.trim() != "" && added_on.trim() != "None"){
                //var local_date = getLocalDate(added_on.trim(), 'mm/dd/yyyy','ampm');
                var local_date = getLocalDateFromCST(added_on.trim(), 'mm/dd/yyyy','ampm');
                var actual_date = local_date.split(" ");
                actual_date = actual_date[0]+' '+actual_date[1]+' '+actual_date[2];
                $(this).html(actual_date);
            }else{
                $(this).html('-');
            }
        }catch(ex){
            console.log(ex);
        }
    });
  });
  </script>
{% endblock %}
