{% extends "admin/layout/layout.html" %}
{% load static %}
{% load dashboard_extra %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
{% endblock %}
{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        
        <div class="listing-top">
          <div class="block">
            <h6>
              <strong>Insider Auction Listings</strong>
            </h6>
          </div>
          <div class="block">
            <form action=""  onkeydown="return event.key != 'Enter';" class="search-field last">
              <div class="search-icon"><i class="fas fa-search" aria-hidden="true" role="presentation"></i></div>
              <input type="text" aria-label="Search" class="form-control input-sm sugesstion_input" name="prop_search" id="prop_search"  placeholder="Search...">
              <button type="button" id="searchAuctiomyBtn" onclick="auctionListingSearch(1);" class="btn btn-primary btn-xs pl20">Search</button>
            </form>
          </div>
        </div>

        <div class="listing-bottom">
          
          <div class="block" >
            <select class="select form-control" name="filter_agent" aria-label="All Agents" title="All Agents" tabindex="4" id="filter_agent" onchange="auctionListingSearch(1);">
              <option value="">All Agents</option>
              {% for agent in agent_list %}
              <option value="{{ agent.id }}">{{ agent.first_name }}&nbsp;{{agent.last_name}}</option>
              {% endfor %}
            </select>
          </div>
          <!-- <div class="block">
            <select class="select form-control" name="filter_auction_type" id="filter_auction_type" onchange="auctionListingSearch(1);">
                <option value="">All Auction Type</option>
                {% comment %} {% for item in auction_type_list %}
                <option value="{{ item.id }}">{{ item.auction_type }}</option>
                {% endfor %} {% endcomment %}
                <option value="1">Classic Online Auction</option>
            </select>
          </div> -->
          <div class="block">
            <select class="select form-control" name="filter_asset_type" aria-label="All Asset Types" title="All Asset Types" tabindex="5" id="filter_asset_type" onchange="filter_property_asset_type(this, 1);">
                <option value="">All Asset Types</option>
                {% for asset in asset_listing %}
                <option value="{{ asset.id }}">{{ asset.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="block">
            <select class="select form-control" name="filter_property_type" aria-label="All Property Subtypes" title="All Property Subtypes" tabindex="6" id="filter_property_type" onchange="auctionListingSearch(1);">
                <option value="">All Property Subtypes</option>
                {% for item in property_type_listing %}
                <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="block">
            <select class="select form-control" name="prop_filter_status" aria-label="All Status" title="All Status" tabindex="7" id="prop_filter_status" onchange="auctionListingSearch(1);">
                    <option value="">All Status</option>
                    <option value="1" selected="selected" >Active</option>
                    <option value="17" >Coming Soon</option>
                    {% comment %} <option value="10"> Auction Ended</option> {% endcomment %}
                    <option value="9" >Sold</option>
                    <option value="16" >Pending Review</option>
                    <option value="8" >Not Sold</option>
                    {% comment %} {% if status_list %}
                    {% for item in status_list %}
                    <option value="{{ item.id }}" {% if item.id == 1 %}selected="selected"{% endif %}>{{ item.status_name }}</option>
                    {% endfor %}
                    {% endif %} {% endcomment %}
                </select>
          </div>
          <div class="block">
            <select class="select form-control" name="prop_num_record" aria-label="Record" title="Record" tabindex="8" id="prop_num_record" onchange="auctionListingSearch(1);">
              <option value="">Record per page</option>
              <option value="10" selected="selected">10 Property</option>
              <option value="20">20 Property</option>
              <option value="30">30 Property</option>
              <option value="40">40 Property</option>
              <option value="50">50 Property</option>
            </select>
          </div>
        </div>

        <div class="default-table insider-table">
          <div class="block">
            <div class="item">
              No.
            </div>
            <div class="item">
              Property Name
            </div>
            <!-- <div class="item">
              Status
            </div> -->
            <div class="item">
              Timer
            </div>
            <div class="item">
              Auction Status
            </div>
            <div class="item">
              Auction Stage 
            </div>
            <div class="item">
              High Bidder
            </div>
            <div class="item">
              Total Bids
            </div>
            <div class="item">
              Bidders
            </div>
            <div class="item">
              Watching
            </div>
            <div class="item">
              Bid Increment
            </div>
            <div class="item">
              Next Bid
            </div>
            <div class="item">
              Action
            </div>
          </div><!-- End .block -->
          <input type="hidden" name="counter_num" id="counter_num" value="{{ sno|default:1 }}">
          <div class="block sscroll" id="auctionList">
            {% if auction_data|length > 0 %}
            {% for property in auction_data %}
            {% now "U" as todays_date %}
              {% define_var property.auction_data.start_date|parse_iso|date:"U" as start_date %}
              {% define_var property.dutch_end_time|parse_iso|date:"U" as dutch_end_time %}
              {% define_var property.sealed_start_time|parse_iso|date:"U" as sealed_start_time %}
              {% define_var property.sealed_end_time|parse_iso|date:"U" as sealed_end_time %}
              {% define_var property.english_start_time|parse_iso|date:"U" as english_start_time %}
              {% define_var property.auction_data.end_date|parse_iso|date:"U" as end_date %}
              {% define_var property.auction_data.end_date|remaining_hours|default:'' as remain_hr %}
              {% add_days property.added_on|parse_iso 15 as traditional_time %}
              {% define_var traditional_time|date:"U" as traditional_status_time %}
            <div class="block-item {% if not property.read_by_auction_dashboard %}focused-bid-row{% endif %} " data-property="{{ property.id }}" data-auction="{{property.auction_data.id}}">
              <div class="item">
              {{ forloop.counter0|add:sno }}
              </div>
              <div class="item">
                <div class="user-pics">
                <a href="/asset-details/?property_id={{ property.id }}" class="go-to-listing" target="_blank">
                  <span class="user-pic"><img src="{% if property.property_image.image %}{{ azure_blob_url }}{{ property.property_image.bucket_name }}/{{ property.property_image.image }}{% else %}{% static 'admin/images/property-default-img.png' %}{% endif %}" alt="real estate sales"></span>
                  <h6>
                    {% if property.property_name %}<span>{{property.property_name}}</span>{% endif %}
                    <span class="blue-text" title="{{ property.address_one }}, {{property.city}}, {{property.state}}, {{property.postal_code}}">
                    {% with property.address_one|add:', '|add:property.city|add:', '|add:property.state|add:', '|add:property.postal_code as pname %}
                        {% if pname|length > 22 %}
                            {{pname|slice:22}}...
                        {% else  %}
                            {{ppnamel }}
                        {% endif %}
                    {% endwith %}
                    </span>
                    <i class="fas fa-map-marker-alt" aria-hidden="true" role="presentation"></i> {{property.city}}, {{property.state}}
                    <em class="user-info listing-broker-info" data-id='{{property.id}}' data-first-name="{{property.property_owner.first_name}}" data-last-name="{{property.property_owner.last_name}}" data-company="{{property.property_owner.company}}" data-phone="{{property.property_owner.phone_no|default:''|format_phone}}" data-email="{{property.property_owner.email}}" ><i class="fas fa-info-circle" aria-hidden="true" role="presentation"></i></em>
                  </h6>
                </a>
                </div>
              </div>
              <!-- <div class="item">
                {{property.status}}
              </div> -->
              <div 
              class="item bidding_timer"
              id="timerProperty{{property.id}}"
              data-status-id=""
              data-status=""
              data-property="{{property.id}}"
              {% if property.auction_data.status == 1 %}
              data-start-date="{{property.auction_data.start_date|default:''}}"
              data-dutch-end-time="{{property.dutch_end_time|default:''}}"
              data-sealed-start-time="{{property.sealed_start_time|default:''}}"
              data-sealed-end-time="{{property.sealed_end_time|default:''}}"
              data-english-start-time="{{property.english_start_time|default:''}}"
              data-end-date="{{property.auction_data.end_date|default:''}}"
              {% else %}
              data-start-date=""
              data-dutch-end-time=""
              data-sealed-start-time=""
              data-sealed-end-time=""
              data-english-start-time=""
              data-end-date=""
              {% endif%} >
                <div class="time" style="text-align: left;">
                  <div class="countdown_text">Loading... </div>
                  <span id="timerCounter{{property.id}}" style="display: none;"><span class="day_remaining red-text">00</span>:<span class="hr_remaining red-text">00</span>:<span class="min_remaining red-text">00</span>:<span class="sec_remaining red-text">00</span></span>
                </div>
              </div>
              <div class="item" id="auctionStatus{{property.id}}">
                {% if property.status_id %}
                  {% if property.status_id == 1 %}
                    {% if property.auction_data.start_date|in_the_future %}
                      <div class="text-warning"><span class="badge badge-warning">Coming Soon</span></div>
                    {% else %}
                      <div class="text-success"><span class="badge badge-success">Active</span></div>
                    {% endif %}
                  {% elif property.status_id == 17 %} 
                  <div class="text-warning"><span class="badge badge-warning">Coming Soon</span></div>
                  {% elif property.status_id == 10 %}
                  <div class="text-success"><span class="badge badge-danger">Auction Ended</span></div>
                  {% elif property.status_id == 9 %}
                  <div class="text-warning"><span class="badge badge-danger">Sold</span></div>
                  {% elif property.status_id == 16 %}
                  <div class="text-warning"><span class="badge badge-warning">Pending Review</span></div>
                  {% elif property.status_id == 8 %}
                  <div class="red-text"><span class="badge badge-info">Not Sold</span></div>
                  {% endif %}
                {% else %}
                NA
                {% endif %}
              </div>
              <div class="item">
                {% if todays_date < dutch_end_time %}
                    Round One<br>Dutch Auction
                {% elif todays_date > dutch_end_time and todays_date < sealed_end_time %}
                    Round Two<br>Sealed Bid Auction
                {% else %}
                    Round Three<br>English Auction
                {% endif %}
              </div>
              <div class="item">
                  <div class="text" id="highBidderParent{{property.id}}" data-id="{{property.high_bidder.user_id|default:''}}">
                  {% if property.high_bidder %}
                    <span id="highBid{{property.id}}" >${{property.high_bidder.bid_amount|convert_num|intcomma|default:'0'}}</span><br />
                    <a href="javascript:void(0);" data-id="{{property.id}}" class="blue-text show-detailed-info"><strong>{{property.high_bidder.first_name}}&nbsp;{{property.high_bidder.last_name}}&nbsp;<i class="fas fa-chevron-down" aria-hidden="true" role="presentation" id="arrowPositionHighBidder{{property.id}}"></i></strong></a><br>
                    <p id="showDetailedinfoBidder{{property.id}}" style="display:none">
                      {% if property.high_bidder.address_first %}
                      <span class="blue-text">
                      {{property.high_bidder.address_first}},
                      </span><br>
                      {% endif %}
                      <span class="blue-text">
                        {% if property.high_bidder.city %}
                        {{property.high_bidder.city}},
                        {% endif %}
                        {% if property.high_bidder.state %}
                        {{property.high_bidder.state}},
                        {% endif %}
                        {% if property.high_bidder.postal_code %}
                        {{property.high_bidder.postal_code}}
                        {% endif %}
                      </span><br>
                      <span class="blue-text">{{property.high_bidder.phone_no|default:''|format_phone}}</span><br>
                      <span class="blue-text">{{property.high_bidder.email}}</span><br>
                      {{property.high_bidder.ip_address|default:''}}
                    </p>
                    {% else %}
                    NA
                    {% endif %}
                  </div>
              </div>
              <div class="item">
                <button class="badge badge-info bids-limit bidder-record-modal" id="totalBidCount{{property.id}}" data-id="{{property.id}}" onclick="propertyInsiderBidHistorySearch('{{ property.id }}', 1, 'dutch')" >{{property.total_bids|default:'0'}}</button>
              </div>
              <div class="item">
                <button class="badge badge-info bids-limit bidder-list-modal" id="totalBidderCount{{property.id}}" data-id="{{property.id}}" onclick="propertyBidderListingSearch({{ property.id }} ,1)" >{{property.bidder|default:'0'}}</button>
              </div>
              <div class="item">
                <button class="badge badge-default bids-limit property-atchers-modal" id="totalWatcherCount{{property.id}}" data-id="{{property.id}}" onclick="propertyWatcherListingSearch(event, '{{ property.id }}' ,1)" >{{property.watcher|default:'0'}}</button>
              </div>
              <div class="item">
                <div class="bid-increment" style="display:none" id="propertyIncBid{{property.id}}">
                  <form action="" id="bidIncremementForm" >
                    {% csrf_token %}
                    <input type="text" data-id='{{property.id}}' id="bidIncremementValue{{property.id}}" aria-label="Enter Bid" value="{{property.auction_data.bid_increments|default:'0'}}" class="form-control input-xs numbersOnly bid-increment" maxlength="10" pattern="[0-9]{10}" placeholder="Enter Bid Inc.">
                    <button class="btn btn-primary btn-xs bidincrementupdate" id="bidIncrementUpdate{{property.id}}" data-id="{{property.id}}" ><i class="fas fa-check" aria-hidden="true" role="presentation"></i></button>
                  </form>
                  <a href="javascript:void(0);" class="red-text show-bid-text" data-id='{{property.id}}'><i class="fa fa-times" aria-hidden="true" role="presentation"></i></a>
                </div>
                <span id="bidIncText{{property.id}}" ><span>${{property.auction_data.bid_increments|convert_num|intcomma|default:'0'}}</span><a href="javascript:void(0)" data-id='{{property.id}}' class="ml10 property-bid-incremennt-edit"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i></a></span>
              </div>
              <div class="item">
                <form action="" class="nxt-bid">
                  <input type="text" readonly id="nextBid{{property.id}}" aria-label="Next Bid" value="${{property.next_bid|convert_num|intcomma|default:'0'}}" class="form-control input-xs">
                </form>
              </div>
              <div class="item action-btnn">
                {% if property.auction_data %}
                {% if property.auction_data.status == 1 %}
                  <a href="javascript:void(0);" id="stopAuctionDetails{{property.id}}" data-id="{{property.id}}" data-text="Stop Auction?" class="btn btn-secondary btn-xs stop-auction-details"><div class="tooltipp"><i id="startStopAuctionIcon{{property.id}}" class="fas fa-circle"></i>
                    <span class="tooltipp__content top width100" id="startStopAuctionTooltip{{property.id}}">Stop Auction </span>
                  </div></a>
                {% else %}
                  <a href="javascript:void(0);" {% if property.auction_data.status != 2 %}style="display:none"{% endif %} id="stopAuctionDetails{{property.id}}" data-id="{{property.id}}" data-text="Start Auction?" class="btn btn-secondary btn-xs stop-auction-details"><div class="tooltipp"><i id="startStopAuctionIcon{{property.id}}" class="fas fa-play"></i>
                    <span class="tooltipp__content top width100" id="startStopAuctionTooltip{{property.id}}">Start Auction </span>
                  </div></a>
                {% endif %}
                {% endif %}
              </div>
            </div><!-- End .block-item -->
            {% endfor %}
            {% else %}
            <div class="block-item">
              <div class="item fullwidth">
                
                <img src="{% static 'admin/images/no-data-image.png' %}" alt="No Data Found" role="img" class="center mb0" />
                
              </div>
            </div>
            {% endif %}
          </div><!-- End .block -->
        </div><!-- End .create-table -->

        <div class="pagination">
          <ul id="prop_auction_pagination_list">
            {{ pagination_html }}
          </ul>
        </div><!-- End .pagination -->


      </div><!-- End .col-md-10 -->
    </div><!-- End .row -->
  </div><!-- End .dashboard-body -->
<div class="overlay" style="display:none;">
    <div class="loader">Loading...</div>
</div>


<div id="stopbiddingModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="center mb0">
        Confirmation
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" id="stopAuctionForm" >
      {% csrf_token %}
      <div class="modal-body">
        <input type="hidden" name="stop-bid-listing" id="stopBidListingId" value="">
        <h6 class="center">
          Are you sure you want to <br>
          <span class="blue-text" id="startStopModalText"></span>
        </h6>
        <div class="clearfix pt20"></div>
        <button class="btn btn-primary-bdr width47" data-dismiss="modal" aria-label="Close">No</button> <button class="btn btn-primary width47" id="stopAuctionSubmit">Yes</button>
      </div>
      </form>
    </div>
  </div>
</div><!-- End .stopbiddingModal -->


<div id="bidderrecordModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <input type="hidden" name="bidHistoryPropertyId" id="bidHistoryPropertyId" value=""/>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="center mb0">
          Total Bids
        </h5>
        <div class="bidderrecord-top">
          <figure>
            <img src="{% static 'admin/images/property-default-img.png' %}" alt="real estate sales" id="bidHistoryPropertyImage">
            </figure>
            <figcaption>
              <h6 id="bidHistoryPropertyName">
                Loading...
              </h6>
          </figcaption>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="table-responsive">
          <table width="100%" class="table table-scroll auctionrecordTable" cellpadding="0" cellspacing="0" width="100%" data-table="Bid History Table" role="presentation">
            <thead>
              <tr role="row">
                <th role="columnheader" scope="row">
                  Bidder
                </th>
                <th role="columnheader" scope="row">
                  Start Bid
                </th>
                <th role="columnheader" scope="row">
                  Max Bid
                </th>
                <th role="columnheader" scope="row">
                  Bids
                </th>
                <th role="columnheader" scope="row">
                  Bid Time
                </th>
                <th role="columnheader" scope="row">
                  Status
                </th>
              </tr>
            </thead>
            <tbody id="bidHistoryList">
            </tbody>
          </table>
        </div>

        <div class="pagination" id="bidHistoryPagination">
            <ul id="bidHistoryPaginationList">
            </ul>
        </div><!-- End .pagination -->

        <div class="clearfix right" id="auction_bid_btn_section">
          <button class="btn btn-primary" onClick="window.location.href='/static/admin/export/Bidders_List.xls'"><i class="fas fa-file-export" aria-hidden="true" role="presentation"></i>&nbsp; Export</button> <button class="btn btn-primary" id="emailAllBidders" data-email-for="total_bids" ><i class="fas fa-envelope" aria-hidden="true" role="presentation"></i>&nbsp; Email All</button>
        </div>

      </div>
    </div>
  </div>
</div><!-- End .bidderrecordModal -->


<div id="propertybrokerModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="center mb0">
          Property Added By
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="table-responsive">
          <table width="100%" class="table table-scroll propertybrokerTable" cellpadding="0" cellspacing="0" width="100%" data-table="Property Added List Table" role="presentation">
            <thead>
              <tr role="row">
                <th role="columnheader" scope="row">
                  Name
                </th>
                <th role="columnheader" scope="row">
                  Company
                </th>
                <th role="columnheader" scope="row">
                  Phone
                </th>
                <th role="columnheader" scope="row">
                  Email
                </th>
              </tr>
            </thead>
            <tbody>
              <tr role="row">
                <td id="propAgentName">
                </td>
                <td id="propAgentCompany">
                </td>
                <td id="propAgentPhone">
                </td>
                <td id="propAgentEmail">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div><!-- End .propertybrokerModal -->

<div id="propertywatcherModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
   <input type="hidden" name="bidWatcherPropertyId" id="bidWatcherPropertyId" value=""/>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="center mb0">
          Watching
        </h5>
        <div class="bidderrecord-top">
          <figure>
            <img src="{% static 'admin/images/property-default-img.png' %}" alt="real estate sales" id="bidWatcherPropertyImage">
            </figure>
            <figcaption>
              <h6 id="bidWatcherPropertyName">
                Loading...
              </h6>
          </figcaption>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pb10"><strong>Total Watchers :</strong> <span id="totalWatchersCount">Loading...</span>(<span id="totalWatchersCountAnonm"></span> Anonymous)</div>
        
        <div class="table-responsive">
          <table class="table table-scroll auctionwatchTable" cellpadding="0" cellspacing="0" width="100%" data-table="Watchers List Table" role="table">
            <thead>
              <tr role="row">
                <th role="columnheader" scope="row">
                  Watchers
                </th>
              </tr>
            </thead>
            <tbody id="bidWatcherList">
            </tbody>
          </table>
        </div>
        <div class="pagination" id="bidWatcherPagination">
            <ul id="bidWatcherPaginationList">
            </ul>
        </div><!-- End .pagination -->

        <div class="clearfix right" id="watcherBtnSection">
          <button type="button" class="btn btn-primary"><i class="fas fa-file-export" aria-hidden="true" role="presentation"></i>&nbsp; Export</button> <button type="button" class="btn btn-primary" id="emailAllWatchers" data-email-for="watching"><i class="fas fa-envelope" aria-hidden="true" role="presentation"></i>&nbsp; Email All</button>
        </div>

      </div>
    </div>
  </div>
</div><!-- End .propertywatcherModal -->


<div id="bidderlistModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-laptop" role="document">
  <input type="hidden" name="bidderHistoryPropertyId" id="bidderHistoryPropertyId" value=""/>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="center mb0">
          Bidders
        </h5>
        <div class="bidderrecord-top">
          <figure>
            <img src="{% static 'admin/images/property-default-img.png' %}" alt="real estate sales" id="bidderHistoryPropertyImage">
          </figure>
          <figcaption>
              <h6 id="bidderHistoryPropertyName">
                Loading...
              </h6>
          </figcaption>
          
          <div class="listing-bottom">
            <div class="block" id="bidder_list_export_btn_section">
              <button class="btn btn-primary btn-xs"><i class="fas fa-file-export" aria-hidden="true" role="presentation"></i> Export</button>
            </div>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="default-table auctionbidderlisttable">
          <div class="block">
            <div class="item">
              #
            </div>
            <div class="item">
              Bidder Name
            </div>
            <div class="item">
              Company
            </div>
            <div class="item">
              Email
            </div>
            <div class="item">
              Phone
            </div>
            <div class="item">
              Approved Bid Limit
            </div>
            <div class="item">
              Approval Status
            </div>
            <div class="item">
              Due Diligence Vault
            </div>
            <div class="item">
              Registration Approval
            </div>
          </div><!-- End .block -->
          <div class="block sscroll" id="bidderHistoryList">

          </div><!-- End .block -->
        </div><!-- End .create-table -->

        <div class="pagination" id="bidderHistoryPagination">
            <ul id="bidderHistoryPaginationList">
            </ul>
        </div><!-- End .pagination -->

      </div>
    </div>
  </div>
</div><!-- End .bidderlistModal -->

<div id="emailrecordModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="center mb0">
          Email All <span class="object-name-string" >Users</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="emailAllUsersForm">
        {% csrf_token %}
        <input type="hidden" id="emailPropertyid" name="property_id" value="">
        <input type="hidden" id="emailForObject" name="email_for" value="">
        <ul class="email-bidder">
          <li>
            Email
          </li>
          <li>
            All <span class="object-name-string" >Users</span>
          </li>
          <li>
            Subject
          </li>
          <li>
            <input type="text" id="subject" aria-label="Enter email subject" placeholder="Enter email subject" name="subject" class="form-control">
          </li>
          <li>
            Message
          </li>
          <li>
            <textarea name="message" id="message" aria-label="Enter message here" placeholder="Enter message here..." rows="5" class="form-control"></textarea>
          </li>
        </ul>
        
        <div class="clearfix pt20 right">
          <button class="btn btn-primary" role="button" id="emailAllSubmit" disabled="disabled">Send</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- End .stopbiddingModal -->

<div id="insiderbidderrecordModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-laptop" role="document">
    <input type="hidden" name="insiderBidHistoryPropertyId" id="insiderBidHistoryPropertyId" value=""/>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="center mb0" id="insider_auction_name">
          Insider Auction
        </h5>
        <div class="bidderrecord-top">
          <figure>
            <img src="images/upload-banner-1.png" alt="real estate sales" id="insiderBidHistoryPropertyImage">
          </figure>
          <figcaption>
            <h6 id="insiderBidHistoryPropertyName">
              M&T Bank Building
              <span><i class="fas fa-map-marker-alt" aria-hidden="true" role="presentation"></i> Altoona, Pennsylvania</span>
            </h6>
            <ul>
              <li>
                <span>Auction type:</span> Insider Online Auction
              </li>
              <!--<li>
                <span>Bid Increment:</span> $300
              </li>-->
            </ul>
          </figcaption>
          <div class="listing-bottom" id="insider_bid_history_search_section">
            <div class="block right">
              <form action="" class="search-field">
                <div class="search-icon"><i class="fas fa-search" aria-hidden="true" role="presentation"></i></div>
                <input type="text" class="form-control" aria-label="Search" name="insider_search_bid_history" id="insider_search_bid_history"><button role="button" class="btn btn-primary btn-xs">Search</button>
              </form>
            </div>
            <div class="block last">
              <button role="button" class="btn btn-primary btn-xs"><i class="fas fa-file-export" aria-hidden="true" role="presentation"></i> Export</button>
            </div>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="insider-tabs" id="insider_tab_li_content">
          <li class="tab-link insider_tab_link" data-tab="round-1" id="insider_dutch_btn_li">
            <a href="javascript:void(0)" id="insider_dutch_btn" onclick="propertyInsiderBidHistorySearch(event,'{{ property.id }}' ,1, 'dutch')">
            Round 1 : Dutch Auction
            </a>
          </li>
          <li class="tab-link insider_tab_link" data-tab="round-2" id="insider_sealed_btn_li">
            <a href="javascript:void(0)" id="insider_sealed_btn" onclick="propertyInsiderBidHistorySearch(event,'{{ property.id }}' ,1, 'sealed')">
              Round 2 : Sealed Bid Amount
            </a>
          </li>
          <li class="tab-link insider_tab_link" data-tab="round-3" id="insider_english_btn_li">
            <a href="javascript:void(0)" id="insider_english_btn" onclick="propertyInsiderBidHistorySearch(event,'{{ property.id }}' ,1, 'english')">
              Round 3 : English Auction
            </a>
          </li>
        </ul>

        <div class="table-responsive">
          <div id="round-1" class="tab-content insider_tab_content current">
            <div class="default-table insiderbidderlisttable">
              <div class="block">
                <div class="item">
                  #
                </div>
                <div class="item">
                  Bidder Name
                </div>
                <div class="item">
                  User Type
                </div>
                <div class="item">
                  Email
                </div>
                <div class="item">
                  Phone
                </div>
                <div class="item">
                  Starting Bid
                </div>
                <div class="item bidamount">
                  Bid Amount
                </div>
                <div class="item">
                  IP Address
                </div>
                <div class="item">
                  Bidding Start Time
                </div>
                <div class="item date-block">
                  Bidding End Time
                </div>
              </div><!-- End .block -->
              <div class="block sscroll" id="dutchBiddingList">

              </div><!-- End .block -->
            </div><!-- End .create-table -->
          </div><!-- End .round-1 -->

          <div id="round-2" class="tab-content insider_tab_content">
            <div class="default-table insiderbidderlisttable">
              <div class="block">
                <div class="item">
                  #
                </div>
                <div class="item">
                  Bidder Name
                </div>
                <div class="item">
                  User Type
                </div>
                <div class="item">
                  Email
                </div>
                <div class="item">
                  Phone
                </div>
                <div class="item">
                  Starting Bid
                </div>
                <div class="item bidamount">
                  Bid Amount
                </div>
                <div class="item">
                  IP Address
                </div>
                <div class="item">
                  Bidding Start Time
                </div>
                <div class="item date-block">
                  Bidding End Time
                </div>
              </div><!-- End .block -->
              <div class="block sscroll" id="sealedBiddingList">

              </div><!-- End .block -->
            </div><!-- End .create-table -->
          </div><!-- End .round-2 -->

          <div id="round-3" class="tab-content insider_tab_content">
            <div class="default-table insiderbidderlisttable">
              <div class="block">
                <div class="item">
                  #
                </div>
                <div class="item">
                  Bidder Name
                </div>
                <div class="item">
                  User Type
                </div>
                <div class="item">
                  Email
                </div>
                <div class="item">
                  Phone
                </div>
                <div class="item">
                  Starting Bid
                </div>
                <div class="item bidamount">
                  Bid Amount
                </div>
                <div class="item">
                  IP Address
                </div>
                <div class="item">
                  Bidding Start Time
                </div>
                <div class="item date-block">
                  Bidding End Time
                </div>
              </div><!-- End .block -->
              <div class="block sscroll" id="englishBiddingList">

              </div><!-- End .block -->
            </div><!-- End .create-table -->
          </div><!-- End .round-3 -->

        </div><!-- End .table-responsive -->

        <div class="pagination" id="insiderBidHistoryPagination">
          <ul id="insiderBidHistoryPaginationList">
          </ul>
        </div><!-- End .pagination -->

      </div>
      
    </div>
  </div>
</div><!-- End .bidderrecordModal -->

{% endblock %}
{% block js_content %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'admin/js/tableHeadFixer.js' %}?v=1.1"></script>
<script type="text/javascript" src="{% static 'admin/js/mask_input.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/custom.js' %}?v=1.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.blockUI.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/custom_validator.js' %}?v=2.3"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/pagination.js' %}?v=1.0"></script>
<script type="text/javascript" src="{% static 'admin/js/autosuggestion.js' %}?v=2.0"></script>
<script type="text/javascript" src="{% static 'admin/js/custom_js.js' %}?v=4.7"></script>
<script type="text/javascript" src="{% static 'admin/js/insider-countdown-timer.js' %}?v=1.4"></script>
<script type="text/javascript" src="{% static 'admin/js/insider-auction-dashbaord.js' %}?v=6.9.0"></script>
<script type="text/javascript" src="{% static 'admin/js/insider-auction-socket.js' %}?v=1.7"></script>
<script type="text/javascript" src="{% static 'admin/js/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/custom_dropzone.js' %}?v=3.1"></script>
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script> -->
<script type="text/javascript" src="{% static 'admin/js/moment.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
    const ip_address = "{{ip_address}}";
    /* const socket = io.connect(socket_domain, {
        transports: ["websocket", "xhr-polling", "htmlfile", "jsonp-polling"],
        rejectUnauthorized: false,
        requestCert: false,
    }); */
    var user_id = "{{user_id}}"
    $(function() {
      // apply datepickers
      $('.date').datetimepicker({
          format: 'MM-DD-YYYY hh:mm A',
      }).on('dp.change',function(e){
          var virtual_date_element = $(this).find('input:first').attr('id');
          var date_element = $(this).find('input:last').attr('id');
          var dates = $("#"+virtual_date_element).val();
          if(dates != ""){
            var actualStartDate = dates.split(" ");
            //new lines
            var mdy_format = actualStartDate[0].split("-");
            mdy_date = mdy_format[2]+"-"+mdy_format[0]+"-"+mdy_format[1];

            //actualStartDate = mdy_date+' '+convert_to_24h(actualStartDate[1]+' '+actualStartDate[2]);
            actualStartDate = actualStartDate[0]+' '+convert_to_24h(actualStartDate[1]+' '+actualStartDate[2]);
            //var utc_date = convert_to_utc_datetime(actualStartDate);
            var utc_date = convert_to_utc_date(actualStartDate, 'mm-dd-yyyy', 'datetime');
            console.log(utc_date)
            $("#"+date_element+"_local").val(actualStartDate);
            $("#"+date_element).val(utc_date);
          }

      });
    });
 </script>
{% endblock %}