{% load static %}
{% load dashboard_extra %}
{% load humanize %}

{% if agent_list|length > 0 %}
                      {% for agent in agent_list %}  
                          <li>
                          <div class="item">
                              <figure>
                                <img src="{% static 'theme-4/images/transparent.png' %}" alt="real estate sales" area-label="transparent">
                                <img class="article-pic" src="{% if agent.image.doc_file_name %}{{ azure_blob_url }}{{ agent.image.bucket_name }}/{{ agent.image.doc_file_name }}{% else %}{% static 'theme-4/images/no_photo.png' %}{% endif %}" area-label="real estate sales" alt="real estate sales">
                              </figure>
                              <figcaption>
                              <h6>
                                  {{ agent.first_name|title|default:'' }} {{agent.last_name|title|default:''}}
                                  <span>
                                      {{ agent.company_name|title|default:'' }}
                                  </span>
                              </h6>
                              <ul class="info">
                                  <li>
                                  <a href="javascript:void(0)">
                                      <span class="icon icon-call"></span>
                                      {{ agent.phone_no|default:''|format_phone }}
                                  </a>
                                  </li>
                                  {% if agent.mobile_no and agent.mobile_no != "" %}
                                  <li>
                                    <a href="javascript:void(0)">
                                        <span class="icon icon-ph"></span>
                                        {{ agent.mobile_no|default:''|format_phone }}
                                    </a>
                                    </li>
                                  {% endif %}  
                                  <li>
                                  <a href="{% if agent.email != '' %}mailto:{{ agent.email }}{% endif %}"><span class="icon icon-email"></span> {{ agent.email|default:'' }}</a>
                                  </li>
                                  {% if agent.licence_no and agent.licence_no != "" %}
                                  <li>
                                  <a href="javascript:void(0)"><span class="icon icon-id"></span> {{ agent.licence_no|upper|default:'' }}</a>
                                  </li>
                                  {% endif %}
                              </ul>
                              <div class="buttons">
                                  <div class="chat-btn">
                                    <a href="{% if sess_user_id %}javascript:void(0);{% else %}{% url 'login' %}?next=/our-agents/{% endif %}" {% if sess_user_id %}onclick="chattoagent({{ agent.user_id|default:'' }}, {{ sess_user_id|default:'' }});"{% endif %} class="btn btn-secondary btn-sm chattoagent" data-agent_id="{{ agent.user_id|default:'' }}">Chat</a>
                                  </div>
                                  <div class="list-btn">
                                    <a href="{% if agent.property_count != 0 %}/our-listing/?agent_id={{agent.user_id|default:''}}{% else %}javascript:void(0){% endif %}" class="btn btn-primary btn-sm"><span>{{ agent.property_count|default:'0' }}</span> View My Listings </a>
                                  </div>
                              </div><!-- End .buttons -->
                              </figcaption>
                          </div>
                          </li>
                      {% endfor %}    
                  {% else %}
                  <li class="text-center text-danger" style="width:100%;"><img src="{% static 'admin/images/no-data-image.png' %}" class=" center mb0" role="img" alt="real estate sales" /></li>
                  {% endif %}

                  
<!-- <script type="text/javascript" src="{% static 'theme-common/js/our_agent_js.js' %}?v=4.7"></script> -->
