{% extends "admin/layout/layout.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% load dashboard_extra %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.css">
{% endblock %}
{% block content %}

<div class="dashboard-body">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1">
        
        <h4>
          <span id="startTourBtn">Change Password</span>
        </h4>
        
        <div class="login-wrap">
          <form name="change_password" id="change_password" method="post">
            {% csrf_token %}
            <input type="hidden" name="change_pass_user_id" id="change_pass_user_id" value=""/>
            <div class="row pb20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="current_password">Current Password</label>
                  <div class="position-relative">
                    <a class="showpwd password_one"><i class="fa-regular fa-eye-slash password_one_eye"></i></a>
                    <input type="password" class="form-control" aria-label="Current Password" name="current_password" id="current_password" placeholder="">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="user_new_password">New Password</label>
                  <div class="position-relative">
                    <a class="showpwd password_two"><i class="fa-regular fa-eye-slash password_two_eye"></i></a>
                    <input type="password" class="form-control" aria-label="New Password" name="new_password" id="new_password" placeholder="">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label" for="user_confirm_password">Confirm Password</label>
                  <div class="position-relative">
                    <a class="showpwd password_three"><i class="fa-regular fa-eye-slash password_three_eye"></i></a>
                    <input type="password" class="form-control" aria-label="Confirm Password" name="confirm_new_password" id="confirm_new_password" placeholder="">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix pt20">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
    </div>
  </div><!-- End .row -->
</div><!-- End .dashboard-body -->

<div class="overlay" style="display:none;">
  <div class="loader">Loading...</div>
</div>
{% endblock %}

{% block js_content %}
<script type="text/javascript" src="{% static 'admin/js/tableHeadFixer.js' %}?v=1.1"></script>
<script type="text/javascript" src="{% static 'admin/js/custom.js' %}?v=1.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.blockUI.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/custom_validator.js' %}?v=2.3"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/change_password.js' %}?v=3.2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.js"></script>
{% endblock %}