{% load static %}
{% load dashboard_extra %}
{% for chat in chat_listing %}
{% if chat.sender_id == sess_user_id %}
<li>
  <div class="chat-align rgt-chat">
    <figcaption>
      <div class="chat-time convert_to_local_date_time" data-value="{{ chat.message_date|default:'' }}">
        {{ chat.message_date }}
      </div>
      <p>
        {{ chat.message }}
      </p>
    </figcaption>
    <figure>
      <div class="chat-tooltipp">
      <img src="{% if chat.image.doc_file_name %}{{ azure_blob_url }}{{ chat.image.bucket_name }}/{{ chat.image.doc_file_name }}{% else %}{% static 'theme-4/user-dashboard/images/no-image.jpg' %}{% endif %}" alt="real estate sales">
        <span class="tooltipp__content">
            <ul>
              <li>
                Name - {{ chat.name|default:'' }}
              </li>
              <li>
                Profile Type - {{ chat.user_type|default:'' }}
              </li>
              <li>
                Phone No - {{ chat.phone_no|format_phone|default:'' }}
              </li>
              <li>
                Email - {{ chat.email|default:'' }}
              </li>
            </ul>
          </span>
      </div>
    </figure>
  </div>
</li>
{% else %}
<li>
  <div class="chat-align lft-chat">
    <figure>
      <div class="chat-tooltipp">
      <img src="{% if chat.image.doc_file_name %}{{ azure_blob_url }}{{ chat.image.bucket_name }}/{{ chat.image.doc_file_name }}{% else %}{% static 'theme-4/user-dashboard/images/no-image.jpg' %}{% endif %}" alt="real estate sales">
        <span class="tooltipp__content right">
          <ul>
              <li>
                Name - {{ chat.name|default:'' }}
              </li>
              <li>
                Profile Type - {{ chat.user_type|default:'' }}
              </li>
              <li>
                Phone No - {{ chat.phone_no|format_phone|default:'' }}
              </li>
              <li>
                Email - {{ chat.email|default:'' }}
              </li>
            </ul>
        </span>
      </div>
    </figure>
    <figcaption>
      <div class="chat-time convert_to_local_date_time" data-value="{{ chat.message_date|default:'' }}">
        {{ chat.message_date }}
      </div>
      <p>
        {{ chat.message }}
      </p>
    </figcaption>
  </div>
</li>
{% endif %}
{% endfor %}
<script type="text/javascript" src="{% static '/theme-common/js/common.js' %}"></script>