{% load static %}
{% if blog_listing %}
{% for blog in blog_listing %}
<li>
  <div class="item">
    <figure>
      <a href="/blog-details/?id={{ blog.id }}" role="button" tabindex="5">
        <div class="image">
          <img src="{% static 'theme-4/images/no-blog-full.png' %}" alt="real estate sales">
          <img class="article-pic" src="{% if blog.article_image.image_name %}{{ azure_blob_url }}{{ blog.article_image.bucket_name }}/{{ blog.article_image.image_name }}{% else %}{% static 'theme-4/images/no-blog-full.png' %}{% endif %}" alt="{{ blog.article_image.image_name|default:'' }}">
          <!-- <small>
            {{ blog.category_name|default:'' }}
          </small> -->
        </div>
      </a>
    </figure>
    <figcaption>
      <h4>
        <a href="/blog-details/?id={{ blog.id }}" role="button" tabindex="6">
          {{ blog.title|default:'' }}
        </a>
      </h4>
      <div class="blog-user">
        <ul>
          <li>
            <figure>
              <img src="{% if blog.author_image.image_name %}{{ azure_blob_url }}{{ blog.author_image.bucket_name }}/{{ blog.author_image.image_name }}{% else %}{% static 'theme-4/images/no-blog-full.png' %}{% endif %}" alt="real estate sales">
            </figure>
          </li>
          <li>
            {{ blog.author_name }}
          </li>
          <li class="{% if blog.publish_date %}convert_to_local_date_time{% endif %}" data-value="{{ blog.publish_date|default:'' }}">
            {{ blog.publish_date|default:'' }}
          </li>
          <li>
            <a href="javascript:void(0)" role="button" tabindex="7"><span class="share-icon"></span> Share</a>
          </li>
        </ul>
      </div>
      <p>
        {% autoescape off %}{{ blog.description|default:'' }}{% endautoescape %}
      </p>
      <div class="more" onclick="blog_details({{ blog.id }})">
        Read More
      </div>
    </figcaption>
  </div>

</li>
{% endfor %}
{% else %}
<li class="text-center text-danger" style="width:100%;"><img src="{% static 'admin/images/no-data-image.png' %}" class=" center mb0" role="img" alt="real estate sales" /></li>
{% endif %}