{% extends "admin/layout/layout.html" %}
{% load static %}
{% load dashboard_extra %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link href="{% static 'admin/css/dropzone.css' %}?v=2.2" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
        <div class="row">
          <form name="cms_frm" id="cms_frm" method="post" autocomplete="off">
            {% csrf_token %}
          <div class="col-md-12 col-sm-12">
            <h5>
              <strong>
                Edit Privacy Policy
              </strong>
            </h5>
            <div class="box clearfix">
              <div class="row">
                <input type="hidden" name="cms_id" id="cms_id" value="{{ cms.id|default:'' }}" />
                <input type="hidden" name="slug" id="slug" class="form-control" placeholder="Slug" value="{{ cms.slug|default:'' }}" />
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="cms_status">Status <span class="text-danger">*</span></label>
                    <select name="cms_status" aria-label="Status" id="cms_status" class="select form-control">
                      <option value="">Select</option>
                      {% comment %}
                      {% if status_list %}
                        {% for item in status_list %}
                          <option value="{{ item.id }}" {% if item.id == cms.status %}selected{% endif %}>{{ item.status_name }}</option>
                        {% endfor %}
                        {% endif %}
                        {% endcomment %}
                      <option value="1" {% if cms.status == 1 %}selected{% endif %}>Active</option>
                      <option value="2" {% if cms.status == 2 %}selected{% endif %}>Inactive</option>
                    </select>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                  <h6>
                    <strong>Meta Info</strong>
                  </h6>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="meta_keywords">Meta Keywords <span class="text-danger">*</span></label>
                    <input type="text" name="meta_keywords" id="meta_keywords" aria-label="Meta Keywords" class="form-control" placeholder="Enter Meta Keywords" value="{{ cms.meta_key_word|default:'' }}">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="meta_title">Meta Title <span class="text-danger">*</span></label>
                    <input type="text" name="meta_title" id="meta_title" aria-label="Meta Title" class="form-control" placeholder="Enter Meta Title" value="{{ cms.meta_title|default:'' }}">
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label for="meta_desc">Meta Description <span class="text-danger">*</span></label>
                    <input type="text" name="meta_desc" id="meta_desc" aria-label="Meta Description" class="form-control" placeholder="Enter Meta Description" value="{{ cms.meta_description|default:'' }}">
                  </div>
                </div>
                <div class="col-md-12">
                  <h6>
                    <strong>Page Info</strong>
                  </h6>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="page_title">Page Title <span class="text-danger">*</span></label>
                    <input type="text" name="page_title" aria-label="Page Title" id="page_title" class="form-control" placeholder="Enter Page Title" value="{{ cms.page_title|default:'' }}">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label for="slug_text">Slug <span class="text-danger">*</span></label>
                    <input type="text" name="slug_text" aria-label="Slug" id="slug_text" class="form-control" placeholder="Enter Slug" value="{{ cms.slug|default:'' }}" disabled />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label for="page_content" class="pb10">Page Content <span class="text-danger">*</span></label>
                    <textarea name="page_content" id="page_content" aria-label="Page Content" class="ckeditor form-control">{{ cms.page_content|default:'' }}</textarea>

                  </div>
                </div>

              </div>

            </div><!-- End .box -->

            <div class="clearfix pt30">
              <button type="submit" class="btn btn-primary">Save</button> <!-- <button type="button" class="btn btn-primary-bdr">Cancel</button>-->
            </div>

          </div><!-- End .col-md-10 -->
          </form>
        </div><!-- End .row -->
      </div><!-- End .dashboard-body -->

    </div><!-- End .right-sidebar -->
  </div><!-- End .dashboard-wrap -->

  <div id="domainModal" class="modal centered-modal domainModalwrap" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Manage Domains</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Default Website slug</label>
            <div class="domain-input top">
              <div class="domain-fixed">
                staging.rebabids.com
              </div>
              <input type="text" class="form-control" placeholder="" value="rogsolitude">
            </div>
          </div>

          <div class="form-group">
            <label for="">Domains <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="Your domain name should be registered with one of the domain registrars to be added here."><i class="fas fa-question-circle" aria-hidden="true" role="presentation"></i></a></label>

            <div class="domain-input bottom">
              <div class="domain-btn">
                <a href="javascript:void(0)"><img src="images/plus-icon.svg" alt="real estate sales"></a> &nbsp;
                <a href="javascript:void(0)" data-toggle="modal" data-target="#domainsettingModal"><img src="images/settings-icon.svg" alt="real estate sales"></a>
              </div>
              <input type="text" class="form-control" placeholder="abcd" value="">
            </div>
          </div>


          <div class="domain-list">
            <ul>
              <li>
                <input type="text" class="form-control" aria-label="Delete" placeholder="abcd" value=""> <a href="javascript:void(0)" role="button" class="delete-icon"><i class="far fa-trash-alt" aria-hidden="true" role="presentation"></i></a>
              </li>
              <li>
                <input type="text" class="form-control" aria-label="Delete" placeholder="abcd" value=""> <a href="javascript:void(0)" role="button" class="delete-icon"><i class="far fa-trash-alt" aria-hidden="true" role="presentation"></i></a>
              </li>
            </ul>
          </div>

          <div class="clearfix pt20 center">
            <button class="btn btn-primary-bdr" role="button">Cancel</button> <button class="btn btn-primary radius" role="button">Update</button>
          </div>

        </div>
      </div>
    </div>
  </div><!-- End .domainModal -->


  <div id="domainsettingModal" class="modal centered-modal domainModalwrap" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Own DNS Servers setup for abcd</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">1. Domain validation setup:</label>

          </div>
          <div class="clearfix pt20 center">
            <button class="btn btn-primary-bdr">Close</button> <button class="btn btn-primary radius">Validate</button>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End .domainsettingModal -->
<div class="overlay" style="display:none;">

</div>
{% endblock %}
{% block js_content %}
  <script type="text/javascript" src="{% static 'admin/js/mask_input.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/custom.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'admin/js/tinymce/tinymce.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'admin/js/mask_input.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_validator.js' %}?v=2.4"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/agent.js' %}?v=3.6"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_js.js' %}?v=3.6"></script>
    <script type="text/javascript" src="{% static 'admin/js/dropzone.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_dropzone.js' %}?v=3.1"></script>
    <script type="text/javascript" src="{% static 'admin/js/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/cms.js' %}"></script>


{% endblock %}