{% extends "admin/layout/layout.html" %}
{% load static %}
{% load dashboard_extra %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link href="{% static 'admin/css/dropzone.css' %}?v=2.1" type="text/css" rel="stylesheet" />
{% endblock %}
{% load tz %}
{% block content %}
{% load humanize %}
<div class="dashboard-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <div class="listing-top">
              <div class="block">
                <h6>
                  <strong>Multiple Parcel List</strong>
                </h6>
              </div>
              <div class="block rgt">
                <form action="" class="search-field">
                  <div class="search-icon"><i class="fas fa-search" aria-hidden="true" role="presentation"></i></div>
                  <input type="text" name="portfolio_search" area-label="Search" id="portfolio_search" placeholder="Search" class="form-control input-sm sugesstion_input" value="{{ request.GET.search|default:'' }}">
                  <button type="button" role="button" tabindex="3" id="searchPortfolioBtn" class="btn btn-primary btn-xs pl20" onclick="portfolioListingSearch(1);">Search</button>
                </form>
                <a href="/admin/add-portfolio/" tabindex="4" class="btn btn-secondary btn-xs"><i class="fas fa-plus" aria-hidden="true" role="presentation"></i> New Multiple Parcel</a>
              </div>
              <div class="block filters">
                <ul>
                  <li>
                    <select name="portfolio_num_record" area-label="Record" title="Record" tabindex="5" id="portfolio_num_record" class="select form-control" onchange="portfolioListingSearch(1);">
                      <option value="10" {% if request.GET.perpage and request.GET.perpage == 10 %}selected{% endif %}>10</option>
                      <option value="20" {% if request.GET.perpage and request.GET.perpage == 20 %}selected{% endif %}>20</option>
                      <option value="30" {% if request.GET.perpage and request.GET.perpage == 30 %}selected{% endif %}>30</option>
                      <option value="40" {% if request.GET.perpage and request.GET.perpage == 40 %}selected{% endif %}>40</option>
                      <option value="50" {% if request.GET.perpage and request.GET.perpage == 50 %}selected{% endif %}>50</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div><!-- End .listing-top -->


            <div id="portfolio_list" class="listing-table">
              {% if portfolio_list %}
                {% if portfolio_list|length > 3 %}
                  {% define_var portfolio_list|length|add:'-1' as first_row %}
                  {% define_var portfolio_list|length as second_row %}
                {% else %}
                  {% define_var 0 as first_row %}
                  {% define_var 0 as second_row %}
                {% endif %}
              {% for portfolio in portfolio_list %}
              <div id="row_{{ portfolio.id }}" class="parcel_blocks {% if first_row > 0 and second_row > 0 %}{% if forloop.counter == first_row or forloop.counter == second_row %}last-row{% endif %}{% endif %}">
                <ul class="bottom">
                  <li>
                    No. Property : {{ portfolio.no_property|default:'' }}
                  </li>
                  <li>
                    Created Date  | <span class="convert_to_local_date_time date-block" data-value="{{ portfolio.added_on|default:'' }}">{{ portfolio.added_on }}</span>
                  </li>
                </ul>
                <ul class="top">
                  <li>
                    <h6 class="name">
                      {{ portfolio.name|default:'' }}
                      <span>
                        Portfolio Name
                      </span>
                    </h6>
                  </li>
                  <li>
                    <div class="buyer-name">
                      <i class="fa-solid fa-user" aria-hidden="true" role="presentation"></i>
                      <h6>
                        {{ portfolio.user.first_name|default:'' }} {{ portfolio.user.last_name|default:'' }}
                        <span>
                          User Name
                        </span>
                      </h6>
                    </div>
                  </li>
                  <li>
                    <div class="email-text">
                      <i class="fa-solid fa-envelope" aria-hidden="true" role="presentation"></i>
                      {{ portfolio.user.email|default:'' }}
                    </div>
                  </li>
                  <li>
                    <div class="email-text">
                      <i class="fa-solid fa-pen-to-square" aria-hidden="true" role="presentation"></i>
                      <a href="/admin/add-portfolio/?id={{ portfolio.id }}">Edit</a>
                    </div>
                  </li>
                </ul>

              </div><!-- End .parcel_blocks -->
              {% endfor %}
              {% else %}
              <div class="parcel_blocks">
                <ul class="bottom">
                  <li>
                    No data Available
                  </li>
                </ul>
                <ul class="top">
                  <li class="fullwidth">
                    <img src="{% static 'admin/images/no-data-image.png' %}" alt="No Data Found" role="img" class="center mb0" />
                  </li>
                </ul>
              </div><!-- End .parcel_blocks -->
              {% endif %}
            </div><!-- End .listing-table -->


            <!-- <div class="default-table portfolio-table">
              <div class="block">
                <div class="item">
                  No.
                </div>
                <div class="item">
                  Portfolio Name
                </div>
                <div class="item">
                  User Name
                </div>
                <div class="item">
                  Email
                </div>
                <div class="item">
                  No. Property
                </div>
                <div class="item">
                  Created Date
                </div>
                <div class="item">
                  Action
                </div>
              </div>
              <div class="block sscroll" id="portfolio_list">
                {% if portfolio_list %}
                  {% if portfolio_list|length > 3 %}
                    {% define_var portfolio_list|length|add:'-1' as first_row %}
                    {% define_var portfolio_list|length as second_row %}
                  {% else %}
                    {% define_var 0 as first_row %}
                    {% define_var 0 as second_row %}
                  {% endif %}
                {% for portfolio in portfolio_list %}
                  <div id="row_{{ portfolio.id }}" class="block-item {% if first_row > 0 and second_row > 0 %}{% if forloop.counter == first_row or forloop.counter == second_row %}last-row{% endif %}{% endif %}">
                    <div class="item">
                    {{ forloop.counter0|add:sno }}
                    </div>
                    <div class="item">
                      {{ portfolio.name|default:'' }}
                    </div>
                    <div class="item">
                      {{ portfolio.user.first_name|default:'' }} {{ portfolio.user.last_name|default:'' }}
                    </div>
                    <div class="item">
                      {{ portfolio.user.email|default:'' }}
                    </div>
                    <div class="item">
                      {{ portfolio.no_property|default:'' }}
                    </div>
                    <div class="item convert_to_local_date_time date-block" data-value="{{ portfolio.added_on|default:'' }}">
                      {{ portfolio.added_on }}
                    </div>
                    <div class="item">
                      <div class="action_dropdown {% if first_row > 0 and second_row > 0 %}{% if forloop.counter == first_row or forloop.counter == second_row %}dropup{% endif %}{% endif %}">
                      <a href="javascript:void(0)" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <ul role="menu" class="dropdown-header-top author-log dropdown-menu right">
                          <li><a href="/admin/add-portfolio/?id={{ portfolio.id }}"><i class="far fa-edit"></i> Edit</a>
                          </li>
                      </ul>
                        </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <div class="block-item">
                    <div class="item fullwidth">
                      <img src="{% static 'admin/images/no-data-image.png' %}" class=" center mb0" />
                    </div>
                  </div>
                  {% endif %}

              </div>
            </div> -->

            <div class="pagination">
              <ul id="portfolio_pagination_list">
                {{ pagination_html }}
              </ul>
            </div><!-- End .pagination -->

          </div><!-- End .col-md-10 -->
        </div><!-- End .row -->
      </div><!-- End .dashboard-body -->
  <div id="confirmAgentDeleteModal" class="modal centered-modal personalModalwrap" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="font15 center">
                    Are you sure you want to delete?
                  </p>
                  <div class="clearfix center">
                    <button class="btn btn-primary-bdr del_agent_btn" id="del_agent_false">No</button> <button class="btn btn-primary del_agent_btn" id="del_agent_true">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End .logoutModal -->
<div id="viewMsgHistoryModal" class="modal centered-modal personalModalwrap confirmModalwrap" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button type="button" class="close" id="msg_close_true" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="estimator_id" id="estimator_id" value=""/>
        <div class="form-group">
          <label for="agent_comment" class="pb10">Message</label>
          <textarea name="agent_comment" class="form-control textarea bdr" id="agent_comment" cols="30" rows="4" placeholder="Enter Your Message"></textarea>
          <p class="error" id="agent_comment_err" style="display:none;"></p>
        </div>
        <p id="usr_msg"></p>
        <div class="clearfix center">
            <button type="button" class="btn btn-secondary confirm_bid_btn" id="send_msg" onclick="send_review_msg()">Send</button><button type="button" data-dismiss="modal" class="btn btn-primary-bdr" id="close_msg_pop">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="overlay" style="display:none;">
              <div class="loader">Loading...</div>
            </div>
{% endblock %}
{% block js_content %}
    <script type="text/javascript" src="{% static 'admin/js/custom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_validator.js' %}?v=2.4"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/autosuggestion.js' %}?v=1.9"></script>
    <script type="text/javascript" src="{% static 'admin/js/pagination.js' %}?v=1.1"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_js.js' %}?v=4.2"></script>
    <script type="text/javascript" src="{% static 'admin/js/portfolio.js' %}?v=6.1"></script>
    <script type="text/javascript" src="{% static 'admin/js/dropzone.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/custom_dropzone.js' %}?v=3.1"></script>


    <script>
      var response_msg = '{{ response.msg }}';
      var response_error = '{{ response.error }}';
      $(document).ready(function(){
        myfunction(response_error, response_msg);
      });
      //getresult('agent_listing', 1, '', '', '');
      function myfunction(){
        if(response_error == '0' && response_msg != ""){
          $.growl.notice({title: "Business Info ", message: response_msg, size: 'large'});
        }else if(response_error == '1' && response_msg != ""){
          $.growl.error({title: "Business Info ", message: response_msg, size: 'large'});
        }else{

        }
      }

      $('[data-toggle="tooltip"]').tooltip();


      $('.select').chosen();

    </script>
{% endblock %}