[data-tooltip] {
  display: inline-block;
  position: relative;
}
/* Tooltip styling */
[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: #262626;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 22px;
  min-width: 100px;
  text-align: center;
  box-shadow: 0px 2px 8px #00000029;
  border-radius: 2px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
  bottom: 100%;
  margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
  left: 100%;
  margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
  top: 100%;
  margin-top: 6px;
}
[data-tooltip-position="left"]:before {
  right: 100%;
  margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
  left: 50%;
  margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
  top: 50%;
  margin-top: -6px;
}
[data-tooltip-position="top"]:after {
  bottom: 100%;
  border-width: 6px 6px 0;
  border-top-color: #262626;
}
[data-tooltip-position="right"]:after {
  left: 100%;
  border-width: 6px 6px 6px 0;
  border-right-color: #262626;
}
[data-tooltip-position="bottom"]:after {
  top: 100%;
  border-width: 0 6px 6px;
  border-bottom-color: #262626;
}
[data-tooltip-position="left"]:after {
  right: 100%;
  border-width: 6px 0 6px 6px;
  border-left-color: #262626;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  z-index: 50;
}


.tooltipp {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: $white;
  // i {
  //   font-size: $fontMedium;
  // }
  // &.rgt {
  //   position: absolute;
  //   right: 0;
  //   top: auto;
  // }
  &:hover {
    .tooltipp__content {
      opacity: 1;
      visibility: visible;
    }
  }
  .tooltipp__content {
    background: #000;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    right: 30px;
    margin-left: -70%;
    opacity: 0;
    font-size: $fontMiddle;
    font-weight: 500;
    line-height: 20px;
    padding: 1rem 0.5rem;
    position: absolute;
    text-align: center;
    transition: opacity 0.5s;
    visibility: hidden;
    width: 350px;
    z-index: 1;
    &.width70 {
      width: 70px;
    }
    &.banner-tool {
      width: 400px;
    }
    &.banner-img {
      width: 600px;
    }
    &.frame {
      width: 450px;
    }
    &.framee {
      width: 550px;
    }
    &.pwd {
      width: 200px;
    }
    &.right {
      left: 40px;
      &:after, &:before {
        right: 100%;
        left: auto;
      }
      &:after {
        border-right-color: #000;
        border-left-color: transparent;
      }
      &:before {
        border-right-color: #000;
        border-left-color: transparent;
      }
    }
    &.right-bottom {
      left: 40px;
      @include breakpoint(xs) {
        bottom: 0;
        left: 0;
        margin-left: 0;
        top: 25px;
        transform: inherit;
        display: inline-table;
        width: 100%;
        padding: 5px;
      }
      &:after, &:before {
        right: 100%;
        left: auto;
        @include breakpoint(xs) {
          right: 1px;
          left: auto;
          top: -18px;
        }
      }
      &:before {
        border-right-color: #000;
        border-left-color: transparent;
        @include breakpoint(xs) {
          border-color: rgba(194, 225, 245, 0);
          border-bottom-color: #000;
          margin-left: -11px;
          margin-top: inherit;
        }
      }
      &:after {
        border-right-color: #000;
        border-left-color: transparent;
        @include breakpoint(xs) {
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: #000;
          margin-left: -11px;
          margin-top: inherit;
        }
      }
    }
    img {
      margin-top: 5px;
    }
    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-left-color: $black;
      border-width: 10px;
      margin-top: -10px;
    }
    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: rgba($color: #000000, $alpha: 0.2);
      border-width: 11px;
      margin-top: -11px;
    }
  }
}
