{% load static %}
{% load dashboard_extra %}
{% load humanize %}
{% if all_data %}
{% for data in all_data %}
    <tr role="row">
        <td role="rowheader">
        {{ forloop.counter|add:start_index }}
        </td>

        <td role="rowheader">
        {% if data.bid_amount %}
             ${{data.bid_amount|intcomma|default:'0'}}
        {% endif %}
        </td>
        <td role="rowheader">
        {% if data.ip_address %}
             {{data.ip_address|default:''}}
        {% endif %}
        </td>
        <td role="rowheader" class="convert_to_local_date_time" data-value="{{ data.bid_date|default:'' }}">
        </td>
        <td role="rowheader">
        {% if data.is_last_bid %}
            <a class="delete_last_bid red-text" onclick="confirmDeleteLastBid({{data.property}})"><i class="fa-solid fa-trash" aria-hidden="true" role="presentation"></i> Delete</a>
        {% endif %}
        </td>
    </tr>
{% endfor %}
{% endif %}

{% block js_content %}
<script type="text/javascript" src="{% static 'admin/js/custom_js.js' %}?v=4.7"></script>
{% endblock %}