{% load static %}
{% load dashboard_extra %}
{% load humanize %}
{% if bid_history %}
{% for bids in bid_history %}
    <tr role="row">
        <td role="rowheader">
        {{ forloop.counter|add:start_index }}
        </td>
        <td role="rowheader">
        {% if bids.bidder_detail %}
        {{bids.bidder_detail.first_name}} {{bids.bidder_detail.last_name}}
        {% endif %}
        </td>
         <td role="rowheader">
        {% if bids.bidder_detail %}
        {{bids.bidder_detail.email}}
        {% endif %}
        </td>
        <td role="rowheader">
        {% if bids.bidder_detail %}
        {{bids.bidder_detail.phone_no|default:''|format_phone}}
        {% endif %}
        </td>
        <td role="rowheader">
        ${{bids.bid_amount|intcomma|default:'0'}}
        </td>
        <td role="rowheader">
        {{bids.ip_address|default:'-'}}
        </td>
        <td role="rowheader" class="convert_to_local_date_time" data-value="{{ bids.bid_date|default:'' }}">
        {{bids.bid_date}}
        </td>
    </tr>
{% endfor %}
{% endif %}

{% block js_content %}
<script type="text/javascript" src="{% static 'admin/js/custom_js.js' %}?v=4.7"></script>
{% endblock %}