{% load static %}
{% load dashboard_extra %}
{% if bidder_list %}
{% for bidder in bidder_list %}

<div class="block-item">
  <div class="item">
    {{ forloop.counter|add:start_index }}
  </div>
  <div class="item">
    {{ bidder.registrant|default:'' }}
  </div>
  <div class="item">
    {{ bidder.email|default:'' }}
  </div>
  <div class="item">
    +{{bidder.phone_country_code|default:971}} {{ bidder.phone_no|default:''|format_phone }}
  </div>
  <div class="item">
    AED {{bidder.transaction_amount | default:0}} <br/>
  </div>
  <div class="item">
    AED {{bidder.total_tax | default:0}}
  </div>
  <div class="item">
    <span class="badge {% if bidder.is_approved|lower == 'pending' %}badge-warning{% elif bidder.is_approved|lower == 'approved' %}badge-success{% elif bidder.is_approved|lower == 'declined' %}badge-danger{% else %}badge-info{% endif %}">
      {{ bidder.is_approved|default:'' }}
    </span>
  </div>
  <div class="item">
    {{ bidder.ip_address|default:'' }}
  </div>
  <div class="item convert_to_local_date_time date-block" data-value="{{ bidder.added_on|default:'' }}">
    {{ bidder.added_on|default:'' }}
  </div>
  <div class="item">
    <a href="/admin/bidder-registration-details/?id={{ bidder.id }}" class="badge badge-info"><i class="far fa-eye" aria-hidden="true" role="presentation"></i></a>
  </div>
</div>
{% endfor %}
{% else %}
<div class="block-item">
  <div class="item fullwidth"><img src="{% static 'admin/images/no-data-image.png' %}" alt="No Data Found" role="img" class="center mb0" /></div>
</div>
{% endif %}
{% block js_content %}
<script type="text/javascript" src="{% static 'admin/js/listing.js' %}?v=4.7"></script>
{% endblock %}