{% load static %}
{% load dashboard_extra %}
{% load humanize %}
{% if all_data %}
{% for data in all_data %}
    <tr role="row">
        <td role="rowheader">
        {{ forloop.counter|add:start_index }}
        </td>
        <td role="rowheader">
            {{data.first_name|default:""}}
        </td>
         <td role="rowheader">
            <a href="mailto:{{data.email}}">{{data.email|default:"-"}}</a>
        </td>
        <td role="rowheader">
            +{{data.phone_country_code|default:971}} {{data.phone_no|default:'-'|format_phone}}
        </td>
        <td role="rowheader" class="convert_to_local_date_time" data-value="{{ data.added_on|default:'' }}">
        </td>
    </tr>
{% endfor %}
{% endif %}

{% block js_content %}
<script type="text/javascript" src="{% static 'admin/js/listing.js' %}?v=4.7"></script>
{% endblock %}