{% if document_list %}
{% for doc in document_list %}
<li rel_id="" rel_position="">
  <figure>
  {% if doc.extension == 'pdf' %}
    <i class='fas fa-file-pdf' aria-hidden="true" role="presentation"></i>
  {% elif doc.extension == 'docx' %}
    <i class='far fa-file-alt' aria-hidden="true" role="presentation"></i>
  {% elif doc.extension == 'doc' %}
  <i class='fas fa-file-word' aria-hidden="true" role="presentation"></i>
  {% else %}
  <i class="fas fa-file-image" aria-hidden="true" role="presentation"></i>
  {% endif %}
    </figure>
  <figcaption><a href="{{ azure_blob_url }}{{ doc.bucket_name }}/{{ doc.doc_file_name }}" data-article-id="" data-image-id="" data-image-name="" data-image-section=""  class="close-btn"><h6>{{ doc.original_doc_name }}</h6></a></figcaption>
</li>
{% endfor %}
{% endif %}