{% extends "admin/layout/layout.html" %}
{% load static %}
{% load dashboard_extra %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link href="{% static 'admin/css/dropzone.css' %}?v=2.2" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.css">
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">

        <div class="row">
          <form name="add_agent_form" id="add_agent_form" method="post" autocomplete="off">
            {% csrf_token %}
          <div class="col-md-12 col-sm-12">
            <div class="back-btn">
              <a href="/admin/sub-admin/"><i class="fas fa-chevron-left" aria-hidden="true" role="presentation"></i> Back</a>
            </div>

            <h6>
              Sub Admin Information
            </h6>
            <div class="box clearfix">
              <div class="row">
                <input type="hidden" name="agent_id" id="agent_id" value="{{ agent_details.id|default:'' }}"/>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label for="agent_first_name">Name <span class="text-danger">*</span></label>
                    <input type="text" aria-label="First Name" class="form-control" name="agent_first_name" id="agent_first_name" placeholder="Enter First Name" value="{{ agent_details.first_name|default:'' }}" maxlength="40">
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label for="agent_first_name_ar">Name In Arabic<span class="text-danger">*</span></label>
                    <input type="text" aria-label="First Name" class="form-control" name="agent_first_name_ar" id="agent_first_name_ar" placeholder="Enter First Name In Arabic" value="{{ agent_details.first_name_ar|default:'' }}" maxlength="40">
                  </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label for="user_email">Email <span class="text-danger">*</span></label>
                    <input type="email" aria-label="Email" class="form-control" name="user_email" id="user_email" placeholder="Enter Email" value="{{ agent_details.email|default:'' }}">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label for="usr_phone_no">Phone <span class="text-danger">*</span></label>
                    <div class="ph-code">
                      <select name="phone_country_code" class="select">
                        <option value="971">+971</option>
                      </select>
                      <input type="text" aria-label="Phone" class="form-control" name="usr_phone_no" id="usr_phone_no" placeholder="Phone" value="{{ agent_details.phone_no|default:'' }}" data-inputmask="'mask': '99 999 9999'" data-inputmask-clearincomplete="true">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label for="agent_address">Address <span class="text-danger">*</span></label>
                    <input type="text" aria-label="Address" class="form-control" name="agent_address" id="agent_address" autocomplete="nope" placeholder="Enter Address" value="{{ agent_details.address.0.address_first|default:'' }}">
                  </div>
                </div>

                <!-- <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label for="zip_code">Zip Code <span class="text-danger">*</span></label>
                    <input type="text" aria-label="Zip" class="form-control" name="zip_code" id="zip_code" autocomplete="nope" placeholder="Enter Zip Code" value="{{ agent_details.address.0.postal_code|default:'' }}" maxlength="10">
                  </div>
                </div> -->
                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label for="agent_state">State <span class="text-danger">*</span></label>
                    <select class="select agent_state form-control" aria-label="State" name="agent_state" id="agent_state" >
                      <option value="">Select</option>
                      {% for state in state_list %}
                        <option value="{{ state.id }}" data-short-code="{{ state.iso_name }}" {% if state.id == agent_details.address.0.state %}selected{% endif %}>{{ state.state_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6">
                  <div class="form-group">
                    <label for="agent_status">Status <span class="text-danger">*</span></label>
                    <select name="agent_status" aria-label="Status" class="select agent_status form-control" id="agent_status">
                      <option value="">Select</option>
                      <option value="1" {% if agent_details.status == 1 %}selected{% endif %}>Active</option>
                      <option value="2" {% if agent_details.status == 2 %}selected{% endif %}>Inactive</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="uploadAgentImgFrm">
                  Upload Profile Image
                </label>

                <div class="upload-fav pt10 pb0">
                  <div class="item">
                    <!--<form action="/upload-target" class="dropzone" id="favicon_img" name="favicon_img"></form>-->
                    <div class="dropzone" id="uploadAgentImgFrm">
                      <input type="hidden" id="agent_img_id" name="agent_img_id" value="{{ agent_details.profile_image.upload_id|default:'' }}"/>
                      <input type="hidden" name="agent_img_name" id="agent_img_name" value="{{ agent_details.profile_image.doc_file_name|default:'' }}"/>
                      <div class="dz-default dz-message" data-dz-message="">
                        <!--<input name="file" type="file" id="favicon_img" name="favicon_img" />
                        <button><i class="fas fa-upload"></i> Upload favicon</button>-->

                        <div class="block">
                          <button type="button" class="btn btn-primary"><i class="fas fa-upload" aria-hidden="true" role="presentation"></i> Upload Photo</button>
                        </div>
                        <div class="block">
                          or
                        </div>
                        <div class="block">
                          <h6>
                            Drag & Drop Docs
                            <span>Supported Files:  png, jpg, jpeg</span>
                          </h6>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="item" class="agentImageDiv" id="agentImageDiv" style="{% if agent_details.profile_image.doc_file_name %}{% else %}display:none;{% endif %}">
                    <div class="artical-icon agent-section">
                      <figure>
                        <img src="{{ azure_blob_url }}{{ agent_details.profile_image.bucket_name }}/{{ agent_details.profile_image.doc_file_name }}" class="agentImageId" id="agentImageId" alt="real estate sales" width="211" height="113">
                      </figure>
                      <a href="javascript:void(0)" class="confirm_image_delete" data-image-id="{{ agent_details.profile_image.upload_id|default:'' }}" data-image-name="{{ agent_details.profile_image.doc_file_name|default:'' }}" data-image-section="{{ agent_details.profile_image.bucket_name|default:'' }}" data-count=""><i class="fas fa-trash-alt" aria-hidden="true" role="presentation"></i></a>
                    </div>
                  </div>

                </div><!-- End .uplaod-fav -->
                
              </div>
              <p id="agent_image_error"  class="custom_image_error" style="display:none;">Image is required.</p>
              
              <input type="hidden" name="total_permission" id="total_permission" value="{{ permission_list|length }}" />
              <div class="row">
                <div class="col-md-12">
                  <div class="permission-btn">
                    <h6>
                      Permissions
                    </h6>
                    <ul>
                      <li>
                        <div class="block">
                          <label for="check_all_permission">Allow All Module Access</label>
                          <label title="Allow All Module Access" area-label="Allow All Module Access" class="switch small">
                            <input type="checkbox" area-label="{{ perm.name }}" id="check_all_permission">
                            <span class="slide round"></span>
                          </label>
                        </div>
                      </li>
                    </ul>
                    <ul id="make_agent_perm_list">
                      {% if agent_details.permission|length > 0 %}
                        {% for perm in agent_details.permission %}
                        <li>
                          <div class="block">
                            <input type="hidden" name="permission_id_{{ forloop.counter0 }}" id="permission_id_{{ forloop.counter0 }}" value="{{ perm.id|default:'' }}"/>
                            <input type="hidden" name="permission_name_{{ forloop.counter0 }}" id="permission_name_{{ forloop.counter0 }}" value="{{ perm.name|default:'' }}"/>
                            <input type="hidden" class="is_permission" name="is_permission_{{ forloop.counter0 }}" id="is_permission_{{ forloop.counter0 }}" value="{% if perm.is_permission or perm.id in checked_permission %}1{% else %}0{% endif %}"/>
                            <label for="check_permission_{{ forloop.counter0 }}">
                              {{ perm.name }}
                            </label>
                            <label title="{{ perm.name }}" area-label="{{ perm.name }}" class="switch small {% if perm.id == 25 or perm.id == 7 or perm.id == 11 or perm.id == 6 or perm.id == 4 %}disable_checkbox{% endif %}">
                              <input type="checkbox" area-label="{{ perm.name }}" class="check_permission {% if perm.id == 25 or perm.id == 7 or perm.id == 11 or perm.id == 6 or perm.id == 4 %}disabled_checkbox{% endif %}" rel_permission="{{ perm.id|default:'' }}" id="check_permission_{{ forloop.counter0 }}" name="check_permission_{{ forloop.counter0 }}" value="1" {% if perm.is_permission %}checked{% endif %} {% if perm.id in checked_permission %}checked disabled switch_disable{% endif %}/>
                              <span class="slide round"></span>
                            </label>
                          </div>
                        </li>
                      {% endfor %}
                      {% else %}
                      {% for perm in permission_list %}
                        <li>
                          <div class="block">
                            <input type="hidden" name="permission_id_{{ forloop.counter0 }}" id="permission_id_{{ forloop.counter0 }}" value="{{ perm.id|default:'' }}"/>
                            <input type="hidden" name="permission_name_{{ forloop.counter0 }}" id="permission_name_{{ forloop.counter0 }}" value="{{ perm.name|default:'' }}"/>
                            <input type="hidden" class="is_permission" name="is_permission_{{ forloop.counter0 }}" id="is_permission_{{ forloop.counter0 }}" value="{% if perm.id in checked_permission %}1{% else %}0{% endif %}"/>
                            <label for="check_permission_{{ forloop.counter0 }}">
                              {{ perm.name }}
                            </label>
                            
                            <label title="{{ perm.name }}" area-label="{{ perm.name }}" class="switch small {% if perm.id == 25 or perm.id == 7 or perm.id == 11 or perm.id == 6 or perm.id == 4 %}disable_checkbox{% endif %}">
                              <input type="checkbox" area-label="{{ perm.name }}" class="check_permission {% if perm.id == 25 or perm.id == 7 or perm.id == 11 or perm.id == 6 or perm.id == 4 %}disabled_checkbox{% endif %}" rel_permission="{{ perm.id|default:'' }}" id="check_permission_{{ forloop.counter0 }}" name="check_permission_{{ forloop.counter0 }}" value="1" {% if perm.id in checked_permission %}checked disabled switch_disable{% endif %}/>
                              <span class="slide round"></span>
                            </label>
                          </div>
                        </li>
                      {% endfor %}
                      {% endif %}


                    </ul>
                  </div><!-- End .permission-btn -->
                </div>
              </div>
            </div><!-- End .box -->

            <div class="clearfix pt30">
              <button type="submit" id="submit" class="btn btn-primary">Save</button> 
              <a href="/admin/sub-admin/" class="btn btn-primary-bdr">Cancel</a>
            </div>
            <div class="overlay" style="display:none;">
              <div class="loader">Loading...</div>
            </div>
          </div><!-- End .col-md-10 -->
          </form>
        </div><!-- End .row -->
      </div><!-- End .dashboard-body -->
{% endblock %}
{% block js_content %}
  <script type="text/javascript" src="{% static 'admin/js/mask_input.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/custom.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/mask_input.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.blockUI.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/custom_validator.js' %}?v=2.4"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.growl.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/sub-admin.js' %}?v=3.6"></script>
  <script type="text/javascript" src="{% static 'admin/js/custom_js.js' %}?v=3.6"></script>
  <script type="text/javascript" src="{% static 'admin/js/dropzone.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/custom_dropzone.js' %}?v=3.1"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.js"></script>

<script>
      var is_first_login = {{request.session.is_first_admin_login}};
      var response_msg = '{{ response.msg }}';
      var response_error = '{{ response.error }}';
      
      $('#agent_state, #agent_status').chosen();
      $('[data-toggle="tooltip"]').tooltip();
      // $("#usr_phone_no").inputmask('(999) 999-9999');
      check_permission();
    </script>
{% endblock %}