{% load static %}

<div class="table-responsive">
<table class="table jambo_table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="CMS List Table" role="table">
    <thead>
    <tr class="headings" role="row">
        <th class="column-title" role="columnheader" scope="col">ID </th>
        <th class="column-title" role="columnheader" scope="col" style="width:10%">Domain Name </th>
        <th class="column-title" role="columnheader" scope="col">Page Title </th>
        {% comment %} <th class="column-title" role="columnheader" scope="col">Page Description </th> {% endcomment %}
        <th class="column-title" role="columnheader" scope="col">Meta Title </th>
        <th class="column-title" role="columnheader" scope="col">Meta Keyword </th>
        {% comment %} <th class="column-title" role="columnheader" scope="col" >Meta Description </th> {% endcomment %}
        <th class="column-title" role="columnheader" scope="col">Status </th>
        <th class="column-title no-link last" role="columnheader" scope="col" style="width:14%"><span class="nobr">Action</span>
    </tr>
    </thead>

    <tbody>
    {% if data.total > 0 %}
        {% for cms in data.data %}
        <tr class="even pointer" role="row">
            <th class=" " role="columnheader" scope="row">{{ forloop.counter|add:start_index }}</th>
            <td role="rowheader">
                {{cms.site_domain|default:'-'}}
            </td>
            <td class=" " role="rowheader">
                {% autoescape off %}
                {{ cms.page_title|striptags|truncatewords:"10" }}
                {% if cms.page_title|striptags|wordcount > 10 %}
                <a href="javascript:;" class="text-primary" data-toggle="tooltip" title="{{ cms.page_title|striptags|safe}}">view more</a>
                {% endif %}
                {% endautoescape %}
            </td>
            <td class=" " role="rowheader">
                {% autoescape off %}
                {{ cms.meta_title|striptags|truncatewords:"10" }}
                {% if cms.meta_title|striptags|wordcount > 10 %}
                <a href="javascript:;" class="text-primary" data-toggle="tooltip" title="{{ cms.meta_title|striptags|safe}}">view more</a>
                {% endif %}
                {% endautoescape %}
            </td>
            <td class=" " role="rowheader">{{cms.meta_key_word}}</td>
            <td class=" " role="rowheader">
                <span class="btn btn-xs btn-round {% if cms.status == 1 %} btn-success {% elif cms.status == 5 %} btn-danger {% else %} btn-warning {% endif %}" id="statusText{{cms.id}}">{{cms.status_name}}</span> 
            </td>
            <td class="last" role="rowheader">
                <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
                
                <form method="post" action="{% url 'admin-cms-status-change' %}" data-id="{{cms.id}}" action="" class="ActiveInactive" >
                    {% csrf_token %}
                    <input type="hidden" name="cms_id" value="{{cms.id}}">
                    <input type="hidden" class="status-change" name="status" value="{% if cms.status == 1 %}2{% else %}1{% endif %}">
                    {% if cms.status == 1 %}
                    <button type="submit" role="button" class="btn btn-xs btn-round btn-warning"><i class="fa fa-remove" aria-hidden="true" role="presentation"></i> Deactivate</button>
                    {% else %}
                    <button type="submit" role="button" class="btn btn-xs btn-round btn-success"><i class="fa fa-check" aria-hidden="true" role="presentation"></i> Activate</button>
                    {% endif %}
                </form>
                <a href="{% url 'admin-edit-cms' cms.id %}" type="button" role="link" aria-label="Edit template" aria-description="Edit seperate template" tabindex="5" class="btn btn-xs btn-round btn-primary edit-cms"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Edit</a>
                </div>

            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr role="row">  
            <td colspan="7" role="rowheader">No CMS available </td>
        </tr>
    {% endif %}
    
    </tbody>
</table>
</div>

{% if data.total > 0 %}
<div class="pagination ">
    <ul >
      {{pagination|safe}}
    </ul>
</div>
{% endif %}



{% block js_content %}
  <script>
  $(function() {
    $('#totalCount').html('{{data.total}}')
    $('.convert_to_local_date').each(function(){
        try{
            var added_on = $(this).attr('data-value');
            if(added_on.trim() != "" && added_on.trim() != "None"){
                var local_date = getLocalDate(added_on.trim(), 'mm/dd/yyyy','ampm');
                var actual_date = local_date.split(" ");
                actual_date = actual_date[0]+' '+actual_date[1]+' '+actual_date[2];
                $(this).html(actual_date);
            }else{
                $(this).html('-');
            }
        }catch(ex){
            console.log(ex);
        }
    });
  });
  </script>
{% endblock %}
