{% extends "admin/layout/layout.html" %}
{% load static %}
{% load dashboard_extra %}
{% block title %} CMS List {% endblock title %}
{% block styles %}
<link href="{% static 'admin/vendors/jQuery-Multiple-Select/dist/css/selectize.bootstrap3.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
  
  <div class="listing-top">
    <div class="block">
      <h6>CMS List : <b id="totalCount">{{total_count}}</b></h6>
    </div>
    <div class="block">
      <form action="" class="search-field top_search last">
        <div class="search-icon"><i class="fas fa-search" aria-hidden="true" role="presentation"></i></div>
        <input type="text" id="search" class="form-control input-sm" placeholder="Search for..." aria-label="Search for ...">
        <button class="btn btn-primary btn-xs pl20 searchBtn"  type="submit" aria-label="Go">Go!</button>
      </form>
    </div>
  </div>
  <div class="listing-bottom">
    
    <div class="block">
      <select class="form-control" id="site" name="site_id" aria-label="Filter Domain" multiple>
          <option value="" selected disabled>Filter Domain</option>
          {% for obj in domain_list %}
              {% if obj.is_active %}
                  <option value="{{obj.id}}">{{obj.domain_name}}</option>
              {% endif %}
          {% endfor %}
      </select>
    </div>
    <div class="block">
      <select class="form-control" name="prop_filter_status" aria-label="Filter Status" id="prop_filter_status" multiple>
        <option value="" selected disabled>Filter Status</option>
        {% for obj in status_list %}
              <option value="{{obj.id}}">{{obj.status_name}}</option>
          {% endfor %}
      </select>
    </div>
    <div class="block" style="min-width: 130px;">
      <select class="form-control" name="per_page_record" aria-label="Records" id="per_page_record">
        <option value="10">10 Records</option>
        <option value="20" selected>20 Records</option>
        <option value="30">30 Records</option>
        <option value="40">40 Records</option>
        <option value="50">50 Records</option>
      </select>
    </div>
    <div class="block">
        <a role="link" aria-label="Add CMS" type="button" class="btn btn-primary btn-xs" href="{% url 'admin-add-cms' %}"><i class="fa fa-plus-circle" aria-hidden="true" role="presentation"></i> Add CMS</a>
    </div>
  </div>
  
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags == 'error' %} alert-danger {% elif message.tags == 'success' %} alert-success {% else %} alert-info {% endif %} alert-dismissible " role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>{{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <input type="hidden" name="page-cms-list" id="page-cms-list" value="1">						
  
  <span id="span-ajax-cms-list">
    <div class="table-responsive">
    <table class="table jambo_table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="CMS List Table" role="table">
      <thead>
          <tr role="row" class="headings">
            <th class="column-title" role="columnheader" scope="col">ID </th>
            <th class="column-title" role="columnheader" scope="col" style="width:10%">Domain Name </th>
            <th class="column-title" role="columnheader" scope="col" style="width:15%">Page Title </th>
            {% comment %} <th class="column-title" role="columnheader" scope="col">Page Description </th> {% endcomment %}
            <th class="column-title" role="columnheader" scope="col">Meta Title </th>
            <th class="column-title" role="columnheader" scope="col">Meta Keyword </th>
            {% comment %} <th class="column-title" role="columnheader" scope="col" >Meta Description </th> {% endcomment %}
            <th class="column-title" role="columnheader" scope="col">Status </th>
            <th class="column-title no-link last" role="columnheader" scope="col" style="width:14%"><span class="nobr">Action</span>
            </th>
          </tr>
        </thead>
          
        <tbody>							  			  
        </tbody>
      </table>
    </div>
  </span> 
  
</div> 
{% endblock %}
{% block js_content %}
  <script>
  $(function() {
      setTimeout(function() {
          $(".alert").hide();
      }, 3000);

      $('.select').chosen();
  });
  </script>
  <script type="text/javascript" src="{% static 'admin/build/js/common.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/status-active-inactive.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/cms-list.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/vendors/jQuery-Multiple-Select/dist/js/standalone/selectize.js' %}"></script>
{% endblock %}