{% load static %}
{% load dashboard_extra %}
{% load humanize %}
{% if bidder_listing %}
    {% for bidder in bidder_listing %}
        <tr role="row">
            <td role="rowheader">
              {% if bidder.user_id == user_id %}
                You
              {% else %}
                {{ bidder.bidder }}
              {% endif %}
            </td>
            <!-- <td role="rowheader">
              {{ bidder.bids }}
            </td> -->
            <td role="rowheader">
              ${{ bidder.high_bids|convert_num|intcomma|default:'0' }}
            </td>
<!--            <td class="covert_bidding_date" data-value="{{ bidder.date|default:'' }}">-->
<!--              Nov 23, 2021 12:00 AM CT {{ bidder.date|default:'' }}-->
<!--            </td>-->
            <td role="rowheader" class="convert_to_local_date_time_milis" data-value="{{ bidder.date|default:'' }}"></td>
        </tr>
    {% endfor %}
{% else %}
<tr role="row">
    <td role="rowheader" colspan="4">
        <img src="{% static 'admin/images/no-data-image.png' %}" class=" center mb0" alt="real estate sales" role="img" />
    </td>
</tr>
{% endif %}
<script type="text/javascript" src="{% static 'theme-common/js/common.js' %}?v=4.7"></script>