{% extends "layout/theme-4/layout.html" %}
{% load static %}
{% load dashboard_extra %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% load humanize %}

  <div class="body-content blog-body">

    <div class="blog-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="blog-header-inner">
              <div class="heading">
                <h3>
                  Sellers
                </h3>
                <h1>
                  Guide
                </h1>
              </div>
            </div>
          </div><!-- End .col-lg-12 -->
        </div><!-- End .row -->
      </div><!-- End .container-fluid -->
    </div><!-- End .blog-header -->

    <div class="investment-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h2>
              Expedite Your Sales Process With {{company_name}}
            </h2>
            <h4>
              Expedite Your Sales Process With {{company_name}}
            </h4>
            <p>
              Our state-of-the-art auction and listing platform is built on industry leading technology that enables you to quickly respond to queries, increase efficiency, and produce highest returns for the properties. Leveraging the potential of our platform, you can easily expand your reach to the global audience.
            </p>
            <ul>
              <li>
                <div class="item">
                  <div class="icon icon-7"></div>
                  <h4>
                    High Success <span>Rate</span>
                  </h4>
                  <p>
                    Every asset gets a unique and custom marketing plan that enables sellers to maximize exposure and revenue. Our team actively monitors and optimizes each step, thus we have achieved the highest click-through rate.
                  </p>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="icon icon-8"></div>
                  <h4>
                    Unmatched <span>Experience</span>
                  </h4>
                  <p>
                    Our real estate professionals and agents have closed 50+ deals. We take a look at your asset and work with you to determine the smart way to advertise, channels to market, and buyers to target.  
                  </p>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="icon icon-9"></div>
                  <h4>
                    Use of Best-In-Class <span>Technology</span>
                  </h4>
                  <p>
                    Built on industry-leading technology, our platform offers customizable sale events to meet your needs. We ensure to create the best environment and user experience that ultimately leads to produce the highest returns for our sellers.
                  </p>
                </div>
              </li>
            </ul>
          </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
      </div><!-- End .container-fluid -->
    </div><!-- End .investment-wrap -->


    <div class="different-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="different-box">
              <div class="item">
                <div class="block">
                    <img src="{% static 'theme-4/images/logo-icon.svg' %}" alt="real estate sales">
                </div>
                <div class="block">
                  <h2>
                    How We Are Different?
                  </h2>
                  <div class="diff-items">
                    <div class="item-block">
                      <div class="icon traditional-icon"></div>
                      <h4>
                        Traditional Platforms
                      </h4>
                    </div>
                    <div class="item-block">
                      <div class="icon rewabids-icon"></div>
                      <h4>
                        {{company_name}}
                      </h4>
                    </div>
                  </div>
                  
                </div>
              </div>

              <table width="100%" cellspacing="0" cellpadding="0" data-table="Traditional playform" role="presentation">
                <thead>
                  <tr role="row">
                    <th scope="col">
                      Exposure
                    </th>
                    <th scope="col">
                      Local/ Regional
                    </th>
                    <th scope="col">
                      National/ Global
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row">
                    <td role="rowheader">
                      Transparency
                    </td>
                    <td role="rowheader">
                      None
                    </td>
                    <td role="rowheader">
                      Yes
                    </td>
                  </tr>
                  <tr role="row">
                    <td role="rowheader">
                      Time Frame 
                    </td>
                    <td role="rowheader">
                      Avg. 6 months or more
                    </td>
                    <td role="rowheader">
                      45 Days
                    </td>
                  </tr>
                  <tr role="row">
                    <td role="rowheader">
                      Control
                    </td>
                    <td role="rowheader">
                      Minimum
                    </td>
                    <td role="rowheader">
                      Maximum 
                    </td>
                  </tr>
                  <tr role="row">
                    <td role="rowheader">
                      Due Diligence
                    </td>
                    <td role="rowheader">
                      Deals can fall through
                    </td>
                    <td role="rowheader">
                      Deals Close 
                    </td>
                  </tr>
                  <tr role="row">
                    <td role="rowheader">
                      Convenience
                    </td>
                    <td role="rowheader">
                      Not necessarily 
                    </td>
                    <td role="rowheader">
                      Always
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
      </div><!-- End .container-fluid -->
    </div><!-- End .multiinvest-wrap -->

    <div class="seller-benifits-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h2>
              Benefits 
            </h2>
            <ul>
              <li>
                <div class="item">
                  <h4>
                    Expertise
                  </h4>
                  <p>
                    With years of experience and expertise, we have closed numerous deals. We have auctioned more than 100 million dollars’ worth of real estate across different states.
                  </p>
                </div>
              </li>
              <li>
                <div class="item">
                  <h4>
                    Innovation
                  </h4>
                  <p>
                    We are the preeminent online marketplace dedicated to serving sellers of non-distressed real estate. Using the best of technology, we provide an improved buying and selling experience.
                  </p>
                </div>
              </li>
              <li>
                <div class="item">
                  <h4>
                    Compatibility
                  </h4>
                  <p>
                    We offer you complete flexibility to make the best decisions based on interests. The platform is easily accessible and trackable from smartphones and desktops.
                  </p>
                </div>
              </li>
            </ul>
          </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
      </div><!-- End .container-fluid -->
    </div><!-- End .benifits-wrap -->
    {% if testimonials|length %}
    <div class="testimonial-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="customers-testimonials">
              {% for testimonial in testimonials%}
              <div class="item">
                <figure>
                  {% if testimonial.author_image.image_name %}
                    <img src="{{ azure_blob_url }}{{ testimonial.author_image.bucket_name }}/{{ testimonial.author_image.image_name }}" alt="real estate sales">
                  {% else %}
                    <img src="{% static 'theme-4/images/man.png' %}" alt="real estate sales">
                  {% endif %}
                </figure>
                <h6>
                  "{{testimonial.description|safe|striptags|default:""}}
                </h6>
                <h4>
                  {{testimonial.author_name|default:""}}
                </h4>
                <div class="designation">
                  {{testimonial.type|title|default:""}}
                </div>
              </div>
              {% endfor %}
          </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
      </div><!-- End .container-fluid -->
    </div><!-- End .testimonial-wrap -->
    {% endif %}
    {% if sess_user_id %}
    {% else %}
    <div class="register-today">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="register-today-wrap">
              <h3>
                Why wait? Register today!
              </h3>
              <form action="">
                <input type="text" class="form-control" placeholder="Your email address" role="textbox" aria-label="Email Address">
                <button role="button" class="btn btn-primary" aria-label="Signup">Signup</button>
              </form>
              <!-- <div class="button">
                <a href="{% if sess_user_id %}javascript:void(0);{% else %}{% url 'register' %}{% endif %}" class="btn btn-primary line">Signup now</a>
              </div> -->
            </div>
          </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
      </div><!-- End .container-fluid -->
    </div><!-- End .register-today -->
    {% endif %}
  </div><!-- end .body-content -->

  {% endblock %}
{% block js_content %}
  

  <script type="text/javascript" src="{% static 'theme-common/js/slick.js' %}"></script>
  <script type="text/javascript" src="{% static 'theme-common/js/common.js' %}?v=1.1"></script>
  <script>
    $(".customers-testimonials").slick({
      dots: false,
      infinite: true,
      slidesToShow: 1,
      adaptiveHeight:true,
    });
  </script>
{% endblock %}