{% extends "admin/layout/layout.html" %}
{% load static %}
{% load dashboard_extra %}

{% block title %} Blog List {% endblock title %}

{% block styles %}
  <link href="{% static 'admin/vendors/jQuery-Multiple-Select/dist/css/selectize.bootstrap3.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
  
    <div class="listing-top">
      <div class="block">
        <h6>Blog List : <b id="totalCount">Loading...</b></h6>
      </div>

      <div class="block">
        <form action="" class="search-field last top_search">
          <div class="search-icon"><i class="fas fa-search" aria-hidden="true" role="presentation"></i></div>
          <input type="text" id="search" class="form-control input-sm" aria-label="Search For" placeholder="Search for..." aria-label="Search for ...">
          <button class="btn btn-primary btn-xs searchBtn"  type="submit" aria-label="Go">Go!</button>
        </form>
      </div>
    </div>
    
    <div class="listing-bottom">
      
      <div class="block">
        <select class="select form-control" aria-label="Filter Domain" id="site" name="site_id" multiple>
            <option value="" selected disabled>Filter Domain</option>
            {% for obj in domain_list %}
                {% if obj.is_active %}
                    <option value="{{obj.id}}">{{obj.domain_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
      </div>
      <div class="block">
        <select class="select form-control" aria-label="Filter Status" name="prop_filter_status" id="prop_filter_status" multiple>
          <option value="" selected disabled>Filter Status</option>
          {% for obj in status_list %}
                <option value="{{obj.id}}">{{obj.status_name}}</option>
            {% endfor %}
        </select>
      </div>

      <div class="block">
        <select class="select form-control" aria-label="Filter Asset Types" name="asset_type" id="asset_type" multiple>
          <option value="" selected disabled>Filter Asset Types</option>
          {% for obj in asset_list %}
                <option value="{{obj.id}}">{{obj.name}}</option>
            {% endfor %}
        </select>
      </div>

      <div class="block" style="min-width: 130px;">
        <select class="select form-control" aria-label="Records" name="per_page_record" id="per_page_record">
          <option value="10">10 Records</option>
          <option value="20" selected>20 Records</option>
          <option value="30">30 Records</option>
          <option value="40">40 Records</option>
          <option value="50">50 Records</option>
        </select>
      </div>

      <div class="block">
        <a role="link" type="button" aria-label="Add Blog" class="btn btn-primary btn-xs" href="{% url 'admin-add-blog' %}"><i class="fa fa-plus-circle" aria-hidden="true" role="presentation"></i> Add Blog</a>
      </div>

    </div>
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %} alert-danger {% elif message.tags == 'success' %} alert-success {% else %} alert-info {% endif %} alert-dismissible " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>{{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <input type="hidden" name="page-article-list" id="page-article-list" value="1">						
    
    <span id="span-ajax-article-list">
      <div class="table-responsive">
        <table class="table jambo_table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="Article List Table" role="table">
          <thead>
            <tr class="headings" role="row">
              <th class="column-title" role="columnheader" scope="col">ID </th>
              <th class="column-title" role="columnheader" scope="col">Author </th>
              <th class="column-title" role="columnheader" scope="col" style="width:10%">Domain Name </th>
              <th class="column-title" role="columnheader" scope="col">Category </th>
              <th class="column-title" role="columnheader" scope="col">Title </th>
              <th class="column-title" role="columnheader" scope="col">Added On </th>
              <th class="column-title" role="columnheader" scope="col">Publish Date </th>
              <th class="column-title" role="columnheader" scope="col">Status </th>
              <th class="column-title no-link last" role="columnheader" scope="col" style="width:14%"><span class="nobr">Action</span>
              </th>
            </tr>
          </thead>
            
          <tbody>							  			  
          </tbody>
        </table>
      </div>
    </span> 
      
</div>

{% endblock %}

{% block js_content %}
  <script>
  $(function() {
      setTimeout(function() {
          $(".alert").hide();
      }, 3000);
  });
  </script>
  <script type="text/javascript" src="{% static 'admin/build/js/status-active-inactive.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/article-list.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/vendors/jQuery-Multiple-Select/dist/js/standalone/selectize.js' %}"></script>
{% endblock %}
