{% extends "admin/layout/layout.html" %}
{% load static %}
{% block title %} Property Estimator List {% endblock title %}

{% block style %}
  
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
  
    <div class="listing-top">
      <div class="block">
        <h6>Property Estimator List</h6>
      </div>
      <div class="block">
        <form action="" class="search-field top_search last">
          <div class="search-icon"><i class="fas fa-search" aria-hidden="true" role="presentation"></i></div>
          <input type="text" id="estimator_search" class="form-control input-sm" aria-label="Search" placeholder="Search for..." value="{{search|default:''}}" aria-label="Search for ...">
          <button class="btn btn-secondary btn-xs searchBtn"  type="button" onclick="ajax_estimate_list(1)" aria-label="Go">Go!</button>
        </form>
      </div>
    </div>
    
    <div class="listing-bottom">
      
      <div class="block" style="min-width: 130px;">
          <select class="select form-control" aria-label="All Domains" id="domain_id" name="domain_id" required="required" multiple onchange="ajax_estimate_list(1)">
              <option  value="" selected disabled>All Domains</option>
              {% for obj in domain_list %}
                  {% if obj.is_active %}
                      <option value="{{obj.id}}">{{obj.domain_name}}</option>
                  {% endif %}
              {% endfor %}
          </select>
      </div>
      
    </div>
    
    <div class="x_content">

      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>{{ message }}
        </div>
      {% endfor %}
      {% endif %}

      <div class="table-responsive">
        <table class="table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="Property Estimator List Table" role="table">
          <thead>
            <tr class="headings" role="row">
              <th class="column-title" role="columnheader" scope="col">ID </th>
              <th class="column-title" role="columnheader" scope="col">Name </th>
              <th class="column-title" role="columnheader" scope="col">User Type </th>
              <th class="column-title" role="columnheader" scope="col">Email </th>
              <th class="column-title" role="columnheader" scope="col">Phone </th>
              <th class="column-title" role="columnheader" scope="col">Property Type </th>
              <th class="column-title" role="columnheader" scope="col">Created Date </th>
              <th class="column-title" role="columnheader" scope="col">Assign To </th>
              <th class="column-title" role="columnheader" scope="col">Status </th>
              <th class="column-title" role="columnheader" scope="col">Message </th>
              <th class="column-title no-link last" role="columnheader" scope="col"><span class="nobr">View Details</span>
              </th>
            </tr>
          </thead>

          <tbody id="propertyEstimatorList">
            {% if estimator_list %}
                {% for estimator in estimator_list %}
                <tr class="even pointer" role="row">
                  <th class=" " role="columnheader" scope="col">{{ forloop.counter0|add:sno }}</th>
                  <td class=" " role="rowheader">{{ estimator.user_first_name|default:'' }} {{ estimator.user_last_name|default:'' }}</td>
                  <td class=" " role="rowheader">{{ estimator.user_type|default:'' }}</td>
                  <td class=" " role="rowheader">{{ estimator.user_email|default:'' }}</td>
                  <td class=" " role="rowheader">{{ estimator.user_phone_no|phone_split|default:'-' }}</td>
                  <td class=" " role="rowheader">{{ estimator.property_type|default:'' }}</td>
                  <td class="convert_to_local_date" role="rowheader" data-value="{{ estimator.added_on|default:'' }}">{{ estimator.added_on }}</td>
                  <td class=" " role="rowheader">
                      {% if estimator.assign_to_first_name %}
                          {{ estimator.assign_to_first_name|default:'' }} {{ estimator.assign_to_last_name|default:'' }}
                      {% else %}
                        Not Assigned Yet
                      {% endif %}
                  </td>
                  <td class=" " role="rowheader">
                    <a type="button" class="btn  btn-xs btn-round {% if estimator.complete_status_id == 2 %} btn-danger{% elif estimator.complete_status_id == 4 %} btn-warning{% else %}btn-success{% endif %}" id="statusText{{user.id}}">{{ estimator.complete_status|default:'' }}</a>
                  </td>
                  <td role="rowheader">
                      <a href="javascript:void(0)" onclick="show_message('{{ estimator.review_msg|escape_char|default:'' }}');" class="blue-text" title="View Message">View Message</a>
                  </td>
                  <td class="last" role="rowheader">
                    <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
                      <a href="/admin/estimator-details/?id={{estimator.id}}" type="button" data-id="{{estimator.id}}"  class="btn btn-xs btn-round btn-primary edit-question"><i class="fa fa-eye" aria-hidden="true" role="presentation"></i> View</a>

                    </div>
                  </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr role="row">  <td class=" " role="rowheader" colspan="11">No Data available </td></tr>
            {% endif %}

          </tbody>
        </table>
        <nav class="pagination" aria-label="Page navigation example">
          <input type="hidden" id="page-estimator-list" value="1"/>
          <ul id="propertyEstimatorPagination">
              {{pagination_html|safe}}
          </ul>
        </nav>
      </div>


    </div>
          
</div>



  <div id="viewMsgHistoryModal" class="modal centered-modal personalModalwrap confirmModalwrap" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Message</h5>
          <button type="button" class="close" id="msg_close_true" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--<input type="hidden" name="estimator_id" id="estimator_id" value=""/>
          <div class="form-group">
            <label for="agent_comment" class="pb10">Message</label>
            <textarea name="agent_comment" class="form-control textarea bdr" id="agent_comment" cols="30" rows="4" placeholder="Enter Your Message"></textarea>
            <p class="error" id="agent_comment_err" style="display:none;"></p>
          </div>-->
          <p id="usr_msg"></p>
          <div class="clearfix center">
              <button type="button" data-dismiss="modal" class="btn btn-primary-bdr" id="close_msg_pop">Ok</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="overlay" style="display:none;">
                <div class="loader">Loading...</div>
              </div>
</div>
{% endblock %}

{% block js_content %}
  <script>
  $(function() {
      setTimeout(function() {
          $(".alert").hide();
      }, 3000);
      // hit add event type modal
      /*if(window.location.hash && window.location.hash == '#add-event-type' ) {
          var hash = window.location.hash;
          window.history.pushState({}, "", window.location.href.split("#")[0]);
          $('.' + hash.split('#')[1]).modal('show');
      }*/
  });
  </script>
  <script type="text/javascript" src="{% static 'admin/build/js/common.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/property-estimator.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/boolean-active-inactive.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/vendors/jQuery-Multiple-Select/dist/js/standalone/selectize.js' %}"></script>
  <link href="{% static 'admin/vendors/jQuery-Multiple-Select/dist/css/selectize.bootstrap3.css' %}" type="text/css" rel="stylesheet" />
<script>
    $(function() {
    $('select[multiple]').selectize(
        {
            plugins: ['remove_button'],
            delimiter: ',',
            persist: false,
            create: false,
        }
    );
});
</script>
{% endblock %}
