@mixin breakpoint($point) {
  @if $point == laptop {
    @media (max-width: 1500px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 1280px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $point == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == xxs {
    @media (max-width: 479px) {
      @content;
    }
  }
}

.modal {
  background: rgba($color: #000000, $alpha: 0.5);
}

.newfeatureModalwrap {
  .modal-content {
    background: $white;
    border-radius: 0;
    .modal-header {
      border-bottom: none;
      h5 {
        line-height: 24px;
        text-align: center;
        font-weight: 500;
        // @include font-semi();
      }
    }
  }
}
.welcomeModalwrap {
  .modal-content {
    background: rgba($color: $white, $alpha: 0.9);
    border-radius: 25px;
    .modal-header {
      border-bottom: none;
      padding: 25px 50px;
      h5 {
        line-height: 24px;
        text-align: left;
        font-weight: 500;
      }
    }
    .modal-body {
      padding: 0 50px 40px;
      p {
        line-height: 26px;
        font-size: $fontMiddle;
        color: rgba($color: $black, $alpha: 0.7);
      }
    }
  }
}

#EditLisingSettingModal.personalModalwrap {
  .modal-content {
    background: $white;
  }
}
.personalModalwrap {
  .modal-content {
    // background: #F5F6F9;
    border-radius: 0;
    .modal-header {
      border-bottom: none;
      h5 {
        line-height: 24px;
        text-align: center;
        font-weight: 500;
      }
    }
    .form-control{
      background: transparent;
    }
    .personal-pic-upload {
      .upload-fav {
        .item {
          width: calc(100% - 100px);
          .dropzone {
            padding: 10px;
            background: $white;
            .dz-default {
              display: table;
              width: 100%;
              .block {
                width: 100%;
                padding: 5px 0;
                margin: 0;
              }
            }
          }
          &:last-child {
            width: 100px;
            padding-left: 10px;
          }
        }
      }
    }
    .user-pic-upload {
      .upload-fav {
        .item {
          width: calc(100% - 100px);
          &:last-child {
            width: 100px;
            padding-left: 10px;
          }
        }
      }
    }
    .personal-modal {
      display: flex;
      flex-wrap: wrap;
      .block {
        h6 {
          font-size: $fontMedium;
          // @include font-semi();
        }
        &:first-child {
          background: $white;
          width: 30%;
          padding: 20px;
        }
        &:last-child {
          width: calc(70% - 20px);
          margin-left: 20px;
          padding: 20px 40px;
          background: #ECECEC;
        }
        .form-input {
          background: transparent;
        }
      }
      .upload-photo {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        .item { 
          font-size: $fontMiddle;
          line-height: 14px;
          // @include font-regular();
          &:first-child {
            width: 60px;
            height: 60px;
          }
          &:last-child {
            width: calc(100% - 80px);
            padding-left: 20px;
          }
          img {
            max-width: 100%;
            max-height: 100%;
            @include border-radius(100%);
          }
        }
      }
      .security-list {
        padding-bottom: 50px;
        li { 
          position: relative;
          padding: 0 0 0 20px;
          line-height: 20px;
          font-size: $fontXS;
          // @include font-regular();
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 7px;
            width: 8px;
            height: 8px;
            background-position: -591px -328px;
            @include iconBg();
          }
        }
      }
      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding-top: 5px;
        .btn {
          border: none;
          color: #005EC9;
          background-color: white;
          padding: 0;
          font-size: $fontMiddle;
          height: auto;
          line-height: 14px;
          background: transparent;
        }
        input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
        }
      }
      
      .personal-links {
        li {
          position: relative;
          &.active {
            a {
              color: $secondary;
            }
            &:after {
              content: "";
              position: absolute;
              right: 0;
              top: 17px;
              width: 7px;
              height: 12px;
              background-position: -541px -324px;
              @include iconBg();
              
            }
          }
          a {
            font-size: $fontMedium;
            line-height: 45px;
            color: $black;
            // @include font-regular();
            &.active {
              color: $secondary;
            }
            &:hover {
              color: $secondary;
            }
          }
        }
      }
    }
  }
}


.domainModalwrap {
  .modal-content {
    background: $white;
    border-radius: 0;
    .modal-header {
      border-bottom: none;
      h5 {
        line-height: 24px;
        text-align: center;
        font-weight: 500;
        // @include font-semi();
      }
    }
    .domain-input {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: 20px;
      &.top {
        .form-control {
          padding-right: 170px;
        }
      }
      &.bottom {
        .form-control {
          padding-right: 60px;
        }
      }
      .domain-fixed {
        position: absolute;
        right: 0;
        top: 15px;
        color: $black;
        z-index: 1;
      }
      .domain-btn {
        position: absolute;
        right: 0;
        top: 15px;
        color: $black;
        z-index: 1;
      }
      .form-control {
        height: 46px;

      }
      .btn {
        margin-left: 10px;
        padding: 0 20px;
      }
    }
    .domain-list {
      max-height: 300px;
      overflow-y: auto;
      ul {
        li {
          display: flex;
          justify-content: space-between;
          padding: 0;
          margin-bottom: 20px;
          font-size: $fontMedium;
          position: relative;
          &:last-child {
            margin-bottom: 0;
          }
          .delete-icon {
            color: $secondary;
            position: absolute;
            right: 0;
            top: 15px;
          }
        }
      }
    }
  }
}

.SuccessModalwrap {
  .modal-content {
    background: $white;
    border-radius: 0;
    .modal-header {
      border-bottom: none;
      text-align: center;
      h4 {
        font-family: 'PT Serif';
        line-height: 37px;
        color: $secondary;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
      }
    }
    .modal-body {
      h4 {
        line-height: 32px;
        font-weight: 500;
        margin-bottom: 5px;
        text-align: center;
      }
      h5 {
        text-align: center;
        line-height: 24px;
        color: rgba($color: $black, $alpha: 0.7);
        padding-bottom: 20px;
      }
    }
  }
}


.confirmModalwrap {
  .modal-content {
    background: $white;
    border-radius: 0;
    .modal-header {
      border-bottom: none;
      text-align: center;
      h4 {
        font-family: 'PT Serif';
        line-height: 37px;
        color: $secondary;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
      }
    }
    .modal-body {
      h4 {
        line-height: 32px;
        color: $black;
        font-weight: 500;
        margin-bottom: 5px;
        text-align: center;
      }
      h5 {
        text-align: center;
        line-height: 24px;
        color: rgba($color: $black, $alpha: 0.7);
        padding-bottom: 20px;
      }
    }
  }
}

.viewBidModalwrap {
  .modal-content {
    background: #F5F6FA;
    border-radius: 0;
    .modal-header {
      border-bottom: none;
      text-align: center;
      h4 {
        font-family: 'PT Serif';
        line-height: 30px;
        color: rgba($color: $black, $alpha: 0.7);
        font-weight: 400;
        text-align: left;
      }
    }
    .modal-body {
      h4 {
        line-height: 32px;
        color: $black;
        font-weight: 500;
        margin-bottom: 5px;
        text-align: center;
      }
      h5 {
        text-align: center;
        line-height: 24px;
        color: rgba($color: $black, $alpha: 0.7);
        padding-bottom: 20px;
      }
    }
  }
}




#viewOfferDocumentModal {
  .document-list {
    margin: 0;
    padding: 0;
    max-height: 420px;
    overflow-y: auto;
    li {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #DDD;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
      figure {
        width: 25px;
      }
      figcaption {
        width: calc(100% - 25px);
        word-break: break-word;
        h6 {
          margin-bottom: 0;
        }
      }
    }
  }
}



.counterOfferModal {
  .modal-header {
      padding: 10px 20px;
      text-align: center;
      h5 {
          font-weight: $semibold;
      }
  }
  .modal-body {
      padding: 20px;      
      h5 {
          font-size: $fontExtraLarge;
          padding: 0 0 10px;  
          border-bottom: 1px solid #DDD;
      }
      .info-detail {
          display: flex;
          align-items: center;
          padding-bottom: 20px;
          figure {
              width: 60px;
              height: 60px;
              img {
                  max-width: 100;
                  max-height: 100%;
                  @include border-radius (100%);
              }
          }
          figcaption {    
              width: calc(100% - 60px);
              padding-left: 20px;
              h6 {
                  color: #333;    
                  margin-bottom: 3px;
                  font-size: $fontLarge;
                  span {
                      font-size: 85%;
                      display: block;
                      opacity: 0.8;   
                  }
              }   
              h5 {    
                  border-bottom: none;
                  padding: 0;
                  margin: 0;
                  font-size: $fontExtraLarge;
              }
              
          }
      }
      .offerd-list {
          margin-bottom: 20px;
          ul {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 50%;
              padding: 3px 0;
              font-weight: 500;
              @include breakpoint(md) {
                width: 100%;
              }
              &:nth-child(2n+1){
                padding-right: 20px;
              }
              &.fullwidth {
                width: 100%;
                padding-right: 0;
              }
              span {  
                  font-weight: 400;
              }
              .form-group label i {
                color: #8590A8;
              }
              a.chosen-single {
                color: #333;
              }
              .chosen-results {
                display: inherit;
                li {
                  width: 100%;
                  padding: 10px 20px;
                  font-weight: 400;
                }
              }
            }
          }
          
      }
      
  }
}


#roundOneModal, #roundTwoModal {
  .round-success {
    text-align: center;
  }
}