.chosen-container {
  border: none !important;
  border-bottom: 1px solid $bordercolor !important;
}
.chosen-container-single {
  .chosen-single {
    padding: 0 !important;
    text-align: left;
    div {
      right: 0 !important;
    }
  }
}