.breadcrumn {
    
    ul {
        display: flex;
        li {
            position: relative;
            font-size: 20px;
            line-height: 21px;
            color: $white;
            padding: 0 10px 0 15px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                &:before {
                    content: none;
                }
            }
            &:before {
                content: "/";
                position: absolute;
                right: -8px;
            }
            a {
                font-size: 20px;
                line-height: 21px;
                color: $white;
            }
        }
    }
}

.our-mission {
    padding: 5% 0;
    h1 {
        font-family: 'PT Serif';
    }
    ul {
        margin-top: 100px;
        @include breakpoint(lg) {
            margin-top: 50px;
        }
        li {
            position: relative;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            h4 {
                line-height: 36px;
                color: $black;
                display: flex;
                padding: 0 0 0 40px;
                margin-bottom: 0;
                @include breakpoint(md) {
                    line-height: 30px;
                    padding: 10px 0px 10px 50px;
                }
                @include breakpoint(xs) {
                    line-height: 30px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 10px;
                    width: 20px;
                    height: 20px;
                    background: $iconBg;
                    background-position: -130px -16px;
                    @include breakpoint(md) {
                        top: 14px;
                    }
                }
            }
        }
    }
    .item {
        display: flex;
        @include breakpoint(sm) {
            display: block;
        }
        .block {
            h2 {
                font-family: "PT Serif";
                font-size: 48px;
                line-height: 60px;
                margin-bottom: 40px;
                @include breakpoint(lg) {
                    font-size: 34px;
                    margin-bottom: 30px;
                }
                @include breakpoint(sm) {
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                @include breakpoint(xs) {
                    font-size: 28px;
                }
            }
            &:first-child {
                width: 70%;
                padding-right: 3%;
                @include breakpoint(lg) {
                    width: 65%;
                }
                @include breakpoint(sm) {
                    width: 100%;
                }
            }
            &:last-child {
                width: 30%;
                position: relative;
                @include breakpoint(lg) {
                    width: 35%;
                }
                @include breakpoint(sm) {
                    width: 100%;
                }
                figure {
                    position: absolute;
                    top: -150px;
                    z-index: 1;
                    right: -100px;
                    @include breakpoint(lg) {
                        right: 10px;
                    }
                    @include breakpoint(sm) {
                        position: relative;
                        top: 0;
                        right: 0;
                    }
                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                    .wwwu-inner-border-accent {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        border-top: 2px solid $white;
                        border-left: 2px solid $white;
                        width: calc(100% - 20px);
                        height: calc(100% - 20px);
                        pointer-events: none;
                        z-index: -1;
                        @include breakpoint(sm) {
                            left: 10px;
                        }
                    }
                    .wwwu-outer-border-accent {
                        position: absolute;
                        bottom: -20px;
                        right: -20px;
                        border: 2px solid $black;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                        z-index: -1;
                        @include breakpoint(sm) {
                            right: -10px;
                        }
                    }
                }
            }
        }
    }
}
.list-items {
    padding-bottom: 50px;
    @include breakpoint(xs) {
        padding-bottom: 20px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        @include breakpoint(xs) {
            display: block;
        }
        li {
            width: 25%;
            padding: 0 10px;
            margin-bottom: 20px;
            &:last-child {
                @include breakpoint(xs) {
                    margin-bottom: 0;
                }
            }
            @include breakpoint(md) {
                width: 50%;
            }
            @include breakpoint(xs) {
                width: 100%;
            }
            .heading {
                background: #252627;
                text-align: center;
                padding: 30px;
                border: 1px solid $secondary;
                height: 100%;
                @include breakpoint(xs) {
                    width: 100%;
                }  
                .line {
                    width: 45px;
                    height: 5px;
                    background: $secondary;
                    display: inline-block;
                }
                h5 {
                    font-weight: 400;
                    line-height: 26px;
                    text-transform: uppercase;
                    color: $white;
                    margin-bottom: 0px;
                    @include breakpoint(xs) {
                        margin-bottom: 0px;
                    }  
                }
                h4 {
                    color: $secondary;
                    font-size: 28px;
                    line-height: 38px;
                    font-family: 'PT Serif';
                    font-weight: 400;
                    margin-bottom: 0;
                    @include breakpoint(lg) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


// Contact Page

.contact-banner {
    position: relative;
}

.contact-wrap {
    padding: 50px 0 80px;
    background: #f6f6f6;
    @include breakpoint(sm) {
        padding: 20px 0;
    }
    h4 {
        font-weight: 600;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($color: #FFF, $alpha: 0.2);
    }
    .contact-addbar {
        padding: 0;
        width: 100%;
        position: relative;
        .contact-form {
            width: 75%;
            padding: 50px 20% 100px 50px;
            background: $white;
            box-shadow: 0 0 12px rgba($color: #000, $alpha: 0.16);
            @include breakpoint(sm) {
                width: 100%;
                padding: 20px;
            }
            h3 {
                font-family: 'PT Serif';
            }
            h5 {
                font-family: 'PT Serif';
                padding-bottom: 30px;
            }
            p {
                color: $gray;
            }
            .chosen-container-single .chosen-single{
                color: $gray;
                line-height: 38px;
            }
        }
        .address {
            width: 35%;
            position: absolute;
            background: #272727;
            color: $white;
            padding: 20px 0 20px 30px;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            @include breakpoint(lg) {
                padding: 15px;
            }
            @include breakpoint(sm) {
                width: 100%;
                padding: 10px;
                position: relative;
                top: 0;
                right: 0;
                transform: inherit;
            }
            .address-list {
                border-bottom: 1px solid rgba($color: #FFF, $alpha: 0.2);
                li {
                    padding: 0 10px 20px 50px;
                    position: relative;
                    color: rgba($color: #FFF, $alpha: 0.8);
                    a {
                        color: rgba($color: #FFF, $alpha: 0.8);
                    }
                    h6 {
                        margin-bottom: 0;
                        font-weight: 500;
                        font-size: $fontMedium;
                        color: $white;
                    }
                    .icon {
                        position: absolute;
                        left: 0;
                        display: table;
                        background: $iconBg;
                        width: 26px;
                        height: 26px;
                        &.phone-icon {
                            background-position: -243px -529px;
                        }
                        &.msg-icon {
                            background-position: -291px -529px;
                        }
                        &.home-icon {
                            background-position: -191px -529px;
                        }
                    }
                    ol {
                        margin: 0;
                        padding: 5px 0 0 0;
                        li {
                            margin: 0;
                            padding: 3px 0;
                            line-height: 24px;
                            span {
                                padding-right: 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    .follow {
        padding: 20px 0 0 0;
        h5 {
            font-weight: 500;
        }
        .social-links {
            display: flex;
            li {
                margin-right: 15px;
                text-align: center;
                &:nth-child(even){
                    a {
                        border-color: #717171;    
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $white;
                    font-size: 20px;
                    width: 45px;
                    height: 45px;
                    border: 1px solid $secondary;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include breakpoint(lg) {
                        width: 40px;
                        height: 40px;
                    }
                    @include breakpoint(sm) {
                        font-size: $fontExtraLarge;
                        width: 35px;
                        height: 35px;
                    }
                }
                &.facebook {
                    a {
                        &:hover {
                            color: #1877f2;
                        }
                    }
                }
                &.twitter {
                    a {
                        &:hover {
                            color: #1da1f2;
                        }
                    }
                }
                &.youtube {
                    a {
                        &:hover {
                            color: #ff0000;
                        }
                    }
                }
                &.linkedin {
                    a {
                        &:hover {
                            color: #0a66c2;
                        }
                    }
                }
                &.instagram {
                    a {
                        &:hover {
                            color: #c32aa3;
                        }
                    }
                }
            }
        }
    }
}


// Bid Online

.bidprocess-wrap {
    padding: 5% 0;
    h2 {
        font-family: 'PT Serif';
        color: $black;
        font-size: 48px;
        line-height: 46px;
        font-weight: bold;
        padding-left: 10px;
        margin-bottom: 10px;
        border-left: 2px solid $secondary;
        display: flex;
        align-items: center;
        @include breakpoint(lg) {
            font-size: 34px;
            margin-bottom: 0;
            line-height: 36px;
        }
        @include breakpoint(sm) {
            font-size: 30px;
        }
        @include breakpoint(xs) {
            font-size: 28px;
        }
        .hr-line {
            margin-left: 15px;
            width: 75px;
            height: 1px;
            background: $secondary;
            display: inline-block;
        }
    }
    .tagline {
        border-left: none;
        margin-bottom: 30px;
    }

    .progress-barr {
        counter-reset: step;
        display: flex;
        flex-wrap: wrap;
        margin-top: 180px;
        @include breakpoint(sm) {
            display: block;
            margin-top: 0;
        }
        li {
            list-style-type: none;
            width: 16.6%;
            display: inline-block;
            position: relative;
            padding: 0 20px 0 0;
            cursor: pointer;
            @include css3-transition(transition, all 0.4s ease);
            @include breakpoint(sm) {
                width: 100%;
                padding: 0 0 20px;
                display: flex;
                align-items: center;
            }
            &:last-child {
                .icon-box {
                    &:before {
                        content: none;
                    }
                }
            }
            &.active, &:hover {
                .icon-box {
                    .icons {
                        background: $secondary;
                        .icon {
                            &.icon-1 {
                                background-position: -328px -188px;
                            }
                            &.icon-2 {
                                background-position: -391px -186px;
                            }
                            &.icon-3 {
                                background-position: -451px -188px;
                            }
                            &.icon-4 {
                                background-position: -512px -188px;
                            }
                            &.icon-5 {
                                background-position: -573px -188px;
                            }
                            &.icon-6 {
                                background-position: -634px -188px;
                            }
                        }
                    }
                }
                
            }
            h6 {
                padding-top: 20px;
                margin-bottom: 0;
                color: #333;
                line-height: 25px;
                @include breakpoint(sm) {
                    padding-top: 0;
                    padding-left: 20px;
                    width: calc(100% - 86px);
                }
            }
            .icon-box {
                position: absolute;
                top: -120px;
                border: 2px solid #B2B2B2;
                width: 86px;
                height: 86px;
                background: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                @include border-radius(8px);
                @include breakpoint(sm) {
                    top: 0;
                    position: relative;
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    height: 26px;
                    bottom: -30px;
                    border-left: 2px dashed #B7B7B7;
                }
                .icons {
                    width: 62px;
                    height: 62px;
                    box-shadow: 0 0 20px rgba($color: #000, $alpha: 0.16);
                    background: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon {
                        width: 33px;
                        height: 33px;
                        display: inline-block;
                        @include iconBg();
                        &.icon-1 {
                            background-position: -328px -138px;
                        }
                        &.icon-2 {
                            background-position: -391px -136px;
                        }
                        &.icon-3 {
                            background-position: -451px -138px;
                        }
                        &.icon-4 {
                            background-position: -512px -137px;
                        }
                        &.icon-5 {
                            background-position: -573px -138px;
                        }
                        &.icon-6 {
                            background-position: -634px -138px;
                        }
                    }
                }
            }
            
            &:first-child {
                &:after {
                    content: none;
                }
            }
            &:before {
                width: 30px;
                height: 30px;
                content: "";
                line-height: 30px;
                display: block;
                text-align: center;
                margin: 0 0 10px 30px;
                border-radius: 50%;
                background-color: $white;
                border: 1px solid #9B9B9B;
                z-index: 2;
                position: relative;
                @include breakpoint(sm) {
                    content: none;
                }
            }
            &:after {
                width: 100%;
                height: 1px;
                content: '';
                position: absolute;
                border-bottom: 2px dashed $secondary;
                top: 15px;
                left: -70%;
                z-index: 1;
                @include breakpoint(sm) {
                    content: none;
                }
            }
            .number {
                display: inline-block;
                position: absolute;
                z-index: 2;
                left: 40px;
                top: 5px;
                font-size: 20px;
                line-height: 20px;
                font-weight: 500;
                @include breakpoint(sm) {
                    display: none;
                }
            }
        }
    }
    
}


.bidwork-wrap {
    padding: 5% 0;
    background: url(../images/bid-work-bg.jpg) no-repeat 0 0 / cover;
    h2 {
        font-family: 'PT Serif';
        color: $black;
        font-size: 48px;
        line-height: 46px;
        font-weight: bold;
        padding-left: 10px;
        margin-bottom: 40px;
        border-left: 2px solid $secondary;
        display: flex;
        align-items: center;
        @include breakpoint(lg) {
            font-size: 34px;
            margin-bottom: 30px;
            line-height: 36px;
        }
        @include breakpoint(sm) {
            font-size: 30px;
            margin-bottom: 20px;
        }
        @include breakpoint(xs) {
            font-size: 28px;
        }
        .hr-line {
            margin-left: 15px;
            width: 75px;
            height: 1px;
            background: $secondary;
            display: inline-block;
        }
    }
    .item {
        display: flex;
        @include breakpoint(sm) {
            display: block;
        }
        .block {
            width: 50%;
            position: relative;
            @include breakpoint(sm) {
                width: 100%;
            }
            &:first-child {
                padding-right: 40px;
                @include breakpoint(sm) {
                    padding-right: 0px;
                }
            }
            &:last-child {
                @include breakpoint(sm) {
                    padding-bottom: 20px;
                }
            }
            figure{
                position: relative;
                img {
                    width: 100%;
                }
            }
            .play-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 86px;
                height: 57px;
                display: inline-block;
                @include iconBg();
                background-position: -321px -65px;
            }
        }
        p {
            line-height: 30px;
            color: $black;
        }
    }
}



// Video Tutorials


.tutorial-wrapper {
    position: relative;
    background: #f6f6f6;
    padding: 40px 0;
    h2 {
        font-family: 'PT Serif';
        color: $black;
        font-size: 48px;
        line-height: 46px;
        font-weight: bold;
        padding-left: 10px;
        margin-bottom: 40px;
        border-left: 2px solid $secondary;
        display: flex;
        align-items: center;
        @include breakpoint(lg) {
            font-size: 34px;
            margin-bottom: 30px;
        }
        @include breakpoint(sm) {
            font-size: 30px;
            margin-bottom: 20px;
        }
        @include breakpoint(xs) {
            font-size: 28px;
        }
        .hr-line {
            margin-left: 15px;
            width: 75px;
            height: 1px;
            background: $secondary;
            display: inline-block;
        }
    }
    .tutorial-detail-wrap {
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 75%;
        margin: 0 auto;
        @include breakpoint(lg) {
            width: 100%;
        }
        .tutorial-wrap {
            width: 100%;
            .pagination-wrap {
                margin-bottom: 40px;
            }
            .tutorial-list {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;
                @include breakpoint(xs) {
                    display: block;
                }
                li {
                    padding: 0 10px 30px;
                    width: 33.3%;
                    @include breakpoint(md) {
                        width: 50%;
                    }
                    @include breakpoint(xs) {
                        width: 100%;
                    }
                    a {
                        &:hover {
                            figure {
                                img {
                                    transform: scale(1.1);
                                }
                            }
                            .item {
                                border: 1px solid $secondary;
                            }
                        }
                        h5 {
                            color: $black;
                        }
                    }
                    .item {
                        padding: 0;
                        background: $white;
                        height: 100%;
                        border: 1px solid #b2b2b2;
                        position: relative;
                    }
                    figure {
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: rgba($color: #000, $alpha: 0.16);
                            z-index: 3;
                            left: 0;
                        }
                        
                        .article-pic {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            transition: transform .5s ease;
                        }
                        .play-icon {
                            position: absolute;
                            z-index: 3;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 86px;
                            height: 57px;
                            display: inline-block;
                            @include iconBg();
                            background-position: -321px -65px;
                        }
                    }
                    figcaption {
                        width: 100%;
                        padding: 20px;
                        @include breakpoint(md) {
                            padding: 20px 10px 10px 10px;
                        }
                        h5 {
                            font-weight: 600;
                            font-family: 'PT Serif';
                        }
                        p {
                            color: rgba($color: #000, $alpha: 0.7);
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

// Auction Type

.tabs-header {
    background: #F3F3F3;
    padding: 20px 0;
    ul {
        display: flex;
        li {
            padding: 0 15px 0 0;
            &:last-child {
                padding-right: 0;
            }
            &.active {
                a {
                    color: $white;
                    background: $secondary;
                    border: 1px solid $secondary;
                }
            }
            a {
                color: $black;
                font-size: $fontExtraLarge;
                padding: 10px 25px;
                line-height: 24px;
                border: 1px solid $black;
                display: inline-block;
                @include breakpoint(lg) {
                    font-size: $fontLarge;
                    padding: 10px 20px;
                }
                @include breakpoint(sm) {
                    padding: 10px 15px;
                }
                @include breakpoint(xs) {
                    font-size: $font14;
                    padding: 10px 10px;
                }
                &:hover {
                    color: $white;
                    background: $secondary;
                    border: 1px solid $secondary;
                }
            }
        }
    }
}


.auction-body {
    padding: 5% 0;
    h2 {
        font-family: 'PT Serif';
        color: $black;
        font-size: 48px;
        line-height: 46px;
        font-weight: bold;
        padding-left: 10px;
        margin-bottom: 40px;
        border-left: 2px solid $secondary;
        display: flex;
        align-items: center;
        @include breakpoint(lg) {
            font-size: 34px;
            margin-bottom: 30px;
        }
        @include breakpoint(sm) {
            font-size: 30px;
            margin-bottom: 20px;
        }
        @include breakpoint(xs) {
            font-size: 28px;
        }
        .hr-line {
            margin-left: 15px;
            width: 75px;
            height: 1px;
            background: $secondary;
            display: inline-block;
        }
    }
    .item {
        display: flex;
        @include breakpoint(sm) {
            display: block;
        }
        .block {
            width: 50%;
            position: relative;
            @include breakpoint(sm) {
                width: 100%;
            }
            &:first-child {
                padding-right: 40px;
            }
            &:last-child{
                @include breakpoint(sm) {
                    padding-bottom: 20px;
                }
            }
            figure {
                position: relative;
                img {
                    width: 100%;
                }
            }
            .play-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 86px;
                height: 57px;
                display: inline-block;
                @include iconBg();
                background-position: -321px -65px;
            }
        }
        p {
            line-height: 30px;
            color: $black;
        }
    }
}


// FAQ


.bidder-accordian {
    &.customscroll {
        max-height: 500px;
        overflow-y: auto;
    }
    .panel-group {
        margin-bottom: 0;
    }
    .panel-group .panel+.panel {
        margin-top: 0px;
    }
    .panel-default {
        border-bottom: 1px solid #D8D8D8;
        @include border-radius(0);
        position: relative;
        &:before {
            content: "";
            height: 1px;
            background: $white;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        .panel-heading {
            background: $white;
            padding: 0 20px 0 0;
            @include breakpoint(sm) {
                padding: 0;
            }
            .panel-title {
                font-weight: 400;
                padding: 30px 0;
                font-size: 20px;
                @include breakpoint(lg) {
                    font-size: $fontExtraLarge;
                    line-height: 30px;
                    padding: 20px 0;
                }
                @include breakpoint(sm) {
                    font-size: $fontLarge;
                }
                a {
                    color: $secondary;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    &.collapsed {
                        color: $black;
                        .icon {
                            background-position: -702px -17px;
                        }
                    }
                    .icon {
                        width: 16px;
                        height: 18px;
                        display: inline-block;
                        @include iconBg();
                        background-position: -732px -16px;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
        .panel-body {
            padding: 0 0 20px;
            border-top: none !important;
            position: relative;
            line-height: 30px;
            color: rgba($color: #000, $alpha: 0.7);
            &:before {
                content: none;
                position: absolute;
                top: 0;
            }
            p {
                line-height: 30px;
                color: rgba($color: #000, $alpha: 0.7);
            }
        }
    }
}


.list-item {
    li {
        padding: 0 0 10px 25px;
        line-height: 25px;
        position: relative;
        &:before {
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            top: 8px;
            left: 0;
            background: #666;
            @include border-radius (100%);
        }
    }
}