{% extends "admin/layout/layout.html" %}
{% load static %}
{% block title %} Blog Categories {% endblock title %}

{% block style %}
  {{ block.super }}
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
    
    <div class="listing-top">
        <div class="block">
            <h6>Blog Categories</h6>
        </div>
        <div class="block">
            <button type="button" role="button" title="Add Blog Category" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".add-blog-category"><i class="fa fa-plus-circle" aria-hidden="true" role="presentation"></i> Add Blog Category</button>
        </div>
    </div>
    
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %} alert-danger {% elif message.tags == 'success' %} alert-success {% else %} alert-info {% endif %} alert-dismissible " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>{{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <div class="table-responsive">
        <table class="table jambo_table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="Blog Categories List Table" role="table">
        <thead>
            <tr class="headings" role="row">
                <th class="column-title" role="columnheader" scope="col">ID </th>
                <th class="column-title" role="columnheader" scope="col">Name </th>
                <th class="column-title" role="columnheader" scope="col">Status </th>
                <th class="column-title" role="columnheader" scope="col">Added On </th>
                <th class="column-title" role="columnheader" scope="col">Updated On </th>
                <th class="column-title no-link last" role="columnheader" scope="col"><span class="nobr">Action</span>
                </th>
            </tr>
        </thead>

        <tbody>
            {% if data %}
                {% for ctype in data %}
                <tr class="even pointer" role="row">
                    <th class=" " role="columnheader" scope="col">{{ forloop.counter }}</th>
                    <td class=" " role="rowheader">{{ctype.name}}</td>
                    {% comment %} <td class=" ">
                    {% if ctype.status %}
                    <button type="button" class="btn  btn-xs btn-round btn-success" id="statusText{{ctype.id}}">Active</button> 
                    {% else %}
                    <button type="button" class="btn  btn-xs btn-round btn-warning" id="statusText{{ctype.id}}">Inactive</button> 
                    {% endif %}
                    </td> {% endcomment %}
                    <td class=" " role="rowheader">
                        <span class="btn  btn-xs btn-round {% if ctype.status|to_int == 1 %} btn-success {% elif ctype.status|to_int == 5 %} btn-danger {% else %} btn-warning {% endif %}" id="statusText{{ctype.id}}">{{ctype.status_name}}</span> 
                    </td>
                    <td class=" " role="rowheader">{{ctype.added_on|parse_iso|date:'m-d-Y g:i A'}}</td>
                    <td class=" " role="rowheader">{{ctype.updated_on|parse_iso|date:'m-d-Y g:i A'}}</td>

                    <td class="last" role="rowheader">
                    <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
                        <button type="button" data-id="{{ctype.id}}" data-name="{{ctype.name}}" data-status="{{ctype.status}}" class="btn btn-xs btn-round btn-primary edit-ctype"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Edit</button>
                        {% comment %} <form method="post" data-id="{{ctype.id}}" action="{% url 'admin-blog-categories-status-change' %}" class="ActiveInactive" >
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{user.id}}">
                            <input type="hidden" class="status-change" name="status" value="{% if user.status_id|to_int == 1 %}2{% else %}1{% endif %}">
                            {% if user.status_id|to_int == 1 %}
                            <button type="submit" class="btn btn-xs btn-round btn-warning"><i class="fa fa-remove" aria-hidden="true" role="presentation"></i> Deactivate</button>
                            {% else %}
                            <button type="submit" class="btn btn-xs btn-round btn-success"><i class="fa fa-check" aria-hidden="true" role="presentation"></i> Activate</button>
                            {% endif %}
                        </form> {% endcomment %}
                    </div>

                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr role="row">  
                    <td class=" " role="rowheader">No Blog Category available </td>
                </tr>
            {% endif %}
            
        </tbody>
        </table>
    </div>
    
</div>


    <!-- Add Document type modal -->
    <div class="modal fade add-blog-category centered-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
        <div class="modal-content">

            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Add Blog Category</h4>
            </div>
            <div class="modal-body">
            <form method="post" data-parsley-validate class="form-label-left">
                {% csrf_token %}
                <div class="form-group">
                <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="name" aria-label="Name" required="required" class="form-control col-md-7 col-xs-12">
                </div>
                </div>
                <div class="form-group">
                <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="status">Status <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="select form-control" aria-label="Status" name="status" required="required" >
                    <option value="" selected>Choose Status</option>
                    {% for obj in status_list %}
                        {% if obj.is_active %}
                            <option value="{{obj.id}}">{{obj.status_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      &nbsp;
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true" role="presentation"></i> Add</button>
                      <button type="button" class="btn btn-primary-bdr" data-dismiss="modal">Close</button>
                    </div>
                </div>

                
            </form>
            </div>
        </div>
        </div>
    </div>
    <!-- /modals -->

    <!--Edit Blog Category Modal-->
    <div class="modal fade edit-blog-category-modal centered-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Edit Blog Category</h4>
                </div>
                <div class="modal-body">
                    <form method="post" data-parsley-validate class="form-label-left">
                        {% csrf_token %}
                        <input type="hidden" id="category_id" name="category_id" >

                        <div class="form-group">
                            <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="edit_name">Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="edit_name" name="name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="status">Status <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="select form-control" aria-label="Status" id="edit_status" name="status" required="required" >
                                    <option value="" selected>Choose Status</option>
                                    {% for obj in status_list %}
                                        {% if obj.is_active %}
                                            <option value="{{obj.id}}">{{obj.status_name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                              &nbsp;
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <button type="submit" class="btn btn-primary">Save Changes</button>
                              <button type="button" class="btn btn-primary-bdr" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End modal-->
</div>
{% endblock %}

{% block js_content %}
  <script>
  $(function() {
      setTimeout(function() {
          $(".alert").hide();
      }, 3000);

      $('.select').chosen();
      
      // hit add document type modal
      if(window.location.hash && window.location.hash == '#add-blog-category' ) {
          var hash = window.location.hash;
          window.history.pushState({}, "", window.location.href.split("#")[0]);
          $('.' + hash.split('#')[1]).modal('show');
      }
  });
  </script>
  <script type="text/javascript" src="{% static 'admin/build/js/common.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/blog-category.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/status-active-inactive.js' %}"></script>

{% endblock %}
