{% extends "admin/layouts/layout.html" %}
{% load static %}

{% block title %} Plan Types {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="dashboard-body">
    <div class="listing-top">
      <div class="block">
        <h6>Plan Types</h6>
      </div>
      <div class="block">
        <button type="button" role="button" tabindex="4" area-label="Add Plan" title="Add Plan" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".add-plan"><i class="fa fa-plus-circle" aria-hidden="true" role="presentation"></i> Add Plan</button>
      </div>
    </div>
      
    <div class="x_content">

      {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %} alert-danger {% elif message.tags == 'success' %} alert-success {% else %} alert-info {% endif %} alert-dismissible " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>{{ message }}
        </div>
      {% endfor %}
      {% endif %}

      <div class="table-responsive">
        <table class="table jambo_table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="Plans List Table" role="table">
          <thead>
            <tr class="headings" role="row">
              <th class="column-title" role="columnheader" scope="col">ID </th>
              <th class="column-title" role="columnheader" scope="col">Plan Name </th>
              <th class="column-title" role="columnheader" scope="col">Plan Duration (in days)</th>
              <th class="column-title" role="columnheader" scope="col" style="width:30%;">Plan Benefits </th>
              <th class="column-title" role="columnheader" scope="col">Status </th>
              <th class="column-title no-link last" role="columnheader" scope="col"><span class="nobr">Action</span>
              </th>
            </tr>
          </thead>

          <tbody>
            {% if data %}
                {% for plan in data %}
                <tr class="even pointer" role="row">
                  <th class=" " role="columnheader" scope="col">{{ forloop.counter }}</th>
                  <td class=" " role="rowheader">{{plan.type_name}}</td>
                  <td class=" " role="rowheader">{{plan.duration_in_days}}</td>
                  <td class=" " role="rowheader">
                      {{ plan.benefits|striptags|truncatewords:"10" }}
                      {% if plan.benefits|striptags|wordcount > 10 %}
                      <a href="javascript:;" class="text-primary" data-toggle="tooltip" title="{{ plan.benefits}}">view more</a>
                      {% endif %}
                      
                  </td>
                  <td class=" " role="rowheader">
                    {% if plan.is_active %}
                    <button type="button" class="btn  btn-xs btn-round btn-success" id="statusText{{plan.id}}">Active</button> 
                    {% else %}
                    <button type="button" class="btn  btn-xs btn-round btn-warning" id="statusText{{plan.id}}">Inactive</button> 
                      {% endif %}
                  </td>
                  <td class="last" role="rowheader">
                    <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
                      <button type="button" data-id="{{plan.id}}" data-name="{{plan.type_name}}" data-dur="{{plan.duration_in_days}}" data-benefits="{{plan.benefits}}" data-status="{{plan.is_active}}" class="btn btn-xs btn-round btn-primary edit-plan"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Edit</button>
                      <form method="post" data-id="{{plan.id}}" action="{% url 'admin-plan-status-change' %}" class="ActiveInactive" >
                        {% csrf_token %}
                        <input type="hidden" name="type_id" value="{{plan.id}}">
                        <input type="hidden" class="status-change" name="status" value="{{plan.is_active|yesno:"0,1"}}">
                        {% if plan.is_active %}
                          <button type="submit" class="btn btn-xs btn-round btn-warning"><i class="fa fa-remove" aria-hidden="true" role="presentation"></i> Deactivate</button>
                        {% else %}
                          <button type="submit" class="btn btn-xs btn-round btn-success"><i class="fa fa-check" aria-hidden="true" role="presentation"></i> Activate</button>
                        {% endif %}
                      </form>
                    </div>

                  </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr role="row">  
                  <td class=" " role="rowheader">No Plan Added </td>
                </tr>
            {% endif %}
            
          </tbody>
        </table>
      </div>


    </div>
          
      
</div>


  <!-- Add plan modal -->
  <div class="modal fade add-plan centered-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Add Plan</h4>
        </div>
        <div class="modal-body">
          <form method="post" data-parsley-validate class="form-label-left">
            {% csrf_token %}
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="type_name">Plan Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="type_name" required="required" aria-label="Plan Name" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12"  for="duration_in_days">Plan Duration <span class="required">*</span> <br>(in days)
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="number" min="1" data-parsley-type="digits" aria-label="Plan Duration" data-parsley-validation-threshold="1" data-parsley-trigger="keyup" name="duration_in_days" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="benifits">Plan Benefits<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea class="form-control" name="benifits" data-parsley-maxlength="255" data-parsley-trigger="keyup" required="required" rows="3" placeholder="Enter plan benefits" style="height: 120px;" spellcheck="true"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="is_active">Status <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="form-control" name="is_active" aria-label="Status" required="required">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 col-sm-3 col-xs-12">
                &nbsp;
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true" role="presentation"></i> Add</button>
                <button type="button" class="btn btn-primary-bdr" data-dismiss="modal">Close</button>
              </div>
            </div>
            
            
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /modals -->
  <!--Edit plan Modal-->
  <div class="modal fade edit-plan-modal centered-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Edit Plan</h4>
        </div>
        <div class="modal-body">
          <form method="post" data-parsley-validate name="admin_login_frm" id="admin_login_frm" class="form-label-left">
            {% csrf_token %}
            <input type="hidden" id="type_id" name="type_id" >
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="type_name">Plan Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="type_name" name="type_name" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12"  for="duration_in_days">Plan Duration <span class="required">*</span> <br>(in days)
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="number" id="duration_in_days" min="1" aria-label="Plan Duration" data-parsley-type="digits" data-parsley-validation-threshold="1" data-parsley-trigger="keyup" name="duration_in_days" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="benifits">Plan Benefits<span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea class="form-control" id="benifits" data-parsley-maxlength="255" data-parsley-trigger="keyup" name="benifits" required="required" rows="3" placeholder="Enter plan benefits" style="height: 120px;" spellcheck="true"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="plan_is_active">Status <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="form-control" id="plan_is_active" aria-label="Status" name="is_active" required="required">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 col-sm-3 col-xs-12">
                &nbsp;
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-primary-bdr" data-dismiss="modal">Close</button>
              </div>
            </div>

            
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--End modal-->
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script>
  $(function() {
      setTimeout(function() {
          $(".alert").hide();
      }, 3000);

      $('.select').chosen();
      
      // hit add plan modal
      if(window.location.hash && window.location.hash == '#add-plan' ) {
          var hash = window.location.hash;
          window.history.pushState({}, "", window.location.href.split("#")[0]);
          $('.' + hash.split('#')[1]).modal('show');
      }
  });
  </script>
  <script type="text/javascript" src="{% static 'admin/build/js/plans.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/boolean-active-inactive.js' %}"></script>
{% endblock javascripts %}
