{% extends "admin/layout/layout.html" %}
{% load static %}

{% block title %} Site Settings {% endblock title %}

{% block styles %}
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
  
    <div class="listing-top">
      <div class="block">
        <h6>Site Settings</h6>
      </div>
      <div class="block">
        <button type="button" role="button" tabindex="4" area-label="Add Site Setting" title="Add Site Setting"  class="btn btn-primary btn-xs" data-toggle="modal" data-target=".add-site-setting"><i class="fa fa-plus-circle" aria-hidden="true" role="presentation"></i> Add Site Setting</button>
      </div>
    </div>
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %} alert-danger {% elif message.tags == 'success' %} alert-success {% else %} alert-info {% endif %} alert-dismissible " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>{{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <div class="table-responsive">
      <table class="table jambo_table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="Site Setting List Table" role="table">
        <thead>
          <tr class="headings" role="row">
            <th class="column-title" role="columnheader" scope="col">ID </th>
            <th class="column-title" role="columnheader" scope="col">Setting Name </th>
            <th class="column-title" role="columnheader" scope="col">Setting Value </th>
            <th class="column-title" role="columnheader" scope="col">Status </th>
            <th class="column-title no-link last" role="columnheader" scope="col"><span class="nobr">Action</span>
            </th>
          </tr>
        </thead>

        <tbody>
          {% if data %}
              {% for setting in data %}
              <tr class="even pointer" role="row">
                <th class=" " role="columnheader" scope="col">{{ forloop.counter }}</th>
                <td class=" " role="rowheader">{{setting.settings_name}}</td>
                <td class=" " role="rowheader">{{setting.setting_value}}</td>
                <td class=" " role="rowheader">
                  {% if setting.is_active %}
                  <button type="button" class="btn  btn-xs btn-round btn-success" id="statusText{{setting.id}}">Active</button> 
                  {% else %}
                  <button type="button" class="btn  btn-xs btn-round btn-warning" id="statusText{{setting.id}}">Inactive</button> 
                    {% endif %}
                </td>
                <td class="last" role="rowheader">
                  <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
                    
                    <form method="post" data-id="{{setting.id}}" action="{% url 'admin-site-setting-status-change' %}" class="ActiveInactive" >
                      {% csrf_token %}
                      <input type="hidden" name="setting_id" value="{{setting.id}}">
                      <input type="hidden" class="status-change" name="status" value="{{setting.is_active|yesno:"0,1"}}">
                      {% if setting.is_active %}
                        <button type="submit" class="btn btn-xs btn-round btn-warning"><i class="fa fa-remove" aria-hidden="true" role="presentation"></i> Deactivate</button>
                      {% else %}
                        <button type="submit" class="btn btn-xs btn-round btn-success"><i class="fa fa-check" aria-hidden="true" role="presentation"></i> Activate</button>
                      {% endif %}
                    </form>
                    <button type="button" data-id="{{setting.id}}" data-name="{{setting.settings_name}}" data-value="{{setting.setting_value}}" data-status="{{setting.is_active}}" class="btn btn-xs btn-round btn-primary edit-setting"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Edit</button>
                  </div>

                </td>
              </tr>
              {% endfor %}
          {% else %}
              <tr role="row">  
                <td class=" " role="rowheader">No Site Settings available </td>
              </tr>
          {% endif %}
          
        </tbody>
      </table>
    </div>
</div>


  <!-- Add Site Setting modal -->
  <div class="modal fade add-site-setting centered-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Add Site Setting</h4>
        </div>
        <div class="modal-body">
          <form method="post" data-parsley-validate class="form-label-left">
            {% csrf_token %}
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="settings_name">Setting Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="name" name="settings_name" aria-label="Setting Name" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="setting_value">Setting Value <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="value" name="setting_value" aria-label="Setting Value" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="is_active">Status <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="select form-control" name="is_active" aria-label="Status" required="required">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 col-sm-3 col-xs-12">
                &nbsp;
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true" role="presentation"></i> Add</button>
                <button type="button" class="btn btn-primary-bdr" data-dismiss="modal">Close</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /modals -->
  <!--Edit site setting Modal-->
  <div class="modal fade edit-site-setting-modal centered-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Edit Site Settings</h4>
        </div>
        <div class="modal-body">
          <form method="post" data-parsley-validate class="form-label-left">
            {% csrf_token %}
            <input type="hidden" id="setting_id" name="setting_id" >
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="settings_name">Setting Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="edit_name" name="settings_name" aria-label="Setting Name" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="setting_value">Setting Value <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="edit_value" name="setting_value" aria-label="Setting Value" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="edit_is_active">Status <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="select form-control" id="edit_is_active" aria-label="Status" name="is_active" required="required">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 col-sm-3 col-xs-12">
                &nbsp;
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-primary-bdr" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--End modal-->
</div>  
{% endblock %}

{% block js_content %}
  <script>
  $(function() {
      setTimeout(function() {
          $(".alert").hide();
      }, 3000);

      $('.select').chosen();
      
      // hit add site setting modal
      if(window.location.hash && window.location.hash == '#add-site-setting' ) {
          var hash = window.location.hash;
          window.history.pushState({}, "", window.location.href.split("#")[0]);
          $('.' + hash.split('#')[1]).modal('show');
      }
  });
  </script>
  <script type="text/javascript" src="{% static 'admin/build/js/common.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/site-setting.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/boolean-active-inactive.js' %}"></script>

{% endblock %}
