{% extends "admin/layout/layout.html" %}
{% load static %}

{% block title %} User Types {% endblock title %}

{% block styles %}
{% endblock %}

{% block content %}
{% load tz %}
{% load humanize %}
<div class="dashboard-body">
  
    <div class="listing-top">
      <div class="block">
        <h6>User Types</h6>
      </div>

      <div class="block">
        <button type="button" role="button" tabindex="4" area-label="Add User Type" title="Add User Type" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".add-user-type"><i class="fa fa-plus-circle" aria-hidden="true" role="presentation"></i> Add User Type</button>
      </div>
    </div>
    
    {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags == 'error' %} alert-danger {% elif message.tags == 'success' %} alert-success {% else %} alert-info {% endif %} alert-dismissible " role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>{{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="table-responsive">
    <table class="table jambo_table bulk_action" cellpadding="0" cellspacing="0" width="100%" data-table="User Type List Table" role="table">
      <thead>
        <tr class="headings" role="row">
          <th class="column-title" role="columnheader" scope="col">ID </th>
          <th class="column-title" role="columnheader" scope="col">Type Name </th>
          <th class="column-title" role="columnheader" scope="col">Status </th>
          <th width="20%" class="column-title no-link last" role="columnheader" scope="col"><span class="nobr">Action</span>
          </th>
        </tr>
      </thead>

      <tbody>
        {% if data %}
            {% for usertype in data %}
            <tr class="even pointer" role="row">
              <th class=" " role="columnheader" scope="col">{{ forloop.counter }}</th>
              <td class=" " role="rowheader">{{usertype.user_type}}</td>
              <td class=" " role="rowheader">
                {% if usertype.is_active %}
                <button type="button" class="btn  btn-xs btn-round btn-success" id="statusText{{usertype.id}}">Active</button> 
                {% else %}
                <button type="button" class="btn  btn-xs btn-round btn-warning" id="statusText{{usertype.id}}">Inactive</button> 
                  {% endif %}
              </td>
              <td class="last" role="rowheader">
                <div class="btn-toolbar" role="toolbar" style="display:inline-flex;">
                  <form method="post" data-id="{{usertype.id}}" action="{% url 'admin-user-type-status-change' %}" class="ActiveInactive" >
                    {% csrf_token %}
                    <input type="hidden" name="user_type_id" value="{{usertype.id}}">
                    <input type="hidden" class="status-change" name="status" value="{{usertype.is_active|yesno:"0,1"}}">
                    {% if usertype.is_active %}
                      <button type="submit" class="btn btn-xs btn-round btn-warning"><i class="fa fa-remove" aria-hidden="true" role="presentation"></i> Deactivate</button>
                    {% else %}
                      <button type="submit" class="btn btn-xs btn-round btn-success"><i class="fa fa-check" aria-hidden="true" role="presentation"></i> Activate</button>
                    {% endif %}
                  </form>
                  <button type="button" data-id="{{usertype.id}}" data-name="{{usertype.user_type}}" data-status="{{usertype.is_active}}" class="btn btn-xs btn-round btn-primary edit-usertype"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Edit</button>
                </div>

              </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr role="row">  
              <td class=" " role="rowheader">No User Type available </td>
            </tr>
        {% endif %}
        
      </tbody>
    </table>
  </div>
</div>


  <!-- Add User type modal -->
  <div class="modal fade add-user-type centered-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Add User Type</h4>
        </div>
        <div class="modal-body">
          <form method="post" data-parsley-validate class="form-label-left">
            {% csrf_token %}
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="user_type">Type Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="name" name="user_type" aria-label="Type Name" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="is_active">Status <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="select form-control" name="is_active" aria-label="Status" required="required">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 col-sm-3 col-xs-12">
                &nbsp;
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true" role="presentation"></i> Add</button>
                <button type="button" class="btn btn-primary-bdr" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /modals -->
  <!--Edit User Type Modal-->
  <div class="modal fade edit-user-type-modal centered-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Edit User Type</h4>
        </div>
        <div class="modal-body">
          <form method="post" data-parsley-validate class="form-label-left">
            {% csrf_token %}
            <input type="hidden" id="user_type_id" name="user_type_id" >
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="edit_name">Type Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="edit_name" name="user_type" aria-label="Type Name" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="lh46 col-md-3 col-sm-3 col-xs-12" for="edit_is_active">Status <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <select class="select form-control" id="edit_is_active" aria-label="Status" name="is_active" required="required">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 col-sm-3 col-xs-12">
                &nbsp;
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-primary-bdr" data-dismiss="modal">Close</button>
              </div>
            </div>

            
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--End modal-->
</div>  
{% endblock %}

{% block js_content %}
  <script>
  $(function() {
      setTimeout(function() {
          $(".alert").hide();
      }, 3000);

      $('.select').chosen();
      
      // hit add user type modal
      if(window.location.hash && window.location.hash == '#add-user-type' ) {
          var hash = window.location.hash;
          window.history.pushState({}, "", window.location.href.split("#")[0]);
          $('.' + hash.split('#')[1]).modal('show');
      }
  });
  </script>
  <script type="text/javascript" src="{% static 'admin/build/js/common.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/user-type.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/build/js/boolean-active-inactive.js' %}"></script>

{% endblock %}
